<template>
  <div>
    <v-row v-for="{ product, qty } in $store.state.cart.productos" :key="product._id" class="item" no-gutters="">
      <v-col cols="12" class="d-flex justify-space-between align-center py-2">
        <div>
          <strong>{{ product.nombre }}</strong>
        </div>
        <div>
          <v-btn
            icon
            small
            :ripple="false"
            @click="removeProduct(product)"
          >
            <v-icon small>mdi-trash-can-outline</v-icon>
          </v-btn>
        </div>
      </v-col>
      <v-col cols="6" class="pb-3 pt-0">
        <number-input
          :min="1"
          :max="9999"
          :value="qty"
          center
          controls
          size="small"
          class="number-selector"
          @change="change($event, product)"
        />
      </v-col>
      <v-col class="pt-0 pb-3 d-flex align-center justify-end font-weight-medium" cols="6">
        <!-- {{ product.precio | currency }} -->
        <span
          v-if="product.id_promo && product.promocion.length && product.promocion[0].descuento"
        >
          <small class="line-through grey--text">{{ product.precio | currency }}</small>
          {{ product.precio | discount(product.promocion && product.promocion[0].descuento) | currency }}
        </span>
        <span v-else>
          {{ product.precio | currency }}
        </span>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'CartContent',
  data () {
    return {
      qty: 1
    }
  },
  methods: {
    change (qty, product) {
      this.$store.dispatch('cart/addToCart', { product, qty })
    },
    removeProduct (product) {
      this.$store.dispatch('cart/removeProduct', product)
    }
  }
}
</script>

<style lang="scss" scoped>
.item:not(:last-child) {
  border-bottom: 1px solid $border-color;
}
.number-selector {
  max-width: 100px!important;
}
</style>
