<template>
  <v-card outlined>
    <v-progress-linear
      :indeterminate="loading"
      :active="loading"
    ></v-progress-linear>
    <v-card-text class="relative">
      <div class="loading_overlay" v-if="loading">
      </div>
      <div class="details pb-3">
        <div class="details__title">{{ $t('checkout.contact') }}</div>
        <div class="details__content">
          <span>{{ user.nombres + '  ' + user.apellidos }}</span><br>
          <small>{{ user.email || '' }}</small>
        </div>
      </div>
      <div
        class="details py-3"
        v-if="hasShippingInfo"
      >
        <div class="details__title">{{ $t('checkout.shipping') }}</div>
        <div class="details__content">
          <v-radio-group v-model="changeShippingInfo" :mandatory="false" class="mt-0" hide-details>
            <v-radio :label="domicilio" :value="false"/>
            <v-radio :label="$t('checkout.changeShipping')" :value="true"/>
          </v-radio-group>
        </div>
      </div>
      <div class="pt-3" v-if="changeShippingInfo || !hasShippingInfo">
        <div class="w-100 mb-2" v-if="!hasShippingInfo">Datos de envío</div>
        <shipping-form ref="shippingForm" :hasShippingInfo="hasShippingInfo"/>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ShippingForm from '@/components/forms/ShippingForm'
import Repository from '@/api/Repository'
const User = Repository.get('user')

export default {
  name: 'CheckoutDetails',
  components: {
    ShippingForm
  },
  async mounted () {
    // this.getUser()
    try {
      const { success, data } = await User.info(this.token)
      if (success) {
        // commit('SET_USER', await res.data)
        this.user = {
          ...data.datos_personales,
          ...data.domicilio
        }
        this.loading = false
      }
    } catch (error) {
      this.$store.commit('NOTIFY', error)
      console.log(error)
    }
  },
  computed: {
    ...mapState({
      token: state => state.auth.token
    }),
    hasShippingInfo () {
      if (this.user.calle) {
        return !!this.user.calle &&
          !!this.user.num &&
          !!this.user.colonia &&
          !!this.user.municipio &&
          !!this.user.estado &&
          !!this.user.codigo_postal
      }
      return false
    },
    // ...mapGetters('auth', ['hasShippingInfo']),
    // user () {
    //   return this.userData.datos_personales || {}
    // },
    domicilio () {
      const dom = []
      const dir = []
      const city = []
      if (this.user.calle) {
        this.user.calle && dir.push(this.user.calle)
        this.user.num && dir.push(this.user.num)
        this.user.colonia && dir.push(this.user.colonia)
        this.user.codigo_postal && dom.push(this.user.codigo_postal)
        this.user.localidad && dom.push(this.user.localidad)
        this.user.municipio && city.push(this.user.municipio)
        this.user.estado && city.push(this.user.estado)
      }
      return [
        dir.join(' '),
        dom.join(', '),
        city.join(' ')
      ].join(', ')
    }
  },
  data () {
    return {
      changeShippingInfo: false,
      user: {
        datos_personales: {},
        domicilio: {}
      },
      loading: true
    }
  },
  methods: {
    ...mapActions({
      setShippingInfo: 'cart/setShippingInfo',
      checkDataBeforePayment: 'cart/checkDataBeforePayment'
    }),

    async getUser () {
      try {
        const { success, data } = await User.info(this.token)
        if (success) {
          // commit('SET_USER', await res.data)
          this.userData = data
          return
        }
      } catch (error) {
        this.$store.commit('NOTIFY', error)
        console.log(error)
      }
    },

    async checkShippingForm () {
      // console.log('check form desde details')
      // verificar que se pidiera nueva direccion de envio o que no tenga en su cuenta direccion registrada
      if (this.changeShippingInfo || !this.hasShippingInfo) {
        // verificar el shippingForm
        return await this.$refs.shippingForm.check()
        // const { valid, form } = await this.$refs.shippingForm.check()
        // if (valid) {
        //   console.log('entro a if de valid en checkoudetails', form)
        //   this.setShippingInfo(form)
        //   return true // mantener loading
        // }
        // return false // cancelar loading de total resumen
      }
      // Ya tiene datos de envio en su cuenta
      this.setShippingInfo(this.user)
      this.$router.push({ name: 'CartResumen' })
      /** Loadgin de boton a false */
      return false
    },
    setDataAndContinue (data) {
      this.setShippingInfo(data)
      this.$router.push({ name: 'CartResumen' })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/cart-details.scss';
.loading_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
</style>
