<template>
  <v-card outlined>
    <v-card-text>
      <div class="details pb-3">
        <div class="details__content">
          <v-radio-group v-model="paymentForm" :mandatory="false" class="mt-0" hide-details>
            <v-radio
              v-for="({type, nombre}, index) in $store.state.cart.formasPago" :key="index"
              :label="nombre"
              :value="type"
            />
          </v-radio-group>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'PaymentForm',
  computed: {
    paymentForm: {
      set (val) {
        this.$store.commit('cart/SET_PAYMENT_FORM', val)
      },
      get () {
        return this.paymentFormGetter
      }
    },
    ...mapGetters({
      paymentFormGetter: 'cart/getPaymentForm'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/cart-details.scss';
</style>
