<template>
  <v-card outlined>
    <v-card-text>
      <div
        v-for="({ product, qty }) in products" :key="product._id"
        class="details py-2"
      >
        <div class="details__img">
          <img
            :src="`${$store.state.PAGE_URL}/replace-sys/imagenes/productos/${product.imagen[0]}`"
            onerror="this.onerror=null; this.src='https://via.placeholder.com/300x450/FAFAFA?text=°°°'"
            :alt="product.nombre"
          >
        </div>
        <div class="details__content px-3">
          <span>{{ product.nombre }}</span>
          <span class="ml-2">x {{ qty }}</span>
        </div>
        <div class="details__options">
          <span v-if="product.id_promo && product.promocion.length && product.promocion[0].descuento">
            <small class="line-through grey--text">{{ product.precio | currency }}</small>
            {{ product.precio | discount(product.promocion && product.promocion[0].descuento) | currency }}
          </span>
          <span v-else>
            {{ product.precio | currency }}
          </span>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ProductsList',
  props: {
    products: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
.details {
  width: 100%;
  display: flex;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  &__img {
    width: 60px;
    height: 60PX;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
  &__content {
    flex: 1;
    // color: $text-color;
  }
}
</style>
