<template>
  <v-card outlined>
    <v-card-title>
      {{ $t('cResume.title') }}
    </v-card-title>
    <v-card-subtitle>
      <v-icon left small>mdi-tag-outline</v-icon>
      {{ totalProducts }} {{ $t('cResume.products') }}
    </v-card-subtitle>
    <v-card-text class="payment-resume">
      <v-row no-gutters>
        <v-col cols="6">Subtotal</v-col>
        <v-col cols="6" class="text-right">{{ total | currency }}</v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="6">{{ $t('cResume.shipping') }}</v-col>
        <v-col cols="6" class="text-right">{{ paqueteria.precio | currency }}</v-col>
      </v-row>
      <v-divider class="my-3"></v-divider>
      <v-row no-gutters class="mb-6 align-self-baseline">
        <v-col cols="4">
          <h3 class="black--text">TOTAL</h3>
        </v-col>
        <v-col cols="8" class="text-right d-flex justify-end align-baseline">
          <small class="font-weight-light mr-2">MXN</small>
          <h2 class="custom-color">{{ orderTotal | currency }}</h2>
        </v-col>
      </v-row>
      <v-row v-if="isLogged">
        <v-col>
          <v-btn
            v-if="!payment"
            color="#212121"
            dark
            dense
            block
            x-large
            depressed
            @click="$emit('goToResume')"
            :loading="loadingButton"
          >
            {{ $t('cResume.goToResume') }}
          </v-btn>
          <template v-else>
            <div v-if="paymentForm === 'paypal'" class="relative">
              <div :class="{ 'loading_overlay': savingOrder }"></div>
              <div ref="paypal"></div>
            </div>
            <div v-else>
              <v-btn
                color="#212121"
                dark
                dense
                block
                x-large
                depressed
                @click="saveOrderOnDB({})"
                :loading="savingOrder"
              >
                {{ $t('cResume.pay') }}
              </v-btn>
              <p class="mt-4">*{{ $t('cResume.note') }}</p>
            </div>
          </template>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'TotalCartResume',
  props: {
    payment: {
      type: Boolean,
      default: false
    },
    loadingButton: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    if (this.payment && this.paymentForm === 'paypal') {
      const clientID = process.env.NODE_ENV !== 'development'
        ? process.env.VUE_APP_PAYPAL_LIVE
        : process.env.VUE_APP_PAYPAL
      const script = document.createElement('script')
      script.src = `https://www.paypal.com/sdk/js?client-id=${clientID}&currency=MXN`
      script.addEventListener('load', this.setLoaded)
      document.body.appendChild(script)
    }
  },
  created () {
    this.adjustShippingPrice()
  },
  computed: {
    ...mapGetters({
      total: 'cart/total',
      totalProducts: 'cart/totalProducts',
      orderTotal: 'cart/orderTotal',
      orderDescription: 'cart/orderDescription',
      envio: 'cart/shippingInfo',
      paqueteria: 'cart/paqueteria',
      isLogged: 'auth/isLogged',
      paymentForm: 'cart/getPaymentForm'
    }),
    ...mapState({
      user: state => state.auth.user.datos_personales || {},
      savingOrder: state => state.cart.savingOrder
    }),
    direccion () {
      const dir = []
      if (this.envio.calle) {
        this.envio.calle && dir.push(this.envio.calle)
        this.envio.num && dir.push(this.envio.num)
        this.envio.colonia && dir.push(this.envio.colonia)
      }
      return dir.join(' ')
    }
  },
  watch: {
    total (val) {
      this.adjustShippingPrice()
    }
  },
  data () {
    return {
      loading: false
    }
  },
  methods: {
    saveOrderOnDB (order) {
      this.$store.dispatch('cart/paymentSuccess', order)
        .then(res => {
          this.$router.push({ name: 'MiCuenta' })
        }).catch(err => console.log(err))
    },
    setLoaded () {
      window.paypal
        .Buttons({
          style: {
            label: 'pay'
          },
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [
                {
                  description: this.orderDescription,
                  amount: {
                    currency_code: 'MXN',
                    value: this.orderTotal
                  }
                }
              ],
              payer: {
                name: {
                  given_name: this.user.nombres,
                  surname: this.user.apellidos
                },
                address: {
                  address_line_1: this.direccion || '---',
                  address_line_2: '---',
                  admin_area_2: this.envio.municipio || '---',
                  admin_area_1: '--',
                  postal_code: this.envio.codigo_postal || '58000',
                  country_code: 'MX'
                },
                email_address: this.user.email,
                phone: {
                  phone_type: 'MOBILE',
                  phone_number: {
                    national_number: this.user.telefono || '5555555555'
                  }
                }
              },
              application_context: {
                landing_page: 'LOGIN',
                brand_name: 'Refaccionaria Ceballos',
                shipping_preference: 'NO_SHIPPING'
              }
            })
          },
          onApprove: async (data, actions) => {
            const order = await actions.order.capture()
            this.saveOrderOnDB(await order)
            console.log(order)
          },
          onError: err => {
            console.log(err)
          }
        })
        .render(this.$refs.paypal)
    },
    adjustShippingPrice () {
      this.total < 300
        ? this.$store.commit('cart/SET_PRECIO_PAQUETERIA', 120)
        : this.$store.commit('cart/SET_PRECIO_PAQUETERIA', 0)
      // this.$store.commit('cart/SET_PRECIO_PAQUETERIA', 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-color {
  color: #09757a;
}
.loading_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.4);
  z-index: 101;
}
</style>
