/*
* Vuetify
*/
.theme--light {
  &.v-application {
    background: #f6f6f6;
    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
    }
  }
  .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) {
    > .v-input__control {
      > .v-input__slot fieldset {
        border-color: #ddd;
      }
    }
  }
  &.v-pagination {
    .v-pagination__item,
    .v-pagination__navigation {
      border-radius: 0;
      border: 1px solid $border-color;
      box-shadow: none;
      height: 42px;
      width: 50px;
      font-weight: 300;
    }
    .v-pagination__navigation,
    .v-pagination__item:not(.v-pagination__item--active) {
      background: transparent!important;
    }
  }
}
.v-application {
  font-family: "Rubik", "Roboto", sans-serif!important;
  font-size: 14px;
  line-height: 1.3;
  overflow-x: hidden;
  p {
    color: $text-color;
  }
  .title {
    font-family: "Rubik", "Roboto", sans-serif!important;
  }
  .v-btn:not(.v-btn--tile) {
    border-radius: 3px;
  }
  .v-tabs-slider {
    background-color: $blue;
  }
  .topbar-cart .v-badge__badge {
    // color: #111;
    // font-weight: 500;
    line-height: 1.1;
  }
  .filter-select.v-text-field--outlined fieldset {
    border-color: #aaa!important;
  }
}
.custom-tabs {
  .v-tabs-slider-wrapper {
    bottom: auto;
    top: 0;
  }
  > .v-tabs-bar {
    background: transparent!important;
  }
  .v-tab--active {
    background: #FFF;
    &:hover::before {
      opacity: 0!important;
    }
  }
  .v-tab:not(.v-tab--active) {
    background: #efefef;
  }
}

.v-messages__message:not(:last-child) {
  margin-bottom: 4px;
}

/*
* Slider
*/
.swiper-pagination-bullet {
  background: #b5b5b5;
}
.swiper-pagination-bullet-active {
  background: transparent;
  border: 1px solid #b5b5b5;
  width: 12px;
  height: 12px;
  transform: translateY(2px);
}

/*
* Input Number
*/
.number-input {
  $btnW: 2rem;
  &__button {
    width: $btnW!important;
    border: none!important;
    &::before {
      width: 30%!important;
    }
    &::after {
      height: 30%!important;
    }
  }
  &__input {
    height: 100%;
    padding-left: $btnW!important;
    padding-right: $btnW!important;
  }
}