@media (min-width: 1025px){
  .swiper-button-white {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .swiper-button-white:hover {
      color: $yellow;
  }
}
@media (max-width: 767px) {
  .swiper-button-white {
    width: 30px;
    height: 30px;
    background: none;
    color: $yellow;
  }
  .swiper-button-white:after {
    line-height: 30px;
    font-size: 30px;
  }
}