.details {
  width: 100%;
  display: flex;
  align-items: baseline;
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  &__title {
    width: 80px;
    &--small {
      width: 40px;
      padding-right: 15px;
      padding-left: 5px;
    }
    &--large {
      width: 100%;
      // padding-right: 15px;
      // padding-left: 5px;
    }
  }
  &__content {
    flex: 1;
    color: $text-color;
    line-height: 1.1;
    small {
      color: #989898;
    }
  }
}