@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import "variables.scss";
@import "overrides";
@import "responsive";

* {
  box-sizing: border-box;
}
body, html {
  scroll-behavior: smooth;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.relative {
  position: relative;
}
.bordered {
  box-shadow: 0 0 3px 0px #ddd;
}
.border-top {
  border-top: 1px solid $border-color;
}
.border-bottom {
  border-bottom: 1px solid $border-color;
}
.border-right {
  border-right: 1px solid $border-color;
}
.border-radius-0 {
  border-radius: 0;
}
.underlined {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.overlay {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    // z-index: 1;
  }
}
.loading-opacity {
  opacity: 0.5;
  pointer-events: none;
}
.padding-app {
  padding-top: 52px;
}
.img-fluid {
  width: 100%;
}
button {
  &:focus,
  &:active {
    outline: none!important;
  }
}
.btn-link {
  text-decoration: none;
  color: #FFF!important;
  padding: 0 10px;
  transition: all 0.2s ease;
  &:hover {
    color: $yellow!important;
  }
}
.btn-link-tel {
  text-decoration: none;
  color: currentColor;
}
.btn-account {
  text-decoration: none;
  color: $text-color!important;
  transition: all 0.2s ease;
  &:hover {
    color: $blue!important;
  }
}
.btn-send-message {
  font-weight: 400;
  text-transform: none;
}
.button--form {
  font-size: 0.9em!important;
  font-weight: 400;
}
.font--color {
  color: $text-color!important;
}
.color--navy {
  color: #09757a;
}
.border-box-shadow {
  border: none!important;
  box-shadow: $border-box-shadow;
}
.no-border {
  border: none!important;
}
.product-card {
  box-shadow: $border-box-shadow;
  &:hover {
    box-shadow: $box-shadow;
  }
}

.card-slider-header {
  padding: 1.4em 0;
  border-bottom: $border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &--text {
    font-size: 1.8em;
    font-weight: 500;
    span {
      font-weight: 300;
    }
  }
}
.slider-navigation {
  .button {
    display: inline-block;
    &:first-child{
      padding-top: 0.3em;
      padding-right: 0.5em;
      border-right: 2px solid $border-color;
    }
    &:last-child{
      padding-top: 0.3em;
      padding-left: 0.5em;
    }
  }
}

.fixed-nav {
  position: fixed;
  width: 100%;
  z-index: 6;
  animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-name: navAppear;
}
@keyframes navAppear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.custom-tooltip {
  background:#FFF;
  opacity: 1!important;
  border: 1px solid #aaa;
  border-radius: 0;
  color: $text-color;
}
.cart-price__color {
  color: #09757a;
}

.disclaimer-content {
  h3 {
    margin-bottom: 1.5em;
    font-size: 500;
    color: $text-color;
    &:not(:first-child) {
      margin-top: 2.5em;
    }
  }
  p {
    color: #727578;
  }
  ol {
    li {
      padding: 6px 0;
    }
    &.alpha {
      list-style-type: upper-alpha;
    }
  }
}

.header_promociones {
  &__title {
    font-weight: 900!important;
    color: $blue-darken;
    font-size: 2.5rem;
    line-height: 1;
    &:last-of-type {
      // color: darken($yellow, 2%);
      // text-shadow: 1px 1px 3px #111;
      display: inline-block;
      background: darken($yellow, 2%);
      padding: 0.8rem;
      border-radius: 15px;
      // font-size: 2rem;
    }
  }
}

/**
* Animations
*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .15s ease;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}