/* Media querys */
$mobile: 'max-width: 600px';
$tablet: 'min-width: 600px';
$desktop: 'min-width: 960px';
$lg: 'min-width: 1264px';
$xlg: 'min-width: 1904px';
/* UI */
$border-color: #e4e4e4;
$border-color-divider: #ebebeb;
$border: 1px solid $border-color-divider;
/* Animation */
$transition: all 0.35s ease;
/* Color */
$blue: #366CB3;
$blue-darken: #052f61;
$yellow: #fdb819;
$text-color: #333e48;
$border-color: #DDD ;
$border-box-shadow: 0 0 4px 2px #f2f2f2;
$box-shadow: 0 0 8px 6px #ddd !important;
