<template>
  <div v-resize="setItemsToShow">
    <!-- Ordernar productos -->
    <v-row>
      <v-col>
        <v-btn
          outlined
          class="btn-filter d-md-none"
          @click="$emit('showFilterSheet')"
        >
          {{ $t('products.filter') }}
        </v-btn>
        <!-- <div class="filter-results h-100">
          <h4 class="font-weight-medium text--secondary px-2 d-none d-sm-block">
            1 - 8 de 1092
          </h4>
        </div> -->
      </v-col>
      <v-col
        cols="5"
        sm="4"
        lg="3"
        xl="2"
      >
        <v-select
          v-model="sort"
          :items="filters"
          placeholder="Ordernar por"
          outlined
          dense
          hide-details
          class="filter-select"
          @change="runFetch"
        />
      </v-col>
      <v-col>
        <div class="icons">
          <v-btn
            icon
            @click="horizontal = false"
            :class="{ 'primary--text': !horizontal }"
          >
            <v-icon>mdi-grid</v-icon>
          </v-btn>
          <v-btn
            icon
            @click="horizontal = true"
            :class="{ 'primary--text': horizontal }"
          >
            <v-icon>mdi-format-list-bulleted</v-icon>
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <!-- Skeleton -->
    <v-row v-if="loading">
      <v-col
        v-for="n in perPage" :key="n"
        cols="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <v-skeleton-loader
          type="card"
        >
        </v-skeleton-loader>
      </v-col>
    </v-row>
    <!-- Product grid -->
    <v-row v-if="!loading && productos.length">
      <v-col
        v-for="(product, index) in productos" :key="index"
        cols="12"
        :sm="!horizontal ? 6 : 12"
        :md="!horizontal ? 4 : 12"
        :lg="!horizontal ? 3 : 12"
        :xl="!horizontal ? 2 : 6"
        :class="!horizontal ? 'p-col-card': 'p-col-list'"
      >
        <product-card
          :product="product"
          :horizontal="horizontal"
        />
      </v-col>
    </v-row>
    <!-- Mensaje si no se econtraron productos -->
    <div v-if="!productos.length && !loading">
      <v-row v-if="!notFoundMessage" class="text-center flex-column align-center pt-12 mt-3">
        <v-col cols="11">
          <h2>
            {{ $t('products.notFound') }}
          </h2>
        </v-col>
        <v-col cols="6" class="pb-0">
          <v-divider></v-divider>
        </v-col>
        <v-col cols="11">
          <p>
            {{ $t('products.instructions._1') }} <br>
            {{ $t('products.instructions._2') }} <br>
            {{ $t('products.instructions._3') }} <br>
            {{ $t('products.instructions._4') }} <br>
            <i>{{ $t('products.instructions._5') }}</i> -> <i>{{ $t('products.instructions._6') }}</i>
          </p>
        </v-col>
        <v-col cols="11">
          <v-btn
            color="primary"
            dark
            depressed
            large
            tile
            :ripple="false"
            class=""
            @click="$router.push({ name: 'Productos' })"
          >
            {{ $t('products.goShop') }}
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-else class="text-center flex-column align-center pt-12 mt-3">
        <v-col cols="11">
          <h2>
            {{ notFoundMessage }}
          </h2>
        </v-col>
        <v-col cols="6" class="pb-0">
          <v-divider></v-divider>
        </v-col>
        <v-col cols="11">
          <v-btn
            color="primary"
            dark
            depressed
            large
            tile
            :ripple="false"
            class=""
            @click="$router.push({ name: 'Productos' })"
          >
            {{ $t('products.goShop') }}
          </v-btn>
        </v-col>
      </v-row>
    </div>
    <!-- Paginacion -->
    <v-row v-if="productos.length">
      <v-col cols="12" class="d-flex justify-center">
        <v-pagination
          v-model="page"
          :length="totalPages"
          :total-visible="7"
          @input="runFetch"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapState } from 'vuex'
import ProductCard from '@/components/ui/cards/ProductCard'

import Repository from '@/api/Repository'
const Productos = Repository.get('productos')

export default {
  name: 'GridProducts',
  components: {
    ProductCard
  },
  props: {
    hideFilters: {
      type: Array,
      default: () => []
    },
    notFoundMessage: {
      type: String,
      default: ''
    }
  },
  computed: {
    ...mapState({ categorias: ['categories'] }),
    productsChunked () {
      /**
       * Se ejecuta al haber cambios en:
       * filters
       * paginationPage
       * perPage
       */
      // const prods = this.productsSorted()
      return _.chunk(this.productsSorted(), this.perPage)[this.paginationPage - 1]
    },
    filters () {
      return this.hideFilters.length
        ? this.defaultFilters.filter(f => !this.hideFilters.includes(f.text))
        : this.defaultFilters
    }
  },
  // watch: {
  //   paginationPage (val) {
  //     if (val) this.fetch(true)
  //   }
  // },
  data () {
    return {
      defaultFilters: [
        {
          text: this.$t('products.sort._1'),
          value: 1
        },
        {
          text: this.$t('products.sort._2'),
          value: 2
        },
        {
          text: this.$t('products.sort._3'),
          value: 3
        },
        {
          text: this.$t('products.sort._4'),
          value: 4
        },
        {
          text: this.$t('products.sort._5'),
          value: 5
        },
        {
          text: this.$t('products.sort._6'),
          value: 6
        }
      ],
      sort: 1,
      horizontal: false,
      page: 1,
      perPage: 8, // limit
      totalPages: 10,
      productsChunkedLength: 1,
      productos: [],
      loading: false,
      searchQuery: '',
      fetchMethod: 'getAll'
    }
  },
  created () {
    this.setItemsToShow()
  },
  methods: {
    async fetch () {
      this.loading = true
      try {
        const { data } = await Productos.getAll(this.page, this.perPage, this.sort)
        this.productos = data.docs

        this.totalPages = data.totalPages
        this.perPage = data.limit
        this.loading = false
        window.scroll({ top: 0 })
      } catch (error) {
        console.log(error)
      }
    },
    specificSearch () {

    },
    async generalSearch () {
      try {
        const { data } = await Productos.generalSearch(
          this.searchQuery,
          this.page,
          this.perPage,
          this.sort)
        this.productos = data.docs

        this.totalPages = data.totalPages
        this.perPage = data.limit
        this.loading = false
        window.scroll({ top: 0 })
      } catch (error) {
        console.log(error)
      }
    },
    runFetch (val) {
      // console.log(val)
      // this.page = val
      if (this.fetchMethod === 'getAll') {
        this.fetch()
      } else if (this.fetchMethod === 'specificSearch') {
        this.specificSearch()
      } else if (this.fetchMethod === 'generalSearch') {
        this.generalSearch()
      }
    },
    setItemsToShow () {
      const desktop = 960
      const lg = 1264
      const xlg = 1904
      const $w = window.innerWidth

      if ($w > desktop && $w < lg) {
        this.perPage = 6
      } else if ($w > xlg) {
        this.perPage = 12
      } else {
        this.perPage = 8
      }
    },
    // productsSorted () {
    //   let prods = []
    //   if (this.filter === 5) {
    //     prods = this.productos.filter(producto => producto.outlet?.toLowerCase() === 'si')
    //       .sort(this.sortBy(1))
    //   } else if (this.filter === 6) {
    //     prods = this.productos.filter(producto => producto.promocion.length)
    //       .sort(this.sortBy(1))
    //   } else {
    //     prods = this.productos.sort(this.sortBy(this.filter))
    //   }
    //   this.productsChunkedLength = _.chunk(prods, this.perPage).length
    //   /**
    //    * Si la cantidad de elementos es menor a la posicion actual del paginador
    //    * pasamos el paginador al inicio
    //    * - No se realiza siempre ya que hacer clic en el paginador dispara este mismo evento y se vovlveria a poner siempre al inicio
    //    */
    //   if (this.productsChunkedLength < this.paginationPage) {
    //     this.paginationPage = 1
    //   }
    //   return prods
    // },
    // sortBy (type) {
    //   const key = this.getKeyForFilter(type)

    //   return (a, b) => {
    //     if (!Object.prototype.hasOwnProperty.call(a, key) || !Object.prototype.hasOwnProperty.call(b, key)) {
    //       return 0
    //     }

    //     const varA = (typeof a[key] === 'string')
    //       ? a[key].toUpperCase() : a[key]
    //     const varB = (typeof b[key] === 'string')
    //       ? b[key].toUpperCase() : b[key]

    //     if (type === 1 || type === 3) {
    //       return this.compareValues(varA, varB)
    //     }
    //     if (type === 2 || type === 4) {
    //       return this.compareValues(varA, varB) * -1
    //     }
    //   }
    // },
    // getKeyForFilter (type) {
    //   switch (type) {
    //     case 1:
    //     case 2: return 'nombre'
    //     case 3:
    //     case 4: return 'precio'
    //     case 5: return 'outlet'
    //     case 6: return 'stock'
    //     default: return 'nombre'
    //   }
    // },
    compareValues (a, b) {
      return a > b ? 1 : -1
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-results {
  display: flex;
  align-items: center;
}
.btn-filter {
  text-transform: none;
  font-weight: 400;
  border-color: #aaa;
}
.icons {
  width: 100%;
  text-align: right;
}
.p-col-card {
  height: 400px;
}
.p-col-list {
  height: auto;
}
</style>
