<template>
  <div
    v-images-loaded:on.progress="imageProgress"
    class="grid grid__height"
    :class="{ 'grid__height--modal' : modal }"
  >
    <div class="grid__navigation">
      <div
        v-for="(image, i) in product.imagen" :key="i"
        class="img-item"
        :class="{ 'active': activeImage === i }"
      >
        <!-- <img
          :src="`${$store.state.PAGE_URL}/replace-sys/imagenes_productos/${product}/${product}-00${i}.jpg`"
          @click="activeImage = i"
        > -->
        <img
          :src="`${$store.state.PAGE_URL}/replace-sys/imagenes/productos/${image}`"
          onerror="this.onerror=null; this.src='https://via.placeholder.com/300x450/FAFAFA?text=°°°'"
          :alt="product.nombre"
          @click="activeImage = i"
        >
      </div>
    </div>
    <div class="grid__image">
      <div
        v-for="(image, i) in product.imagen" :key="i"
        class="img-item"
        :class="{ 'visible': activeImage === i }"
      >
        <img
          :src="`${$store.state.PAGE_URL}/replace-sys/imagenes/productos/${image}`"
          onerror="this.onerror=null; this.src='https://via.placeholder.com/300x450/FAFAFA?text=°°°'"
          :alt="product.nombre"
        >
      </div>
    </div>
  </div>
</template>

<script>
import imagesLoaded from 'vue-images-loaded'

export default {
  name: 'ProductImages',
  directives: {
    imagesLoaded
  },
  props: {
    product: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      activeImage: 0
    }
  },
  methods: {
    imageProgress (instance, image) {
      // const result = image.isLoaded ? 'loaded' : 'broken'
      // console.log('image is ' + result + ' for ' + image.img.src)
      if (!image.isLoaded) {
        image.img.style.display = 'none'
        // console.log('el:', instance)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 15px;
  &__height {
    grid-template-rows: 300px;
    @media ($tablet) {
      grid-template-rows: 400px;
    }
    @media ($desktop) {
      grid-template-rows: 500px;
    }
    &--modal {
      @media ($tablet) {
      grid-template-rows: 300px;
      }
      @media ($desktop) {
        grid-template-rows: 300px;
      }
    }
  }
  &__navigation {
    border-right: 1px solid lighten($border-color, 8%);
    display: flex;
    flex-direction: column;
    .img-item {
      position: relative;
      height: 100px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: $blue;
        transition: all 0.3s ease;
        transform-origin: left;
        transform: scaleX(0);
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFF;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
      }
      &:hover::after {
        opacity: 0.15;
      }
      &.active::before {
        transform: scaleX(1);
      }
      img {
        cursor: pointer;
        border: 1px solid lighten($border-color, 8%);
      }
    }
  }
  &__image {
    position: relative;
    .img-item {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      &.visible {
        display: block;
      }
    }
  }
}
.img-item {
  width: 100%;
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
</style>
