<template>
  <div class="cart-actions">
    <number-input
      v-model="qty"
      :min="1"
      :max="9999"
      center
      controls
    />
    <v-btn
      color="amber darken-1"
      large
      tile
      depressed
      :disabled="!product.stock"
      @click="addToCart"
    >
      <v-icon left>mdi-cart-arrow-down</v-icon>
      {{ $t('products.actions.add') }}
    </v-btn>
    <v-btn
      v-if="product.stock"
      class="btn-buy"
      color="primary"
      large
      tile
      depressed
       @click="addToCart(true)"
    >
      {{ $t('products.actions.buy') }}
    </v-btn>
    <v-btn
      v-else
      class="btn-buy"
      color="primary"
      large
      tile
      depressed
      @click="$store.dispatch('openChat')"
    >
      {{ $t('products.actions.request') }}
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'ProductActions',
  props: {
    product: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      qty: 1
    }
  },
  methods: {
    addToCart (shopNow) {
      this.$store.dispatch('cart/addToCart', {
        product: this.product,
        qty: this.qty
      })
      if (this.modal) this.$store.commit('products/SET_MODAL', false)
      // console.log('shopNow: ', shopNow)
      if (shopNow === true) {
        this.$router.push({ name: 'Checkout' })
      } else {
        this.$store.commit('SET_CART_DRAWER', true)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.cart-actions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 20px;
}
.btn-buy {
  grid-column: span 2;
}
</style>
