<template>
  <v-dialog
    v-model="modal"
    max-width="750"
    overlay-opacity="0.35"
  >
  <v-card>
    <v-card-text class="px-0 pr-md-4">
      <!-- Producto:
      {{ $store.state.products.productInModal }} -->
      <v-row no-gutters>
        <v-col cols="12" sm="6" class="pt-0">
          <!-- Agregamos v-if para montar componente cada que se muestre modal, evitar bug de no mostar imagenes de producto despues de ver un producto sin imagenes -->
          <product-images v-if="modal" :product="product" modal/>
        </v-col>
        <v-col cols="12" sm="6" class="pb-0 px-3 pr-md-0">
          <v-row class="flex-column justify-space-between">
            <v-col cols="12">
              <product-description :product="product" modal/>
            </v-col>
            <v-col cols="12" class="pb-0">
              <product-actions v-if="modal" :product="product" modal/>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'
import ProductDescription from '@/components/products/ProductDescription'
import ProductActions from '@/components/products/ProductActions'
import ProductImages from '@/components/products/ProductImages'

export default {
  name: 'ProductModal',
  components: {
    ProductActions,
    ProductDescription,
    ProductImages
  },
  computed: {
    ...mapState({
      product: state => state.products.productInModal
    }),
    modal: {
      get () {
        return this.$store.state.products.modal
      },
      set (val) {
        this.$store.commit('products/SET_MODAL', val)
      }
    }
  },
  data () {
    return {
      qty: 1
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
