<template>
  <div class="content">
    <div class="d-none d-sm-block">
      <h5 class="subtitle">
        {{ product.categoria }}
      </h5>
      <h1 class="title mb-5">
        {{ product.nombre }}
      </h1>
      <!-- <p class="text--secondary" :class="modal ? 'mb-0' : 'mb-8'">
        {{ product.descripcion.toLowerCase() | prodDescription | truncate(100) }}
      </p> -->
      <p v-if="modal" class="mb-8">
        <a @click.prevent="viewDetails" class="btn-link-tel">
          {{ $t('prodDesc.details') }}<v-icon small color="#366cb3">mdi-arrow-right</v-icon>
        </a>
      </p>
    </div>
    <div class="price mb-8 pt-5 pt-sm-0">
      <h4
        v-if="hasPromocion"
        class="price__linethrough"
      >
        {{ product.precio | currency }}
      </h4>
      <h1
        v-if="hasPromocion"
        class="price__amount primary--text"
      >
        {{ product.precio | discount(product.promocion[0].descuento) | currency }}
      </h1>
      <h1
        v-else
        class="price__amount"
      >
        {{ product.precio | currency }}
      </h1>
      <div
        v-if="product.stock"
        class="price__stock"
      >
        <v-icon small left color="#169543">mdi-check-circle</v-icon>
        <span>{{ $t('prodDesc.inStock') }}</span>
      </div>
      <div
        v-else
        class="price__stock grey--text"
      >
        <v-icon small left color="grey">mdi-alert-circle-outline</v-icon>
        <span class="line-through">{{ $t('prodDesc.inStock') }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductDescription',
  props: {
    product: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    hasPromocion () {
      return !!this.product.id_promo
    }
  },
  methods: {
    viewDetails () {
      this.$store.commit('products/SET_MODAL', false)
      this.$router.push(`/productos/${this.product.codigo}`)
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  color: $text-color!important;
  .subtitle {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1;
  }
}
.price {
  display: grid;
  grid-template-columns: 70% 30%;
  &__linethrough {
    font-weight: 500;
    text-decoration: line-through;
  }
  &__amount {
    font-weight: 500;
    grid-column: 1 / 2;
  }
  &__stock {
    color: #169543;
    text-align: right;
  }
}
</style>
