<template>
  <div>
    <v-row  v-if="data !== 'UNIVERSAL'" class="pa-6">
      <v-col cols="6" class="d-flex align-end">
        <p class="mb-0">{{ $t('products.compatibility') }}:</p>
      </v-col>
      <v-col cols="6">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          :label="$t('general.search')"
          outlined
          dense
          hide-details
        />
      </v-col>
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="estructura"
          :search="search"
          :custom-filter="searchFilter"
        />
      </v-col>
    </v-row>
    <v-row v-else class="pa-6">
      <v-col cols="12" class="d-flex align-end">
        <p class="mb-0">{{ $t('products.compatibility') }}: {{ estructura }}</p>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'ProductCompatibility',
  props: {
    data: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    estructura () {
      // return this.data.trim() === 'UNIVERSAL' ? this.data : this.format()
      return this.data.map(i => {
        return {
          ...i,
          aniosFormated: this.formatAnios(i.anios)
        }
      })
    }
  },
  data () {
    return {
      universal: false,
      search: '',
      headers: [
        {
          text: this.$t('tHeaders.assembler'),
          value: 'armadora',
          class: 'grey lighten-5'
        },
        {
          text: this.$t('tHeaders.model'),
          value: 'modelo',
          class: 'grey lighten-5'
        },
        {
          text: this.$t('tHeaders.motor'),
          value: 'motor',
          class: 'grey lighten-5'
        },
        {
          text: this.$t('tHeaders.years'),
          value: 'aniosFormated',
          class: 'grey lighten-5'
        }
      ]
    }
  },
  methods: {
    searchFilter (value, search, item) {
      // console.log('value', value, 'search', search, 'item', item)
      return search != null && (
        item.anios.toLowerCase().includes(search.toLowerCase()) ||
        item.armadora.toLowerCase().includes(search.toLowerCase()) ||
        item.motor.toLowerCase().includes(search.toLowerCase()) ||
        item.modelo.toLowerCase().includes(search.toLowerCase()))
    },
    formatAnios (str) {
      const arr = str.split(',')

      if (arr.length > 1) {
        // Ordenamos en forma ascendente los años
        arr.sort((a, b) => a - b)
      }
      const range = []
      let cont = 0
      let inicio, final

      while (cont < arr.length) {
        inicio = arr[cont]
        final = inicio
        while (arr[cont + 1] - arr[cont] === 1) {
          final = arr[cont + 1]
          cont++
        }
        range.push(inicio === final ? inicio + '' : inicio + ' - ' + final)
        cont++
      }
      return range.join(', ')
    }
  }
}
</script>

<style lang="scss" scoped>
thead tr th {
  background: $text-color;
  color: #FFF!important;
}
</style>
