<template>
  <v-card outlined tile class="no-border">
    <v-card-subtitle class="font-weight-regular py-6 text-uppercase">
      {{ $t('products.filterText') }}:
    </v-card-subtitle>
    <v-card-text>
      <v-select
        v-model="filters.categoria"
        :items="categorias"
        :label="$t('products.filters.category')"
        outlined
        clearable
        dense
        hide-details
        :menu-props="{
          offsetY: true,
          transition: 'slide-x-transition'
        }"
        class="mb-3"
        @change="loadSubCategorias"
      />
      <v-select
        v-model="filters.tipo"
        :items="subcategorias"
        :label="$t('products.filters.subCategory')"
        outlined
        clearable
        dense
        hide-details
        :menu-props="{
          offsetY: true,
          transition: 'slide-x-transition'
        }"
        class="mb-3"
        @change="loadMarcas"
      />
      <v-select
        v-model="filters.marca"
        :items="marcas"
        :label="$t('products.filters.brand')"
        outlined
        clearable
        dense
        hide-details
        :menu-props="{
          offsetY: true,
          transition: 'slide-x-transition'
        }"
        @change="marcasChange"
      />
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'SearchFiltersProducts',
  props: {
    productos: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    categorias () {
      if (!this.productos.length) return []
      return this.productos.map(el => el.categoria).sort()
    }
  },
  data () {
    return {
      filters: {
        categoria: '',
        tipo: '',
        marca: ''
      },
      subcategorias: [],
      marcas: []
    }
  },
  methods: {
    loadSubCategorias () {
      // limpiar selects que dependen de la seleccion de categoria
      this.resetSubCategoriasData()
      this.resetMarcasData()
      // se cargan momentaneamente los resultados con los filtros disponibles
      // si cambio categoria pero fue por limpiar campo se resetan los filtros correspondientes sin realizar busqueda
      if (!this.filters.categoria) {
        // console.log('filtros reseteados')
        this.$emit('filtersChange', [])
        return
      }
      const prods = this.productsFilterByCategory()
      this.subcategorias = prods.map(el => el.nombre)
    },
    productsFilterByCategory () {
      const prods = this.productos.filter(item => item.categoria === this.filters.categoria)
      this.$emit('filtersChange', prods)
      return prods
    },
    loadMarcas () {
      /**
       * cada que ejecutamos el metodo es porque hubo uncambio en subcategorias
       * por ello limpiamos el dato seteado en marca, lo haya o no
       */
      this.resetMarcasData()
      /**
       * si cambio subcategoria pero fue por limpiar campo se resetan los filtros correspondientes
       * quedo solo activo el filtro de categoria
       */
      if (!this.filters.tipo) {
        this.productsFilterByCategory()
        return
      }
      const prods = this.productsFilterByCategoryAndSubCategory()
      this.marcas = prods.map(el => el.marca)
    },
    productsFilterByCategoryAndSubCategory () {
      const prods = this.productos.filter(item => item.categoria === this.filters.categoria && item.nombre === this.filters.tipo)
      // console.log('prods cat y subcat: ', prods)
      this.$emit('filtersChange', prods)
      return prods
    },
    marcasChange () {
      // se reseteo marca
      if (!this.filters.marca) {
        this.productsFilterByCategoryAndSubCategory()
        return
      }
      this.productsAllFiltersApplied()
    },
    productsAllFiltersApplied () {
      this.$emit('filtersChange', this.productos.filter(item => item.categoria === this.filters.categoria && item.nombre === this.filters.tipo && item.marca === this.filters.marca))
    },
    resetSubCategoriasData () {
      this.subcategorias = []
      this.filters.tipo = null
    },
    resetMarcasData () {
      this.marcas = []
      this.filters.marca = ''
    },
    resetAllFilters () {
      this.filters.categoria = ''
      this.resetSubCategoriasData()
      this.resetMarcasData()
      this.$emit('filtersChange', [])
    }
  }
}
</script>
