<template>
  <div>
    <v-row class="justify-end">
      <v-col cols="12" sm="4" md="6">
        <upload-payment-voucher :orders="orders" @reloadData="fetch" ref="uploadPaymentVoucher"/>
      </v-col>
      <v-col cols="12" sm="8" md="6">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          :label="$t('orders.search')"
          outlined
          dense
          hide-details
        />
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="orders"
      :search="search"
    >
      <template v-slot:[`item.created_at`]="{item}">
        {{ item.created_at | date }}
      </template>
      <template v-slot:[`item.forma_pago`]="{item}">
        <span :class="{ 'text-capitalize': item.forma_pago !== 'oxxo' }">
          {{ item.forma_pago }}
        </span><br>
        <small
          v-if="item.forma_pago !== 'paypal' && item.comprobante_pago && item.comprobante_pago.path"
          class="text--secondary"
        ><i>*{{ $t('orders.voucherSent') }}</i></small>
      </template>
      <template v-slot:[`item.status`]="{item}">
        <v-chip :color="getStatusColor(item.status)" small dark label>{{ $t(`orders.statusText['${item.status}']`) }}</v-chip>
      </template>
      <template v-slot:[`item.total`]="{item}">
        {{ item.total | currency }}
      </template>
      <template v-slot:[`item.actions`]="{item}">
        <v-btn
          small
          text
          class="details-button"
          color="primary"
          tile
          :ripple="false"
          @click="orderDetails(item)"
        >
          {{ $t('orders.seeDetails') }}
        </v-btn>
        <v-menu bottom left min-width="150" offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              v-bind="attrs"
              v-on="on"
              small
            >
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list class="py-1">
            <v-list-item
              dense
              class="text-right mh-20"
              @click="openChat"
            >
              <v-list-item-subtitle>
                {{ $t('orders.needHelp') }}
              </v-list-item-subtitle>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>
    <v-dialog
      v-model="orderDetailsModal"
      max-width="420"
      scrollable
    >
      <v-card>
        <v-card-title class="mb-0 d-flex justify-space-between align-baseline">
          <h4 class="font-weight-regular lh pt-2 text-uppercase">
            {{ $t('orders.orderDetails') }}
          </h4>
          <div class="lh text-right">
            <h6 class="text--secondary">
              <small>{{ $t('orders.id') }}:</small>
              {{ order.folio || '' }}
            </h6>
          </div>
        </v-card-title>.
        <v-card-text class="pb-1" style="height: 90%;">
          <order-resume :order="order"/>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import OrderResume from '@/components/user/OrderResume'
import UploadPaymentVoucher from '@/components/user/UploadPaymentVoucher'
import { authMixin } from '@/mixins/authMixin' // verificar usuario valido
import Repository from '@/api/Repository'
const User = Repository.get('user')

export default {
  name: 'Orders',
  mixins: [authMixin],
  created () {
    this.fetch()
  },
  components: {
    OrderResume,
    UploadPaymentVoucher
  },
  data () {
    return {
      headers: [
        {
          text: this.$t('orders.tHeader.date'),
          value: 'created_at',
          class: 'grey lighten-5'
        },
        {
          text: this.$t('orders.tHeader.id'),
          value: 'folio',
          class: 'grey lighten-5',
          align: 'center'
        },
        {
          text: this.$t('orders.tHeader.total'),
          value: 'total',
          class: 'grey lighten-5',
          align: 'center'
        },
        {
          text: this.$t('orders.tHeader.payMethod'),
          value: 'forma_pago',
          class: 'grey lighten-5',
          align: 'center'
        },
        {
          text: this.$t('orders.tHeader.status'),
          value: 'status',
          class: 'grey lighten-5',
          align: 'center'
        },
        {
          text: '',
          value: 'actions',
          class: 'grey lighten-5',
          align: 'right',
          sortable: false
        }
      ],
      search: '',
      loading: true,
      orders: [],
      order: {},
      orderDetailsModal: false
    }
  },
  mounted () {
    if (this.$route.query.action === 'adjuntar-comprobante') {
      this.$refs.uploadPaymentVoucher.dialog = true
    }
  },
  methods: {
    async fetch () {
      try {
        const { success, data } = await User.ordenes(this.$store.state.auth.token)
        if (await success) {
          this.orders = await data
        }
        this.loading = false
      } catch (err) {
        console.log(err)
      }
    },
    getStatusColor (arg) {
      const status = arg.toLowerCase()
      if (status === 'pagado') return 'info'
      else if (status === 'pendiente') return 'amber accent-2'
      else if (status === 'procesando') return 'grey lighten-2'
      else if (status === 'enviado') return 'primary'
      else if (status === 'entregado') return 'success'
      else return 'grey darken-1'
    },
    orderDetails (item) {
      console.log('details:', item)
      this.orderDetailsModal = true
      this.order = item
    },
    needHelp (item) {
      console.log('ayuda:', item)
    },
    openChat () {
      window.Tawk.maximize()
    }
  }
}
</script>

<style lang="scss" scoped>
.action-btn {
  text-transform: none;
}
.details-button {
  text-transform: unset;
  &:hover::before {
    opacity: 0;
  }
}
.mh-20 {
  min-height: 25px;
}
.lh {
  line-height: 1.2;
}
</style>
