<template>
  <div>
    <v-card
      outlined
      class="mb-5"
    >
      <v-card-text>
        <slot></slot>
        <div class="details pb-3">
          <div class="details__title">{{ $t('oResume.customer') }}:</div>
          <div class="details__content">
            <span>{{ user.nombres + '  ' + user.apellidos }}</span><br>
            <small>{{ user.email }}</small>
          </div>
        </div>
        <div class="details py-3">
          <div class="details__title">{{ $t('oResume.shipping') }}:</div>
          <div class="details__content">
            {{ domicilio }}
          </div>
        </div>
        <div v-if="order.forma_pago" class="details py-3">
          <div class="details__title">{{ $t('oResume.payMethod') }}:</div>
          <div class="details__content">
            {{ getFPagoName(order.forma_pago) }}
          </div>
        </div>
        <div v-if="order.status" class="details py-3">
          <div class="details__title">{{ $t('oResume.status') }}:</div>
          <div class="details__content">
            {{ order.status | orderStatus }}
          </div>
        </div>
        <div v-if="order.created_at" class="details py-3">
          <div class="details__title">{{ $t('oResume.date') }}:</div>
          <div class="details__content">
            {{ order.created_at | date }}
          </div>
        </div>
        <template v-if="order.paqueteria && order.paqueteria.tracking_id">
          <h3 class="font-weight-regular mt-3 mb-0 ls text-uppercase">{{ $t('oResume.carrier') }}</h3>
          <div class="details py-3">
            <div class="details__title">{{ $t('oResume.tracking') }}:</div>
            <div class="details__content">
              <span>{{ order.paqueteria.tracking_id }}</span>
            </div>
          </div>
          <div class="details py-3">
            <div class="details__title">{{ $t('oResume.carrierService') }}:</div>
            <div class="details__content">
              <span>{{ order.paqueteria.nombre }}</span>
            </div>
          </div>
        </template>
        <template v-if="!hideComprobantePago">
          <div
            v-if="order.forma_pago !== 'paypal' && order.comprobante_pago && order.comprobante_pago.path"
            class="details flex-column py-3"
          >
            <div class="details__title--large mb-1">{{ $t('oResume.payVoucher') }}:</div>
            <div class="details__content">
              <v-chip
                outlined
                label
                small
                color="primary"
              >
                {{ $t('oResume.uploaded') }} {{ order.comprobante_pago.fecha | dateTime }}
              </v-chip>
            </div>
          </div>
          <div
            v-else-if="order.forma_pago !== 'paypal' && (!order.comprobante_pago || !order.comprobante_pago.path)"
            class="details py-3"
          >
            <div class="details__title--large">{{ $t('oResume.payVoucher') }}:</div>
            <div class="details__content">
              <v-chip
                label
                small
              >
                {{ $t('oResume.pending') }}
              </v-chip>
            </div>
          </div>
        </template>
        <h3 class="font-weight-regular my-6 font--color ls text-uppercase">{{ $t('oResume.products') }}</h3>
        <div
          v-for="({ product, qty }, index) in products" :key="index"
          class="details py-3"
        >
          <div class="details__title--small">
            {{ qty }}
          </div>
          <div class="details__content">
            {{ product.nombre }}
            <!-- <br>
            <small>{{ product.descripcion.toLowerCase() | prodDescription | truncate(40) }}</small> -->
          </div>
          <div class="details__options">
            <span
            v-if="product.id_promo !== '0' && product.promocion.length && product.promocion[0].descuento"
            >
              <small class="line-through grey--text">{{ product.precio | currency }}</small>
              {{ product.precio | discount(product.promocion && product.promocion[0].descuento) | currency }}
            </span>
            <span v-else>
              {{ product.precio | currency }}
            </span>
          </div>
        </div>
        <div v-if="order.subtotal" class="details pt-3 border-bottom-none">
          <div class="details__content d-flex align-center">
            <h4 class="font-weight-regular">Subtotal</h4>
          </div>
          <div class="details__options">
            <h4>{{ order.subtotal | currency }}</h4>
          </div>
        </div>
        <div v-if="order.paqueteria && order.paqueteria.precio" class="details border-bottom-none">
          <div class="details__content d-flex align-center">
            <h4 class="font-weight-regular">{{ $t('oResume.shippingTax') }}</h4>
          </div>
          <div class="details__options">
            <h4>{{ order.paqueteria.precio | currency }}</h4>
          </div>
        </div>
        <div class="details pb-4" :class="order.subtotal || order.paqueteria ? 'pt-4' : 'pt-7'">
          <div class="details__content d-flex align-center">
            <h2 class="d-inline">TOTAL</h2>
            <span class="ml-3">({{ totalProducts }} productos)</span>
          </div>
          <div class="details__options">
            <h2>{{ order.total | currency }}</h2>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'OrderResume',
  props: {
    order: {
      type: Object,
      default: () => {}
    },
    hideComprobantePago: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    products () {
      return this.order.productos || {}
    },
    user () {
      if (this.order.usuario && this.order.usuario.length) {
        return this.order.usuario[0].datos_personales
      }
      return this.order.user || {}
    },
    domicilio () {
      const dom = []
      const dir = []
      const city = []
      if (this.order.envio && this.order.envio.calle) {
        this.order.envio.calle && dir.push(this.order.envio.calle)
        this.order.envio.num && dir.push(this.order.envio.num)
        this.order.envio.colonia && dir.push(this.order.envio.colonia)
        this.order.envio.codigo_postal && dom.push(this.order.envio.codigo_postal)
        this.order.envio.localidad && dom.push(this.order.envio.localidad)
        this.order.envio.municipio && city.push(this.order.envio.municipio)
        this.order.envio.estado && city.push(this.order.envio.estado)
      }
      return [
        dir.join(' '),
        dom.join(', '),
        city.join(' ')
      ].join(', ')
    },
    totalProducts () {
      return this.order.productos.length || ''
    }
  },
  methods: {
    getFPagoName (fPago) {
      return this.$store.state.cart.formasPago.length
        ? this.$store.state.cart.formasPago.filter(f => f.type === fPago)[0].nombre
        : ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/cart-details.scss';
.ls {
  letter-spacing: 2px;
}
.border-bottom-none {
  border-bottom: none!important;
}
</style>
