<template>
  <div>
    <div class="py-4 px-2">
      <p>
        {{ $t('payments.instructions._1') }}
      </p>
      <p>
        {{ $t('payments.instructions._2') }} <a href="javscript:;" @click.prevent="$store.dispatch('openChat')">{{ $t('payments.instructions._2_1') }}</a>
      </p>
    </div>
    <v-row justify="center">
      <v-expansion-panels popout>
        <v-expansion-panel
          v-for="(item,i) in formasPago"
          :key="i"
        >
          <v-expansion-panel-header>{{ item.nombre }}</v-expansion-panel-header>
          <v-expansion-panel-content>
            <payment-instructions :paymentForm="item.type" :banco="item.banco" :reference="item.ref"/>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import PaymentInstructions from '@/components/ui/PaymentInstructions'
export default {
  name: 'PaymentFormsInstructions',
  components: { PaymentInstructions },
  computed: {
    ...mapState({
      formasPago: state => state.cart.formasPago.filter(f => f.type !== 'paypal')
    })
  }
}
</script>
