<template>
  <div>
    <v-btn
      icon
      color="primary"
      class="floating-action"
      @click="edit = !edit"
    >
      <v-icon v-if="!edit">mdi-square-edit-outline</v-icon>
      <v-icon v-else>mdi-close</v-icon>
    </v-btn>
    <v-row v-if="!edit">
      <v-col cols="12" md="6" class="border-right">
        <div class="user-info">
          <h4 class="font-weight-regular mb-3 text-uppercase"><small>{{ $t('profile.contact') }}:</small></h4>
          <v-row>
            <v-col class="py-0" cols="12">
              <p>
                <span>{{ $t('profile.name') }}:</span> <br>
                {{ datos.nombres + ' ' + datos.apellidos }}
              </p>
            </v-col>
            <v-col class="py-0" cols="12">
              <p>
                <span>{{ $t('profile.email') }}:</span> <br>
                {{ datos.email }}
              </p>
            </v-col>
            <v-col class="py-0" cols="12">
              <p class="no-border">
                <span>{{ $t('profile.phone') }}:</span> <br>
                {{ datos.telefono }}
              </p>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="12" md="6">
        <div class="user-info">
          <h4 class="font-weight-regular mb-3 text-uppercase">
            <small>{{ $t('profile.shipping') }}:</small>
          </h4>
          <v-row>
            <v-col class="py-0" cols="12" sm="9">
              <p>
                <span>{{ $t('profile.street') }}:</span> <br>
                {{ domicilio.calle || '--' }}
              </p>
            </v-col>
            <v-col class="py-0" cols="12" sm="3">
              <p>
                <span>{{ $t('profile.number') }}:</span> <br>
                {{ domicilio.num || '--' }}
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0" cols="12" sm="9">
              <p>
                <span>{{ $t('profile.suburb') }}:</span> <br>
                {{ domicilio.colonia || '--' }}
              </p>
            </v-col>
            <v-col class="py-0" cols="12" sm="3">
              <p>
                <span>{{ $t('profile.cp') }}:</span> <br>
                {{ domicilio.codigo_postal || '--' }}
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0">
              <p>
                <span>{{ $t('profile.state') }}:</span> <br>
                {{ domicilio.estado || '--' }}
              </p>
            </v-col>
            <v-col class="py-0">
              <p>
                <span>{{ $t('profile.city') }}:</span> <br>
                {{ domicilio.municipio || '--' }}
              </p>
            </v-col>
            <v-col class="py-0" cols="12" v-if="domicilio.localidad">
              <p>
                <span>{{ $t('profile.town') }}:</span> <br>
                {{ domicilio.localidad }}
              </p>
            </v-col>
            <v-col class="py-0" cols="12" v-if="domicilio.referencias">
              <p>
                <span>{{ $t('profile.town') }}:</span> <br>
                {{ domicilio.localidad }}
              </p>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
    <user-profile-form v-else v-model="edit" :user-data="user"/>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { authMixin } from '@/mixins/authMixin'
import UserProfileForm from '../../components/forms/UserProfileForm'

export default {
  name: 'UserProfile',
  mixins: [authMixin],
  components: {
    UserProfileForm
  },
  computed: {
    ...mapState({ user: state => state.auth.user }),
    datos () {
      return this.user.datos_personales || {}
    },
    domicilio () {
      return this.user.domicilio || {}
    }
  },
  data () {
    return {
      edit: false
    }
  },
  methods: {
    save () {
      console.log('save')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/editable-form.scss';
.floating-action {
  position: absolute;
  right: 12px;
}
</style>
