<template>
  <v-dialog
    v-model="dialog"
    width="500"
    scrollable
    persistent
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        depressed
        tile
        small
        color="primary"
        v-bind="attrs"
        v-on="on"
      >{{ $t('payments.button') }}</v-btn>
    </template>
    <v-form lazy-validation ref="form" @submit.prevent="save">
      <v-card>
        <v-card-title>
          {{ $t('payments.button') }}
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <v-select
                v-model="form.folio"
                :rules="validations.req"
                :items="selectableOrders"
                :label="$t('payments.select')"
                outlined
                clearable
                item-text="itemText"
                item-value="folio"
              ></v-select>
              <v-file-input
                v-model="form.file"
                :rules="validations.req"
                show-size
                counter
                accept="image/png, image/jpeg"
                prepend-icon="mdi-image-outline"
                :label="$t('payments.selectPic')"
              />
              <!-- <input type="file" ref="inputFile"> -->
            </v-col>
            <v-col cols="12">
              <small>
                 <i>*{{ $t('payments.uploadNote') }}</i>
              </small>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="px-4 pb-3">
          <v-btn
            text
            small
            color="grey darken-1"
            @click="closeModal"
          >{{ $t('payments.cancel') }}</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            depressed
            color="primary"
            type="submit"
            :loading="loading"
          >{{ $t('payments.send') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import numeral from 'numeral'
import Repository from '@/api/Repository'
const User = Repository.get('user')
export default {
  name: 'UploadPaymentVoucher',
  props: {
    orders: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      dialog: false,
      loading: false,
      form: {
        file: null,
        folio: null
      },
      validations: {
        req: [
          value => !!value || this.$t('validations.req')
        ]
      }
    }
  },
  watch: {
    dialog (val) {
      if (!val) this.$router.replace({ query: null })
    }
  },
  computed: {
    selectableOrders () {
      return this.orders.map(o => {
        return {
          ...o,
          itemText: `${o.folio} (${o.forma_pago} - ${numeral(o.total).format('$0,0.00')})`
        }
      }).filter(o => o.status === 'pendiente' && o.forma_pago !== 'paypal' && !o.comprobante_pago?.path)
      // return this.orders.filter(o => o.status === 'pendiente' && o.forma_pago !== 'paypal')
    }
  },
  methods: {
    async save () {
      if (this.$refs.form.validate()) {
        const extension = this.form.file.name.split('.').pop()
        this.loading = true
        const formData = new FormData()
        formData.append('file', this.form.file, `${this.form.folio}.${extension}`)
        formData.append('folio', this.form.folio)
        try {
          const { success, message } = await User.uploadPaymentVoucher(formData, this.$store.state.auth.token)
          if (success) {
            this.closeModal()
            this.$emit('reloadData')
          }
          this.$store.commit('NOTIFY', message)
          this.loading = false
        } catch (error) {
          this.loading = false
          this.$store.commit('NOTIFY', error)
        }
      }
    },
    closeModal () {
      this.$refs.form.resetValidation()
      this.dialog = false
      this.form = {
        file: null,
        folio: null
      }
    }
  }
}
</script>
