<template>
  <div v-swiper:mySwiper="options">
    <div class="swiper-wrapper">
      <div v-for="(item, index) in categories" :key="index" class="swiper-slide">
        <banner-card
          :title="item"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</template>

<script>
import { directive } from 'vue-awesome-swiper'
import BannerCard from '../ui/cards/BannerCard'
import 'swiper/css/swiper.css'

export default {
  name: 'CategorySlider',
  directives: {
    swiper: directive
  },
  props: {
    categories: {
      type: Array,
      default: () => []
    }
  },
  components: {
    BannerCard
  },
  data () {
    return {
      options: {
        // speed: 2000,
        // autoplay: {
        //   delay: 3000,
        //   disableOnInteraction: false
        // },
        // loop: true,
        spaceBetween: 20,
        slidesPerView: 1,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        breakpoints: {
          600: {
            slidesPerView: 2
          },
          960: {
            slidesPerView: 3
          },
          1904: {
            slidesPerView: 4
          }
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
.swiper-button-white {
  cursor: pointer;
  width: 35px;
  height: 50px;
  color: $yellow;
  text-align: center;
  border-radius: 50%;
  &.swiper-button-next {
    background-image: none;
  }
  &::after{
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    width: 100%;
    height: 100%;
    @media ($desktop) {
      font-size: 1.2em;
      line-height: 45px;
      // font-size: 40px;
    }
  }
  @media ($desktop) {
    background: #333e48;
    color: #FFF;
    width: 45px;
    height: 45px;
  }
}
.swiper-container:hover {
  .swiper-button-white {
    opacity: 1 !important;
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35!important;
  }
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  @media ($desktop) {
    opacity: 0;
  }
}
</style>
