<template>
  <div v-swiper:mySwiper="options">
    <div class="swiper-wrapper">
      <div v-for="(item, index) in images" :key="index" class="swiper-slide">
        <img :src="item" alt="">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</template>

<script>
import { directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  name: 'Slider',
  directives: {
    swiper: directive
  },
  props: {
    images: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      options: {
        speed: 400,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false
        },
        // loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
        // effect: 'fade',
        // fadeEffect: {
        //   crossFade: true
        // }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
.swiper-button-white {
  cursor: pointer;
  width: 35px;
  height: 50px;
  color: $yellow;
  text-align: center;
  border-radius: 50%;
  &.swiper-button-next {
    background-image: none;
  }
  &::after{
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    width: 100%;
    height: 100%;
    @media ($tablet) {
      font-size: 1.2em;
      line-height: 45px;
      // font-size: 40px;
    }
  }
  @media ($tablet) {
    background: #333e48;
    color: #FFF;
    width: 45px;
    height: 45px;
  }
}
.swiper-container:hover {
  .swiper-button-white {
    opacity: 1 !important;
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35!important;
  }
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  @media ($desktop) {
    opacity: 0;
  }
}
</style>
