<template>
  <div v-swiper:slider="options">
    <div class="swiper-wrapper">
      <div v-for="(item, index) in news" :key="index" class="swiper-slide">
        <news-card :content="item" />
      </div>
    </div>
  </div>
</template>

<script>
import NewsCard from '@/components/ui/cards/NewsCard'
import { directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  name: 'NewsSlider',
  directives: {
    swiper: directive
  },
  props: {
    news: Array,
    default: () => []
  },
  components: {
    NewsCard
  },
  data () {
    return {
      options: {
        slidesPerView: 1,
        breakpoints: {
          600: {
            slidesPerView: 2
          }
        }
      }
    }
  },
  methods: {
    prev () {
      this.slider.slidePrev()
    },
    next () {
      this.slider.slideNext()
    }
  }
}
</script>

<style lang="scss" scoped>
.swiper-slide {
  box-sizing: border-box;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
</style>
