<template>
  <div class="wrapper">
    <router-link :to="{
      name: 'ProductoDetalles',
      query: {
        ref: product.codigo
      }
    }">
      <div class="image">
        <img
            :src="`${$store.state.PAGE_URL}/replace-sys/imagenes/productos/${product.imagen[0]}`"
            onerror="this.onerror=null; this.src='https://via.placeholder.com/300x360/FAFAFA?text=°°°'"
            :alt="product.nombre"
          >
      </div>
      <div class="details text-center pa-3">
        <h4 class="font-weight-medium mb-1">
          {{ product.nombre }}
        </h4>
        <p>
          {{ product.precio | currency }}
        </p>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'OutletSlide',
  props: {
    product: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FFF;
  a {
    text-decoration: none;
    color: $text-color;
  }
  .image {
    height: 40%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .details {
    flex: 1;
  }
}
</style>
