<template>
  <div
    v-swiper:outlet="options"
    class="slider"
    :class="{ 'sidebar': sidebar }"
  >
    <div class="swiper-wrapper">
      <div v-for="(item, index) in items" :key="index" class="swiper-slide">
        <outlet-slide
          :product="item"
          :sidebar="sidebar"
        />
      </div>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</template>

<script>
import { directive } from 'vue-awesome-swiper'
import OutletSlide from './OutletSlide'
import 'swiper/css/swiper.css'

export default {
  name: 'OutletSlider',
  directives: {
    swiper: directive
  },
  props: {
    sidebar: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array,
      default: () => []
    }
  },
  components: {
    OutletSlide
  },
  data () {
    return {
      options: {
        loop: true,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false
        },
        effect: 'fade',
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.slider {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.sidebar {
    height: 250px;
    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 1.5em;
      color: #cdcddc;
      text-align: center;
    }
  }
}
.swiper-button-white {
  opacity: 1;
  top: 40%;
  &:hover::after {
    color: $blue!important;
  }
}
</style>
