<template>
  <div v-swiper:slider="options">
    <div class="swiper-wrapper">
      <div v-for="(product, index) in products" :key="index" class="swiper-slide">
        <product-card :product="product" />
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from '../ui/cards/ProductCard'
import { directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  name: 'ProductSlider',
  directives: {
    swiper: directive
  },
  props: {
    products: Array,
    default: () => []
  },
  components: {
    ProductCard
  },
  data () {
    return {
      options: {
        slidesPerView: 1,
        slidesPerColumn: 2,
        breakpoints: {
          600: {
            slidesPerView: 3
          },
          960: {
            slidesPerView: 4
          }
        }
      }
    }
  },
  methods: {
    prev () {
      this.slider.slidePrev()
    },
    next () {
      this.slider.slideNext()
    }
  }
}
</script>

<style lang="scss" scoped>
.swiper-slide {
  padding: 12px;
  height: calc(100% / 2);
  box-sizing: border-box;
  will-change: box-shadow;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
</style>
