<template>
  <div class="h-100">
    <v-container class="content" :class="{ 'sidebar': sidebar }">
      <v-row>
        <v-col
          cols="12"
          class="text-center"
        >
          <h1 class="promo-title">
            <span class="highlight">
              {{ highlight }}
            </span>
            {{ title }}
          </h1>
          <h2 class="promo-description mb-6">
            {{ content.descripcion | truncate(50)}}
          </h2>
          <v-btn :x-large="!sidebar" :small="sidebar" color="primary" :to="{ name: 'Promociones' }">
            {{ $t('general.seeDiscounts') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {}
    },
    sidebar: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    highlight () {
      if (!this.content.nombre) return ''
      return this.content.nombre.substring(0, this.content.nombre.indexOf(' '))
    },
    title () {
      if (!this.content.nombre) return ''
      return this.content.nombre.substring(this.content.nombre.indexOf(' '))
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: #FFF;
}
.promo-title {
  font-size: 2.5em;
  font-weight: 500;
  .highlight {
    color: $yellow;
  }
}
.promo-description {
  font-weight: 500;
}
.sidebar {
  .promo-title {
    font-size: 1.5em;
  }
  .promo-description {
    font-size: 1em;
  }
}
</style>
