<template>
  <div
    v-swiper:promos="options"
    class="slider overlay"
    :class="{ 'sidebar': sidebar }"
    :style="`background-image: url(${bg});`"
  >
    <div class="swiper-wrapper">
      <div v-for="(promocion, index) in items" :key="index" class="swiper-slide">
        <promo-slide
          v-if="promocion.status.toLowerCase() === 'activo'"
          :content="promocion"
          :sidebar="sidebar"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</template>

<script>
import { directive } from 'vue-awesome-swiper'
import PromoSlide from './PromoSlide'
import 'swiper/css/swiper.css'

export default {
  name: 'PromoSlider',
  directives: {
    swiper: directive
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    sidebar: {
      type: Boolean,
      default: false
    },
    bg: {
      type: String,
      default: require('@/assets/img/car_wheel.jpg')
    }
  },
  components: {
    PromoSlide
  },
  data () {
    return {
      options: {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          dynamicBullets: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      promociones: []
    }
  }
}
</script>

<style lang="scss" scoped>
.slider {
  height: 452px;
  // height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.sidebar {
    height: 250px;
    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 2em;
    }
  }
}
</style>
