<template>
  <div
    v-swiper:recommended="options"
    class="slider"
    :class="{ 'sidebar': sidebar }"
  >
    <div class="swiper-wrapper">
      <div v-for="(product, index) in items" :key="index" class="swiper-slide">
        <product-card
          :product="product"
          bordered
        />
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from '../ui/cards/ProductCard'
import { directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

import Repository from '@/api/Repository'
const Productos = Repository.get('productos')

export default {
  name: 'Recommended',
  directives: {
    swiper: directive
  },
  props: {
    sidebar: {
      type: Boolean,
      default: false
    }
  },
  components: {
    ProductCard
  },
  mounted () {
    this.fetch()
  },
  data () {
    return {
      options: {
        slidesPerView: 1,
        breakpoints: {
          420: {
            slidesPerView: 2
          },
          600: {
            slidesPerView: 3
          },
          960: {
            slidesPerView: 4
          },
          1904: {
            slidesPerView: 6
          }
        }
      },
      items: []
    }
  },
  methods: {
    async fetch () {
      try {
        this.items = await Productos.get('primeros').then(i => i.data)
        // this.items = await data.docs
      } catch (error) {
        console.log(error)
      }
    },
    prev () {
      this.recommended.slidePrev()
    },
    next () {
      this.recommended.slideNext()
    }
  }
}
</script>

<style lang="scss" scoped>
.slider {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .swiper-slide {
    padding: 12px;
    height: auto;
    box-sizing: border-box;
    will-change: box-shadow;
    &:hover .product {
      box-shadow: $box-shadow;
    }
  }
}
</style>
