<template>
  <v-bottom-navigation
    dark
    fixed
    background-color="primary"
    class="d-fixed d-md-none"
  >
    <v-row no-gutters class="h-100">
      <v-col class="bordered">
        <v-btn class="button" block :to="{ name: 'Login' }">
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </v-col>
      <v-col>
        <v-btn class="button" block>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-bottom-navigation>
</template>

<script>
export default {
  name: 'BottomBar'
}
</script>

<style lang="scss" scoped>
.button {
  height: 100%!important;
}
.bordered {
  border-right: 1px solid rgba(255,255,255,0.15);
}
</style>
