<template>
  <v-navigation-drawer
    v-model="show"
    fixed
    width="320"
    overlay-opacity="0.05"
    overlay-color="#FFF"
    right
    temporary
    class="z-index-502"
  >
    <v-container class="wrapper">
      <v-row>
        <v-col cols="12">
          <div class="d-flex justify-space-between align-center">
            <h2 class="font--color drawer-title">
              {{ $t('cartDrawer.headerText') }}
              <small v-if="totalProducts">
                ({{ totalProducts }})
              </small>
            </h2>
            <v-btn icon small @click="show = false"><v-icon small>mdi-close</v-icon></v-btn>
          </div>
          <v-divider class="mt-4 mb-6"></v-divider>
          <div v-if="totalProducts" class="d-flex justify-space-between align-baseline">
            <h3 class="font-weight-regular">{{ $t('cartDrawer.products') }}</h3>
            <h3 class="font-weight-regular">
              <small class="text--secondary">Subtotal: </small>
              <b class="cart-price__color">
                {{ total | currency }}
              </b>
            </h3>
          </div>
          <div v-else class="text-center">
            <h3 class="font-weight-regular">
              {{ $t('cartDrawer.emptyCart') }}
            </h3>
          </div>
        </v-col>
      </v-row>
      <v-row v-if="totalProducts" class="flex-column flex-nowrap item-list px-0 mx-0">
        <v-col cols="12">
          <cart-content/>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            v-if="totalProducts"
            color="primary"
            outlined
            block
            depressed
            large
            tile
            :ripple="false"
            class="button--form mb-2"
            @click="goToProducts"
          >
            <v-icon left small>mdi-cart-outline</v-icon>
            {{ $t('cartDrawer.continueShopping') }}
          </v-btn>
          <v-btn
            v-if="totalProducts"
            color="primary"
            block
            depressed
            large
            tile
            :ripple="false"
            class="pay-button font-weight-medium"
            @click="$router.push({ name: 'Checkout' })"
          >
            {{ $t('cartDrawer.procedCheckout') }}
          </v-btn>
          <v-btn
            v-else
            color="primary"
            dark
            block
            depressed
            large
            tile
            :ripple="false"
            class=""
            @click="goToProducts"
          >
            {{ $t('cartDrawer.returnToShop') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'
import CartContent from '@/components/cart/CartContent'

export default {
  name: 'CartDrawer',
  components: {
    CartContent
  },
  computed: {
    ...mapGetters({
      total: 'cart/total',
      totalProducts: 'cart/totalProducts'
    }),
    show: {
      get () {
        return this.$store.state.cartDrawer
      },
      set (val) {
        if (!val) this.$store.commit('SET_CART_DRAWER', val)
        // console.log('set desde drawer')
      }
    }
  },
  methods: {
    goToProducts () {
      // Cerrar el drawer
      this.show = false
      /**
       * Redirigir a productos
       * prevenir que lance error de ruta redundante si ya se esta en productos
       */
      this.$router.push({ name: 'Productos' })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.z-index-502 {
  z-index: 502;
}
.wrapper {
  height: 100%;
  > .row:first-child {
    height: 130px;
  }
  > .row:last-child {
    height: 110px;
  }
  .drawer-title {
    position: relative;
    small {
      position: absolute;
      font-size: 1rem;
      top: 0;
      left: 100%;
    }
  }
  .item-list {
    border: 1px solid $border-color;
    max-height: calc(100% - (130px + 110px));
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.pay-button {
  letter-spacing: 4px;
  // font-size: 1.1em;
  // font-weight: 400!important;
}
</style>
