<template>
  <div>
    <v-footer
      color="#212121"
      class="footer pb-12 pb-md-0"
      dark
      id="trigger"
    >
      <v-container>
        <!-- <v-row><v-col></v-col></v-row> -->
        <v-row>
          <v-col cols="12" md="6" lg="4">
            <h1 class="mb-2 font-weight-bold">REFACE</h1>
            <popoye-button class="popoye_btn"/>
            <address-info dark/>
          </v-col>
          <v-col cols="6" md="3" lg="2" class="links">
            <h5 class="text-uppercase">{{ $t('footer.links') }}</h5>
            <p>
              <router-link :to="{ name: 'AvisoDePrivacidad' }">
                {{ $t('footer.privacy') }}
              </router-link>
            </p>
            <p>
              <router-link :to="{ name: 'UsoDeCookies' }">
                {{ $t('footer.cookies') }}
              </router-link>
            </p>
            <p>
              <router-link :to="{ name: 'Garantias' }">
                {{ $t('footer.guaranty') }}
              </router-link>
            </p>
          </v-col>
          <v-col cols="6" md="3" lg="2" class="links">
            <h5 class="text-uppercase">{{ $t('footer.sections') }}</h5>
            <p>
              <router-link :to="{ name: 'Promociones' }">{{ $t('footer.discounts') }}</router-link>
            </p>
            <p>
              <router-link :to="{ name: 'Productos' }">{{ $t('footer.products') }}</router-link>
            </p>
          </v-col>
          <v-col>
            <v-row>
              <v-col cols="12" sm="6" lg="12" class="pt-0">
                <h5 class="text-uppercase">{{ $t('footer.openingHrs') }}:</h5>
                <div class="horario">
                  {{ $t('footer.oh1') }} <br>
                  9:00 am / 7:30 pm
                </div>
                <div class="horario">
                  {{ $t('footer.oh2') }} <br>
                  9:00 am / 4:00 pm
                </div>
              </v-col>
              <v-col cols="12" sm="6">
                <v-row>
                  <v-col>
                    <h5 class="text-uppercase">{{ $t('footer.paymentMethods') }}:</h5>
                    <div class="payment-methods">
                      <img src="@/assets/img/visa.svg" alt="">
                      <img src="@/assets/img/mastercard.svg" alt="">
                      <img src="@/assets/img/paypal.svg" alt="">
                    </div>
                    <div>
                      <p class="text-uppercase">{{ $t('footer.joinUs') }}:</p>
                      <v-btn
                        href="https://www.facebook.com/refaceballos"
                        target="_blank"
                        icon
                        small
                      >
                        <v-icon
                          color="#efefef"
                        >
                          mdi-facebook
                        </v-icon>
                      </v-btn>
                      <v-btn
                        href="https://www.instagram.com/refacemorelia/"
                        target="_blank"
                        icon
                        small
                      >
                        <v-icon
                          color="#efefef"
                          class="ml-2"
                        >
                          mdi-instagram
                        </v-icon>
                      </v-btn>
                    </div>
                  </v-col>
                  <v-col>
                    <span id="siteseal"></span>
                  </v-col>
                </v-row>
              </v-col>
              <!-- <v-col cols="12" sm="6">
                <span id="siteseal"></span>
              </v-col> -->
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-divider></v-divider>
            <p class="copyright">© {{ new Date().getFullYear() }} Reface. Designed by Divergente</p>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </div>
</template>

<script>
import AddressInfo from '@/components/ui/AddressInfo'
import PopoyeButton from '@/components/ui/PopoyeButton'
export default {
  name: 'Footer',
  components: {
    AddressInfo,
    PopoyeButton
  },
  mounted () {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('fixed_btn')
        } else {
          entry.target.classList.add('fixed_btn')
        }
      })
    })
    observer.observe(document.getElementById('trigger'))
    // console.log(document.getElementById('footer'))
    const seal = document.createElement('script')
    seal.setAttribute('src', 'https://seal.starfieldtech.com/getSeal?sealID=AzWK2CcD3go19Xg9LtFboE3vV35uTHvWUy4KcT3tsHZDNP9qbfjdRcopflYC')
    const sealSpan = document.getElementById('siteseal')
    sealSpan.appendChild(seal)
  },
  data () {
    return {
      fixed: true
    }
  }
}
</script>

<style lang="scss" scoped>
.popoye_btn {
  // background: #fafafa;
  // border-top-left-radius: 6px;
  // border-top-right-radius: 6px;
  padding: 0 15px;
  margin-bottom: 20px;
}
.fixed_btn {
  .popoye_btn {
    position: fixed;
    bottom: 0px;
    left: 15px;
    margin-bottom: 0;
    z-index: 6;
  }
}
.footer {
  padding-top: 3em;
  p {
    color: #FFF;
  }
}
h5 {
  margin-bottom: 20px;
}
.logo {
  width: 150px;
  margin-bottom: 20px;
}
.links {
  a {
    text-decoration: none;
    color: #9a9a9a;
    transition: $transition;
    &:hover {
      color: lighten($blue, 10%);
    }
  }
  p {
    margin-bottom: 10px;
  }
}
.horario {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  @media ($mobile) {
    width: 50%;
    margin-bottom: 0;
  }
  @media ($lg) {
    width: 50%;
    margin-bottom: 0;
  }
  // color: #9a9a9a;
}
.payment-methods {
  margin-bottom: 20px;
  img {
    width: 45px;
    margin-right: 15px;
  }
}
.copyright {
  margin-top: 10px;
  font-weight: 300;
  font-size: 0.8em;
}
</style>
