<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    temporary
  >
    <v-row class="justify-center grey lighten-3 header" no-gutters>
      <v-col cols="6" class="py-6 ml-4">
        <img src="@/assets/img/logo.png" alt="" class="logo">
      </v-col>
    </v-row>
    <v-list class="mt-4" shaped>
      <v-list-item-group color="#052f61">
        <v-list-item
          v-for="({ name, text }, index)  in navigationLinks" :key="index"
          :to="{ name }"
          exact
        >
          <v-list-item-content>
            <v-list-item-title class="text-uppercase">{{ text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    <v-row>
      <v-col class="pl-5">
        <lang-switcher mobile/>
      </v-col>
    </v-row>
    <template #append>
      <v-btn
        v-if="isLogged"
        text
        class="text-lowercase"
        color="primary"
        @click.prevent="logOut"
      >
        <v-icon left small>mdi-logout</v-icon>
        {{ $t('header.logOutSession') }}
      </v-btn>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { logoutMixin } from '@/mixins/logoutMixin'
import LangSwitcher from '@/components/ui/LangSwitcher'
export default {
  name: 'MenuMobile',
  mixins: [logoutMixin],
  components: {
    LangSwitcher
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapState(['navigationLinks']),
    ...mapGetters({ isLogged: 'auth/isLogged' }),
    drawer: {
      get () {
        return this.$store.state.drawer
      },
      set (val) {
        this.$store.commit('SET_DRAWER', val)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.logo {
  width: 100%;
}
.header {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
</style>
