<template>
  <div class="align-center">
    <topbar class="d-none d-md-block"/>
    <topbar-mobile class="d-block d-md-none"/>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Topbar from './Topbar'
import TopbarMobile from './TopbarMobile'

export default {
  name: 'Navbar',
  components: {
    Topbar,
    TopbarMobile
  },
  data () {
    return {
      // cartItems: 1,
      // fixed: false
    }
  },
  computed: {
    ...mapState(['drawer'])
  },
  // mounted () {
  //   window.addEventListener('scroll', this.updateScroll)
  // },
  methods: {
    ...mapMutations({
      setDrawer: 'SET_DRAWER'
    })
    // updateScroll () {
    //   if (window.scrollY > 150) {
    //     this.fixed = true
    //     this.$store.commit('SET_FIXED_NAV', true)
    //   } else {
    //     this.fixed = false
    //     this.$store.commit('SET_FIXED_NAV', false)
    //   }
    //   // this.scrollPosition = window.scrollY
    // }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  // display: inline-block;
  width: 100%;
  padding: 0 10px;
  font-weight: 500;
  text-align: center;
  color: $blue;
}
.cart {
  font-weight: 300;
}
</style>
