<template>
  <div class="w-100">
    <login-register/>
    <header :class="{'fixed-nav': fixedNav}">
      <brandbar/>
      <nav-menu/>
    </header>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Brandbar from './header/Brandbar'
import LoginRegister from './header/LoginRegister'
import NavMenu from './header/NavMenu'

export default {
  name: 'Topbar',
  components: {
    Brandbar,
    LoginRegister,
    NavMenu
  },
  computed: {
    ...mapState(['fixedNav'])
  }
}
</script>

<style lang="scss" scoped>
</style>
