<template>
  <div class="w-100 white box-shadow" :class="{'fixed-nav': fixedNav}">
    <v-row class="align-center" no-gutters>
      <v-col cols="2" class="mx-2">
        <v-btn
          icon
          x-large
          color="black"
          @click="setDrawer(!drawer)"
        >
          <v-icon>mdi-menu</v-icon>
        </v-btn>
      </v-col>
      <v-col class="d-flex align-center">
        <h1>REFACE</h1>
      </v-col>
      <v-col cols="auto" class="d-flex mx-4 pr-2">
        <search-modal/>
        <v-btn icon color="#626367" :to="{ name: 'Login' }">
          <v-icon>mdi-account-outline</v-icon>
        </v-btn>
        <v-badge
          :content="totalProducts"
          :value="totalProducts"
          color="primary"
          overlap
          offset-x="16px"
          offset-y="17px"
          class="topbar-cart"
        >
          <v-btn
            icon
            color="#626367"
            @click="$store.commit('SET_CART_DRAWER', true)"
          >
            <v-icon>mdi-cart-outline</v-icon>
          </v-btn>
        </v-badge>
      </v-col>
    </v-row>
    <!-- <v-container class="py-0">
    </v-container> -->
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex'
import SearchModal from '@/components/ui/SearchModal'
export default {
  name: 'Topbar',
  components: {
    SearchModal
  },
  data () {
    return {
      fixed: false
    }
  },
  computed: {
    ...mapState(['drawer', 'cart', 'fixedNav']),
    ...mapGetters({ totalProducts: 'cart/totalProducts' })
  },
  methods: {
    ...mapMutations({
      setDrawer: 'SET_DRAWER'
    })
  }
}
</script>

<style lang="scss" scoped>
h1 {
  width: 100%;
  padding: 0 10px;
  font-weight: 500;
  text-align: center;
  color: $blue-darken;
}
.box-shadow {
  box-shadow: 0 0px 8px rgba(201,201,201,0.75);
}
</style>
