<template>
  <not-found title="Página no encontrada"/>
</template>

<script>
import NotFound from '@/components/ui/NotFound'
export default {
  name: 'E_404',
  components: {
    NotFound
  }
}
</script>
