<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <v-row class="wrapper">
      <v-col cols="12" md="8" xl="9">
        <v-card  outlined tile>
          <transition name="fade" mode="out-in">
            <div v-if="!response" key="form">
              <v-card-title class="font--color text-uppercase">
                {{ $t('navLinks.quotation') }}
              </v-card-title>
              <v-card-subtitle>
                {{ $t('quotation.info') }}
              </v-card-subtitle>
              <v-card-text>
                <cotizacion-form v-model="response"/>
              </v-card-text>
            </div>
            <div v-else key="response">
              <v-card-text class="text-center">
                <v-icon class="big-icon">mdi-checkbox-marked-circle-outline</v-icon>
                <h1 class="font-weight-regular font--color mt-5">¡Enviado!</h1>
                <v-divider class="my-5"></v-divider>
                <p>
                  {{ $t('quotation.successMessage') }}
                </p>
                <v-btn
                  color="primary"
                  :ripple="false"
                  depressed
                  to="/"
                >
                  {{ $t('quotation.btn') }}
                </v-btn>
              </v-card-text>
            </div>
          </transition>
        </v-card>
      </v-col>
      <v-col cols="12" md="4" xl="3" class="d-none d-md-block">
        <v-card outlined tile>
          <v-row>
            <v-col cols="12">
              <v-card-title class="font--color text-uppercase">
                {{ $t('quotation.sideBarTitle') }}
              </v-card-title>
              <v-card-subtitle class="mb-5">
                  {{ $t('quotation.sideBarSubtitle') }}
              </v-card-subtitle>
              <v-card-text>
                <address-info/>
                <div class="social">
                  <a href="javascript:;">
                    <img src="@/assets/img/facebook.png" alt="">
                  </a>
                  <a href="javascript:;">
                    <img src="@/assets/img/instagram.png" alt="">
                  </a>
                </div>
              </v-card-text>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AddressInfo from '@/components/ui/AddressInfo'
import CotizacionForm from '@/components/forms/CotizacionForm'

export default {
  name: 'Promociones',
  components: {
    AddressInfo,
    CotizacionForm
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('navLinks.quotation'),
          disabled: true,
          to: '/cotizacion'
        }
      ],
      response: false
    }
  }
}
</script>

<style lang="scss" scoped>
.social img {
  width: 35px;
  margin-right: 10px;
}
.big-icon {
  font-size: 60px;
}
.wrapper {
  min-height: 680px;
  @media ($mobile) {
    min-height: auto;
  }
}
</style>
