<template>
  <div>
    <v-row class="mb-8">
      <v-col cols="12" class="py-0">
        <images-slider :images="sliderImages"/>
      </v-col>
    </v-row>
    <v-container>
      <v-row class="mb-12">
        <!-- <v-col
          v-for="({imagen, categoria}, index) in categories" :key="index"
          cols="12" sm="6" md="4"
        >
          <banner-card
            :img="imagen"
            :title="categoria"
          />
        </v-col> -->
        <v-col>
          <category-slider :categories="categories"/>
        </v-col>
      </v-row>
      <v-row class="mb-12">
        <v-col cols="12">
          <div class="slider-header">
            <h2 class="slider-header--text">{{ $t('home.products_1') }} <span>{{ $t('home.products_2') }}</span></h2>
            <div class="slider-header--navigation">
              <!-- <a href="javascript:;" @click.prevent="activeLink = 'primeros'">Primeros</a>
              <a href="javascript:;" @click.prevent="activeLink = 'segundos'">Segundos</a> -->
              <v-tabs
                background-color="transparent"
                color="#333e48"
                v-model="tab"
                show-arrows
                height="40px"
                class="mr-sm-5 mb-4 mb-sm-0 flex-1"
              >
                <v-tab v-for="(item, index) in tabs" :key="index">
                  {{ item }}
                </v-tab>
              </v-tabs>
              <div class="slider-navigation d-flex">
                <a href="javascript:;" class="button" @click.prevent="productsPrev">
                  <svg-icon name="chevron-left" />
                </a>
                <a href="javascript:;" class="button" @click.prevent="productsNext">
                  <svg-icon name="chevron-right" />
                </a>
              </div>
            </div>
          </div>
        </v-col>
        <v-col cols="12" class="products-slider">
          <products-slider
            ref="productsSlider"
            :products="activeProductList"
          />
        </v-col>
      </v-row>
    </v-container>
    <promo-section/>
    <v-container>
      <v-row class="justify-center mb-12">
        <v-col
          v-for="(item, index) in policyIcons" :key="index"
          cols="12" sm="6" md="3"
          class="border-top border-bottom"
        >
          <policy-item :content="item"/>
        </v-col>
      </v-row>
      <v-row class="most-selled mb-10">
        <v-col cols="12" md="4">
          <product-card :product="primeros[2]" label="Destacado"/>
        </v-col>
        <v-col cols="12" md="4">
          <product-card :product="primeros[3]" label="Destacado"/>
        </v-col>
        <v-col cols="12" md="4" class="d-flex flex-column">
          <div class="display_img mb-4">
            <img src="@/assets/img/banners/display_01.png">
          </div>
          <div class="display_img">
            <img src="@/assets/img/banners/display_02.png">
          </div>
        </v-col>
      </v-row>
      <!-- <v-row class="white mb-12">
        <v-col cols="12" class="pt-0">
          <div class="card-slider-header">
            <h2 class="card-slider-header--text">{{ $t('home.news') }} <span>/ {{ $t('home.blog') }}</span></h2>
            <div class="slider-navigation d-flex">
              <a href="javascript:;" class="button" @click.prevent="newsPrev">
                <svg-icon name="chevron-left" />
              </a>
              <a href="javascript:;" class="button" @click.prevent="newsNext">
                <svg-icon name="chevron-right" />
              </a>
            </div>
          </div>
        </v-col>
        <v-col cols="12" class="mb-5 news-slider">
          <news-slider
            ref="newsSlider"
            :news="news"
          />
        </v-col>
      </v-row> -->
      <v-row class="justify-between align-center mb-12">
        <v-col v-for="(image, index) in brandImages" :key="index" class="text-center brand-image">
          <img :src="image" alt="" class="w-100">
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CategorySlider from '@/components/sliders/CategorySlider'
import ImagesSlider from '@/components/sliders/ImagesSlider'
// import NewsSlider from '@/components/sliders/NewsSlider'
import ProductCard from '@/components/ui/cards/ProductCard'
import ProductsSlider from '@/components/sliders/ProductsSlider'
import PromoSection from '@/components/ui/PromoSection'
import PolicyItem from '@/components/ui/PolicyItem'
import SvgIcon from '@/components/ui/SvgIcon'

import Repository from '@/api/Repository'
const Productos = Repository.get('productos')
const Noticias = Repository.get('noticias')
// const Promociones = Repository.get('promociones')

export default {
  name: 'Home',
  components: {
    // BannerCard,
    CategorySlider,
    ImagesSlider,
    // NewsSlider,
    ProductCard,
    ProductsSlider,
    PromoSection,
    PolicyItem,
    SvgIcon
  },
  created () {
    this.fetch()
  },
  computed: {
    ...mapState('products', ['categories']),
    activeProductList () {
      switch (this.tab) {
        case 0: return this.primeros
        case 1: return this.vendidos
        case 2: return this.promocion
        default: return []
      }
    }
  },
  data () {
    return {
      tab: null,
      tabs: this.$t('home.productTabs'),
      sliderImages: [
        // require('@/assets/img/slides/banner_01.png'),
        require('@/assets/img/slides/banner_02.png')
        // require('@/assets/img/slides/banner_03.png')
      ],
      primeros: [],
      vendidos: [],
      promocion: [],
      news: [],
      showPromoSlider: false,
      policyIcons: [
        {
          icon: require('@/assets/img/envio_icon.png'),
          title: this.$t('home.policyIcons.shipping.title'),
          subtitle: this.$t('home.policyIcons.shipping.subtitle')
        },
        {
          icon: require('@/assets/img/pagos_icon.png'),
          title: this.$t('home.policyIcons.payments.title'),
          subtitle: this.$t('home.policyIcons.payments.subtitle')
        },
        {
          icon: require('@/assets/img/devoluciones_icon.png'),
          title: this.$t('home.policyIcons.refunds.title'),
          subtitle: this.$t('home.policyIcons.refunds.subtitle')
        },
        {
          icon: require('@/assets/img/gift_icon.png'),
          title: this.$t('home.policyIcons.discounts.title'),
          subtitle: this.$t('home.policyIcons.discounts.subtitle')
        }
      ],
      brandImages: [
        require('@/assets/img/brands/toyota.png'),
        require('@/assets/img/brands/vw.png'),
        require('@/assets/img/brands/hyundai.png'),
        require('@/assets/img/brands/nissan.png'),
        require('@/assets/img/brands/mazda.png'),
        require('@/assets/img/brands/kia.png'),
        require('@/assets/img/brands/fiat.png')
      ]
    }
  },
  methods: {
    async fetch () {
      try {
        const primeros = await Productos.get('primeros')
        this.primeros = await primeros.data
        const vendidos = await Productos.get('vendidos')
        this.vendidos = await vendidos.data
        const promocion = await Productos.get('promocion')
        this.promocion = await promocion.data
        // this.categories = await Productos.get('categoria2')
        const noticias = await Noticias.all()
        this.news = await noticias.data
      } catch (error) {
        console.log(error)
      }
    },
    productsPrev () {
      this.$refs.productsSlider.prev()
    },
    productsNext () {
      this.$refs.productsSlider.next()
    },
    newsPrev () {
      this.$refs.newsSlider.prev()
    },
    newsNext () {
      this.$refs.newsSlider.next()
    }
  }
}
</script>

<style lang="scss" scoped>
.products-slider {
  max-height: 900px;
  padding-top: 0.5em;
  padding-left: 0;
  padding-right: 0;
}
.slider-header {
  padding: 1.4em 0;
  border-bottom: $border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  &--text {
    font-size: 1.8em;
    font-weight: 500;
    span {
      font-weight: 300;
    }
    @media ($mobile) {
      width: 100%;
      text-align: center;
    }
  }
  &--navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .flex-1 {
      flex: 1;
    }
    @media ($tablet) {
      // width: auto;
      justify-content: space-between;
    }
    @media ($desktop) {
      width: auto;
    }
  }
}
// .promo-slider {
//   height: 452px;
// }
.brand-image img {
  max-width: 70px;
}
.display_img {
  height: 50%;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
.news-slider {
  min-height: 350px;
}
</style>
