<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1 py-1"
        />
      </v-col>
    </v-row>
    <v-row class="align-stretch mb-5">
      <v-col
        cols="12"
      >
        <div class="post-image">
          <img :src="noticia.ruta" alt="">
        </div>
        <v-card>
          <v-card-title>
            <h3>{{ noticia.titulo }}</h3>
          </v-card-title>
          <v-card-subtitle>
            <small class="mr-4">Publicado: {{ noticia.fecha | dateString }}</small>
            <small>Categorías: {{ noticia.categoria }}</small>
          </v-card-subtitle>
          <v-card-text>
            {{ noticia.contenido }}
            <v-divider class="my-8"></v-divider>
            <div class="d-flex justify-space-between pb-4">
              <div class="d-flex align-center">
                <v-btn icon small>
                  <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
                <p class="pl-3 lh mb-0 text--secondary">
                  {{ $t('general.prev') }} <br>
                  <!-- <router-link to="/" class="btn-link-tel">
                    POST 1
                  </router-link> -->
                </p>
              </div>
              <div class="d-flex align-center">
                <p class="pr-3 lh mb-0 text--secondary text-right">
                  {{ $t('general.next') }} <br>
                  <!-- <router-link to="/" class="btn-link-tel">
                    POST 3
                  </router-link> -->
                </p>
                <v-btn icon small>
                  <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Repository from '@/api/Repository'
const Noticias = Repository.get('noticias')

export default {
  name: 'Noticias',
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('navLinks.news'),
          disabled: false,
          exact: true,
          to: { name: 'Noticias' }
        },
        {
          text: '--',
          disabled: true,
          to: '/'
        }
      ],
      noticia: {}
    }
  },
  created () {
    this.fetch()
  },
  methods: {
    async fetch () {
      try {
        const { success, data } = await Noticias.get(this.$route.params.noticia)
        if (await success) {
          this.noticia = await data.noticia
          this.breadcrums[2].text = await data.noticia.titulo
        }
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.post-image {
  width: 100%;
  height: 420px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
.lh {
  line-height: 1.2;
}
</style>
