<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <v-row class="align-stretch mb-12">
      <v-col
        v-for="(item, index) in noticias" :key="index"
        cols="12" sm="6"
      >
        <div class="card h-100">
          <news-card :content="item" vertical :preview="150"/>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import NewsCard from '@/components/ui/cards/NewsCard'
import Repository from '@/api/Repository'
const Noticias = Repository.get('noticias')

export default {
  name: 'Noticias',
  components: {
    NewsCard
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('navLinks.news'),
          disabled: true,
          to: '/noticias'
        }
      ],
      noticias: []
    }
  },
  created () {
    this.fetch()
  },
  methods: {
    async fetch () {
      try {
        const { data } = await Noticias.all()
        this.noticias = await data
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  background: #fefefe;
  // cursor: pointer;
  transition: $transition;
  &:hover {
    background: #FFF;
    box-shadow: 0 0px 8px rgba(201,201,201,0.75);
  }
}
</style>
