<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <not-found v-if="!loading && !found" title="Producto no encontrado"/>
    <v-row v-else>
      <v-col cols="12" sm="6" md="7" lg="8" class="pb-0 pb-sm-3">
        <v-skeleton-loader
          :loading="loading"
          type="card"
        >
          <!-- Imagenes del producto -->
          <v-card outlined>
            <v-card-text class="d-block d-sm-none">
              <h5 class="subtitle">
                {{ prod.categoria }}
              </h5>
              <h1 class="title mb-2">
                {{ prod.nombre }}
              </h1>
              <!-- <p class="text--secondary mb-1">
                {{ prod.descripcion.toLowerCase() | prodDescription | truncate(100) }}
              </p> -->
            </v-card-text>
            <product-images :product="prod"/>
          </v-card>
        </v-skeleton-loader>
      </v-col>
      <v-col cols="12" sm="6" md="5" lg="4" class="pt-0 pt-sm-3">
        <v-skeleton-loader
          :loading="loading"
          type="article, card-heading"
        >
          <!-- Actions -->
          <v-card outlined class="mb-2">
            <v-card-text class="card-content">
              <product-description :product="prod"/>
              <product-actions :product="prod" class="mb-8"/>
              <p class="mb-2 text-uppercase">
                <small>{{ $t('products.filters.category') }}: </small>
                <span class="category">{{ prod.subcategoria }}</span>
              </p>
              <!-- <div class="mb-8">
                <small>CÓDIGOS:</small>
                <v-chip
                  v-for="(code, index) in codes" :key="index"
                  small
                  color="grey lighten-3"
                  class="mx-1"
                >
                  {{ code }}
                </v-chip>
              </div> -->
              <v-row>
                <v-col class="text-center icon-container border-right">
                  <v-icon class="mb-2" large>mdi-truck-fast</v-icon> <br>
                  <span v-html="$t('products.text_1')"></span>
                </v-col>
                <v-col class="text-center icon-container">
                  <v-icon class="mb-2" large>mdi-credit-card-multiple-outline</v-icon> <br>
                  <span v-html="$t('products.text_2')"></span>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-skeleton-loader>
      </v-col>
    </v-row>
    <!-- Detalles del producto -->
    <v-row v-if="found">
      <v-col>
        <v-card class="transparent" outlined>
          <v-tabs class="custom-tabs">
            <v-tab :ripple="false">
              {{ $t('products.compatibilityTab') }}
            </v-tab>
            <v-tab :ripple="false">
              {{ $t('products.details') }}
            </v-tab>
            <v-tab-item reverse-transition="fade-transition" transition="fade-transition" eager>
              <product-compatibility :data="prod.autos"/>
            </v-tab-item>
            <v-tab-item reverse-transition="fade-transition" transition="fade-transition" eager>
              <div class="px-4 pb-4 pt-8">
                <p class="px-4">
                  {{ prod.nombre }}
                </p>
                <v-simple-table dense>
                  <template #default>
                    <tbody>
                      <tr>
                        <td class="r_key">Categoría:</td>
                        <td>{{ prod.categoria }}</td>
                      </tr>
                      <tr>
                        <td class="r_key">SKU:</td>
                        <td>{{ prod.codigo }}</td>
                      </tr>
                      <tr>
                        <td class="r_key">Subcategoría:</td>
                        <td>{{ prod.subcategoria }}</td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </div>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-col>
    </v-row>
    <!-- Recomendados -->
    <v-row v-if="found" class="mb-12">
      <v-col>
        <div class="card-slider-header">
          <h3 class="card-slider-header--text font--color px-4">
            {{ $t('products.related') }}
          </h3>
          <div class="slider-navigation d-flex">
            <a href="javascript:;" class="button" @click.prevent="recPrev()">
              <svg-icon name="chevron-left" />
            </a>
            <a href="javascript:;" class="button" @click.prevent="recNext()">
              <svg-icon name="chevron-right" />
            </a>
          </div>
        </div>
        <div class="slider-wrapper">
          <recommended-slider ref="recomendados"/>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import NotFound from '@/components/ui/NotFound'
import ProductActions from '@/components/products/ProductActions'
import ProductDescription from '@/components/products/ProductDescription'
import ProductImages from '@/components/products/ProductImages'
import ProductCompatibility from '@/components/products/ProductCompatibility'
import RecommendedSlider from '@/components/sliders/RecommendedSlider'
import SvgIcon from '@/components/ui/SvgIcon'

import Repository from '@/api/Repository'
const Productos = Repository.get('productos')

export default {
  name: 'ProductoDetalles',
  components: {
    NotFound,
    ProductActions,
    ProductDescription,
    ProductImages,
    ProductCompatibility,
    RecommendedSlider,
    SvgIcon
  },
  data () {
    return {
      tab: null,
      prod: {
        codigo: '',
        clave_interna: '',
        nombre: '',
        categoria: '',
        descripcion: '',
        stock: null,
        marca: '',
        promocion: []
      },
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('navLinks.products'),
          disabled: false,
          exact: true,
          to: { name: 'Productos' }
        },
        {
          text: '--',
          disabled: true,
          to: '/'
        }
      ],
      images: [],
      found: false,
      loading: true
    }
  },
  computed: {
    codes () {
      return this.prod.descripcion.split('=').slice(1) || ''
    },
    hasPromocion () {
      return !!this.prod.id_promo
    }
  },
  created () {
    // console.log(this.$route)
    if (!this.$route.query.ref) this.$router.replace({ name: 'Not-found' })
    this.fetch(this.$route.query.ref)
  },
  methods: {
    async fetch (product) {
      try {
        const res = await Productos.search(product)
        if (res.success) {
          this.found = true
          this.prod = await res.data[0]
          this.breadcrums[2].text = await res.data[0].nombre
        }
      } catch (error) {
        console.log(error)
      } finally {
        this.loading = false
      }
    },
    recNext () {
      this.$refs.recomendados.next()
    },
    recPrev () {
      this.$refs.recomendados.prev()
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  font-size: 1.8em!important;
  font-weight: 400;
}
.category {
  text-transform: capitalize;
}
.icon-container {
  line-height: 1.2;
  font-size: 0.9em;
}
.r_key {
  width: 150px!important;
  letter-spacing: 2px;
  font-size: 0.8em!important;
  text-transform: uppercase;
}
.slider-wrapper {
  width: 100%;
  max-height: 500px;
  @media ($mobile) {
    height: 350px;
  }
}
</style>
