<template>
  <div class="pb-12 px-10">
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
        <h1 class="font-weight-regular d-block d-md-none text-uppercase">
          {{ $t('navLinks.products') }}
        </h1>
        <div class="d-block d-md-none">
          <v-alert
            v-model="filterLabel"
            tile
            border="left"
            dismissible
            color="blue lighten-4 mt-3"
          >
            {{ $t('products.showingResults') }}: <br>
            <small v-html="filterLabelText"></small>
          </v-alert>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="3" xl="2" class="d-none d-md-block">
        <h1 class="font-weight-regular py-5 px-2 text-uppercase">
          {{ $t('navLinks.products') }}
        </h1>
        <v-alert
          v-model="filterLabel"
          tile
          border="left"
          dismissible
          color="blue lighten-4"
        >
          {{ $t('products.showingResults') }}: <br>
          <small v-html="filterLabelText"></small>
        </v-alert>
        <div class="white border-box-shadow">
          <search-filters-products
            @filtersChange="filtersChange"
            :productos="productos"
            ref="searchFilters"
            class="mb-1"
          />
          <promo-section sidebar class="mb-3"/>
          <outlet-section/>
        </div>
      </v-col>
      <v-col cols="12" md="9" xl="10">
        <grid-products
          @showFilterSheet="sheet = true"
          ref="gridProducts"
        />
      </v-col>
    </v-row>
    <v-bottom-sheet
      v-model="sheet"
      inset
    >
      <v-sheet>
        <search-filters-products
          @filtersChange="filtersChange"
          :productos="productos"
          ref="searchFilters"
          class="mb-1"
        />
        <v-container>
          <v-btn
            depressed
            small
            tile
            block
            height="39"
            color="primary"
            class="btn-submit"
            @click="sheet = false"
          >
            {{ $t('products.seeResults') }}
          </v-btn>
        </v-container>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import GridProducts from '@/components/products/GridProducts'
import PromoSection from '@/components/ui/PromoSection'
import OutletSection from '@/components/ui/OutletSection'
import SearchFiltersProducts from '@/components/products/SearchFiltersProducts'

import Repository from '@/api/Repository'
const Productos = Repository.get('productos')

export default {
  name: 'Productos',
  components: {
    GridProducts,
    PromoSection,
    OutletSection,
    SearchFiltersProducts
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('navLinks.products'),
          disabled: true,
          to: '/productos'
        }
      ],
      filterLabel: false,
      filterLabelText: '',
      loading: true,
      productos: [],
      // filterProductsData: [],
      // activeFilter: false,
      // activePromos: false,
      sheet: false
    }
  },
  watch: {
    filterLabel (val) {
      if (!val) {
        this.$refs.gridProducts.fetchMethod = 'getAll'
        this.$refs.gridProducts.fetch()
        // this.$refs.searchFilters.resetAllFilters()
      }
    },
    sheet (val) {
      val ? window.Tawk.hideWidget() : window.Tawk.showWidget()
    }
  },
  mounted () {
    if (!Object.keys(this.$route.query).length) {
      this.$refs.gridProducts.fetch()
    } else {
      if (Object.keys(this.$route.query).length &&
      this.validSearchParameters(this.$route.query) &&
      !this.hasEmptyValues(this.$route.query)) {
        // Busqueda especifica
        this.setFilterLabelText()
      } else if (this.$route.query.search) {
        this.$refs.gridProducts.fetchMethod = 'generalSearch'
        this.$refs.gridProducts.searchQuery = this.$route.query.search
        this.filterLabel = true
        this.filterLabelText = this.$route.query.search
        this.$refs.gridProducts.generalSearch()
      }
    }
    // if (Object.keys(this.$route.query).length &&
    //   this.validSearchParameters(this.$route.query) &&
    //   !this.hasEmptyValues(this.$route.query)) {
    //   const specificSearchQuery = {
    //     armadora: this.$route.query.mc,
    //     modelo: this.$route.query.md,
    //     anio: this.$route.query.an,
    //     motor: this.$route.query.mt,
    //     categoria: this.$route.query.cat,
    //     nombre: this.$route.query.scat
    //   }
    //   this.filterLabel = true
    //   this.setFilterLabelText(specificSearchQuery)
    //   this.$refs.gridProducts.specifSearchQuery = specificSearchQuery
    //   this.$refs.gridProducts.fetchMethod = 'specificSearch'
    // } else if (Object.keys(this.$route.query).length && this.$route.query.search) {
    //   this.filterLabel = true
    //   this.filterLabelText = this.$route.query.search
    //   // this.getSearchResults(this.$route.query.search)
    //   this.$refs.gridProducts.searchQuery = this.$route.query.search
    //   this.$refs.gridProducts.fetchMethod = 'generalSearch'
    // } else {
    //   this.$refs.gridProducts.fetch()
    // }
  },
  methods: {
    async fetch () {
      this.loading = true
      try {
        const { data } = await Productos.getAll()
        this.productos = await data
        this.loading = false
      } catch (error) {
        console.log(error)
      }
    },
    filtersChange (value) {
      // this.filterProductsData = value
      console.log('filter', value)
    },
    async getSpecificSearchResults (search) {
      try {
        const { success, data } = await Productos.specificSearch(search)
        if (await success) {
          this.productos = await data
        }
        this.loading = false
      } catch (error) {
        console.log(error)
      }
    },
    async getSearchResults (search) {
      try {
        const { success, data } = await Productos.generalSearch(search)
        if (await success) {
          this.productos = data
        }
        this.loading = false
      } catch (error) {
        console.log(error)
      }
    },
    setFilterLabelText () {
      let text = ''
      // TODO. renombra mc por ar, scat por nom para hacerlo mas intuitivo
      const query = {
        armadora: this.$route.query.mc,
        modelo: this.$route.query.md,
        anio: this.$route.query.an,
        motor: this.$route.query.mt,
        categoria: this.$route.query.cat,
        nombre: this.$route.query.scat
      }
      if (query.armadora) text += `Armadora: ${query.armadora}<br>`
      if (query.modelo) text += `Modelo: ${query.modelo}<br>`
      if (query.anio) text += `Año: ${query.anio}<br>`
      if (query.motor) text += `Motor: ${query.motor}<br>`
      if (query.categoria) text += `Categoría: ${query.categoria}<br>`
      if (query.nombre) text += `Refacción: ${query.nombre}`

      this.filterLabelText = text
    },
    validSearchParameters (obj) {
      if (!Object.prototype.hasOwnProperty.call(obj, 'mc') ||
        !Object.prototype.hasOwnProperty.call(obj, 'md') ||
        !Object.prototype.hasOwnProperty.call(obj, 'an') ||
        !Object.prototype.hasOwnProperty.call(obj, 'mt') ||
        !Object.prototype.hasOwnProperty.call(obj, 'cat') ||
        !Object.prototype.hasOwnProperty.call(obj, 'scat')) {
        return false
      }
      return true
    },
    hasEmptyValues (obj) {
      // Regresa false y pasa validacion si algun key tiene valor
      let empty = true
      Object.keys(obj).forEach(key => {
        if (obj[key]) empty = false
      })
      return empty
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
