<template>
  <div class="pb-12 px-10">
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
        <h1 class="font-weight-regular">{{ promocion.nombre || '' }}</h1>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="3" xl="2" class="d-none d-md-block">
        <!-- <h1 class="font-weight-regular py-5 px-2"></h1> -->
        <div class="pt-6 pb-1"></div>
        <div class="white border-box-shadow mt-12">
          <search-filters-products
            @filtersChange="filtersChange"
            :productos="promocion.productos"
            ref="searchFilters"
            class="mb-1"
          />
          <promo-section sidebar class="mb-3"/>
          <outlet-section/>
        </div>
      </v-col>
      <v-col cols="12" md="9" xl="10">
        <grid-products
          :loading="loading"
          :productos="filterProductsData.length ? filterProductsData : promocion.productos "
          @showFilterSheet="sheet = true"
          :hide-filters="['En liquidación', 'En descuento', 'Outlet', 'Discount']"
          :not-found-message="$t('quotation.noProductsFound')"
        />
      </v-col>
    </v-row>
    <v-bottom-sheet
      v-model="sheet"
      inset
    >
      <v-sheet>
        <search-filters-products
          @filtersChange="filtersChange"
          :productos="promocion.productos"
          ref="searchFilters"
          class="mb-1"
        />
        <v-container>
          <v-btn
            depressed
            small
            tile
            block
            height="39"
            color="primary"
            class="btn-submit"
            @click="sheet = false"
          >ver resultados</v-btn>
        </v-container>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import GridProducts from '@/components/products/GridProducts'
import PromoSection from '@/components/ui/PromoSection'
import OutletSection from '@/components/ui/OutletSection'
import SearchFiltersProducts from '@/components/products/SearchFiltersProducts'

import Repository from '@/api/Repository'
const Promociones = Repository.get('promociones')
export default {
  name: 'PromocionesDetalles',
  components: {
    GridProducts,
    PromoSection,
    OutletSection,
    SearchFiltersProducts
  },
  data () {
    return {
      breadcrums: [
        {
          text: 'Inicio',
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: 'Promociones',
          disabled: false,
          exact: true,
          to: { name: 'Promociones' }
        },
        {
          text: '--',
          disabled: true,
          to: '/'
        }
      ],
      promocion: {},
      loading: true,
      productos: [],
      filterProductsData: [],
      activeFilter: false,
      activePromos: false,
      sheet: false
    }
  },
  watch: {
    sheet (val) {
      val ? window.Tawk.hideWidget() : window.Tawk.showWidget()
    }
  },
  created () {
    this.fetch()
  },
  methods: {
    async fetch () {
      this.loading = true
      try {
        const { success, data } = await Promociones.getPromo(this.$route.params.promocion)
        if (await success) {
          this.promocion = data
          this.breadcrums[2].text = await data.nombre
          this.loading = false
        }
      } catch (error) {
        console.log(error)
      }
    },
    filtersChange (value) {
      this.filterProductsData = value
    }
  }
}
</script>

<style>

</style>
