<template>
  <div>
    <div class="relative pt-10">
      <div class="wave">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#0099ff" fill-opacity="1" d="M0,160L120,138.7C240,117,480,75,720,85.3C960,96,1200,160,1320,192L1440,224L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"/>
        </svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#333e48" fill-opacity="1" d="M0,160L80,154.7C160,149,320,139,480,138.7C640,139,800,149,960,160C1120,171,1280,181,1360,186.7L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"/>
        </svg>
      </div>
      <v-row justify="center" align="center" class="relative">
        <v-col cols="10" sm="6" md="4" v-html="$t('general.promocionesBanner')">
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quidem consequuntur eveniet tenetur magni praesentium dolor a omnis maiores voluptates dicta similique sequi unde delectus consequatur earum nemo. Magni, ipsa?
          </p> -->
        </v-col>
        <v-col cols="4" class="d-none d-sm-block">
          <div class="img_container">
            <img src="@/assets/img/popoye_600x495.png" alt="">
          </div>
        </v-col>
      </v-row>
    </div>
    <v-container>
      <v-row>
        <v-col>
          <v-breadcrumbs
            :items="breadcrums"
            class="pl-1"
          />
        </v-col>
      </v-row>
      <v-row v-if="!showNoPromoMessage" class="align-start">
        <v-col
          v-for="(item, index) in promociones" :key="index"
          cols="12" sm="6" md="4"
        >
          <div class="card">
            <promo-card :content="item"/>
          </div>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col>
          <v-alert
            text
            icon="mdi-exclamation"
          >
            {{ $t('quotation.noActiveQuotations') }}
          </v-alert>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import PromoCard from '../components/ui/cards/PromoCard'
import Repository from '@/api/Repository'
const Promociones = Repository.get('promociones')

export default {
  name: 'Promociones',
  components: {
    PromoCard
  },
  data () {
    return {
      breadcrums: [
        {
          text: 'Inicio',
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: 'Promociones',
          disabled: true,
          to: '/promociones'
        }
      ],
      promociones: [],
      showNoPromoMessage: false
    }
  },
  created () {
    this.fetch()
  },
  methods: {
    async fetch () {
      try {
        const { data } = await Promociones.get()
        this.promociones = await data
      } catch (error) {
        console.log(error)
      } finally {
        if (!this.promociones.length) this.showNoPromoMessage = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  background: #fefefe;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background: #FFF;
    box-shadow: 0 0px 8px rgba(201,201,201,0.75);
  }
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: rotateY(180deg);
  z-index: 0;
}
.img_container {
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
// .header {
//   &__title {
//     font-weight: 900!important;
//     color: $blue-darken;
//     font-size: 2.5rem;
//     line-height: 1;
//     &:last-of-type {
//       // color: darken($yellow, 2%);
//       // text-shadow: 1px 1px 3px #111;
//       display: inline-block;
//       background: darken($yellow, 2%);
//       padding: 0.8rem;
//       border-radius: 15px;
//       // font-size: 2rem;
//     }
//   }
// }
</style>
