<template>
  <div class="w-100 white">
    <v-container class="py-0">
      <v-row :class="{ 'fixed': fixedNav }">
        <v-col cols="auto">
          <router-link to="/">
            <img src="@/assets/img/logo.png" alt="" class="logo">
          </router-link>
        </v-col>
        <v-col cols="5" class="d-flex align-center">
          <search-form/>
        </v-col>
        <v-col cols="flex-1" class="d-flex align-center justify-end">
          <div v-if="fixedNav" class="mr-5">
            <div v-if="isLogged">
              <small>{{ $t('header.hello') }} {{ userName }}</small> <br>
              <router-link :to="{ name: 'MiCuenta' }" class="btn-account">
                <b>{{ $t('header.profile') }}</b> |
              </router-link>
              <a @click.prevent="logOut" class="btn-account">
                <b>{{ $t('header.logOut') }}</b>
              </a>
            </div>
            <router-link v-else class="btn-account" :to="{ name: 'Login' }">
              <v-icon>mdi-account</v-icon>
              <b>{{ $t('header.logIn') }}</b>
            </router-link>
          </div>
          <div class="phone d-flex justify-end">
            <v-icon
              color="amber accent-3"
              :large="!fixedNav"
            >
              mdi-phone-outline
            </v-icon>
            <div class="pl-3">
              <p class="mb-0">{{ $t('header.phone') }}:</p>
              <h4 class="ma-0 font-weight-medium">
                <a href="tel:4433151689" class="btn-link-tel font--color">
                  443 3 15 16 89
                </a>
              </h4>
            </div>
          </div>
          <div class="d-flex justify-end">
            <v-badge
              :content="totalProducts"
              :value="totalProducts"
              color="primary"
              overlap
              offset-x="16px"
              offset-y="17px"
              class="topbar-cart"
            >
              <v-btn
                icon
                color="#626367"
                @click="$store.commit('SET_CART_DRAWER', true)"
              >
                <v-icon :large="!fixedNav">mdi-cart-outline</v-icon>
              </v-btn>
            </v-badge>
            <div class="cart-text pl-3" v-if="totalProducts">
              <p class="mb-0">Total:</p>
              <h4 class="ma-0 font-weight-medium">{{ total | currency }}</h4>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import upperFirst from 'lodash/upperFirst'
import SearchForm from '@/components/forms/GeneralSearchForm'
import { mapState, mapGetters } from 'vuex'
import { logoutMixin } from '@/mixins/logoutMixin'

export default {
  name: 'Brandbar',
  mixins: [logoutMixin],
  components: {
    SearchForm
  },
  data () {
    return {
      cartItems: 1
    }
  },
  computed: {
    ...mapState(['cart', 'fixedNav']),
    ...mapState('auth', ['user']),
    ...mapGetters({
      isLogged: 'auth/isLogged',
      totalProducts: 'cart/totalProducts',
      total: 'cart/total'
    }),
    userName () {
      return upperFirst(this.user.datos_personales?.nombres?.split(' ')[0])
    }
  }
}
</script>

<style lang="scss" scoped>
.logo {
  width: 90px;
  transition: all 0.3s ease-out;
}
.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  fieldset {
    border-color: #dedede;
  }
}
.btn-submit {
  border-top-right-radius: 3px!important;
  border-bottom-right-radius: 3px!important;
  font-size: 0.8em;
}
.phone {
  padding-right: 20px;
}
.fixed {
  .logo {
    width: 60px;
  }
  .phone, .cart-text {
    font-size: 0.8em;
  }
}
.fade-enter-active, .fade-leave-active {
  // transition: transform .5s ease-out 0.3s;
  transform: scaleX(1);
}
.fade-enter, .fade-leave-to {
  transform: scaleX(0);
}
</style>
