<template>
  <div class="w-100 black" :class="{'d-none': fixedNav}">
    <v-container class="py-0">
      <v-row>
        <v-col>
          <v-btn
            href="https://www.facebook.com/refaceballos"
            target="_blank"
            icon
            small
          >
            <v-icon
              color="#626364"
            >
              mdi-facebook
            </v-icon>
          </v-btn>
          <v-btn
            href="https://www.instagram.com/refacemorelia/"
            target="_blank"
            icon
            small
          >
            <v-icon
              color="#626364"
              class="ml-2"
            >
              mdi-instagram
            </v-icon>
          </v-btn>
        </v-col>
        <v-col class="content text-right pr-0">
          <div v-if="isLogged">
            <router-link :to="{ name: 'MiCuenta' }" class="btn-link">
              <v-icon color="#626364" class="mr-1">mdi-account-outline</v-icon>
              {{ userName }}
            </router-link><span>|</span>
            <a class="btn-link" @click.prevent="logOut">{{ $t('header.logOutSession') }}</a>
          </div>
          <div v-else>
            <v-icon color="#626364">mdi-account-outline</v-icon>
            <router-link :to="{ name: 'Login' }" class="btn-link text-uppercase">{{ $t('header.logIn') }}</router-link><span>|</span>
            <router-link :to="{ name: 'Registro' }" class="btn-link text-uppercase">{{ $t('header.register') }}</router-link>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { logoutMixin } from '@/mixins/logoutMixin'

export default {
  name: 'LoginRegister',
  mixins: [logoutMixin],
  computed: {
    ...mapState({
      fixedNav: 'fixedNav',
      user: state => state.auth.user
    }),
    ...mapGetters('auth', ['isLogged']),
    userName () {
      return this.user.datos_personales?.nombres?.split(' ')[0].toUpperCase()
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  color: #626364;
  font-size: 0.8em;
  span {
    color: #FFF;
  }
}
</style>
