<template>
  <div class="w-100 primary">
    <v-container class="py-0">
      <v-row>
        <v-col class="py-0 d-flex justify-space-between">
          <v-menu
            bottom
            offset-y
            :close-on-content-click="false"
            origin="center center"
            transition="slide-x-transition"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                ref="menuButton"
                tile
                x-large
                dark
                color="#121212"
                class="font-weight-light btn-search"
                v-bind="attrs"
                v-on="on"
              >
                {{ $t('specificSearch.btnText') }}
                <v-icon right dark>mdi-chevron-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item>
                <v-autocomplete
                  v-model="busqueda.marca"
                  :items="marcas"
                  :label="$t('specificSearch.brand')"
                  :menu-props="{
                    offsetX: true,
                    transition: 'slide-x-transition'
                  }"
                  dense
                  hide-details
                  outlined
                  clearable
                  @change="getModelos"
                />
              </v-list-item>
              <v-list-item>
                <v-autocomplete
                  v-model="busqueda.modelo"
                  :items="modelos"
                  :label="$t('specificSearch.model')"
                  :menu-props="{
                    offsetX: true,
                    transition: 'slide-x-transition'
                  }"
                  dense
                  hide-details
                  outlined
                  clearable
                  @change="getAnios"
                />
              </v-list-item>
              <v-list-item>
                <v-autocomplete
                  v-model="busqueda.anio"
                  :items="anios"
                  :label="$t('specificSearch.year')"
                  :menu-props="{
                    offsetX: true,
                    transition: 'slide-x-transition'
                  }"
                  dense
                  hide-details
                  outlined
                  clearable
                  @change="getMotores"
                />
              </v-list-item>
              <v-list-item>
                <v-autocomplete
                  v-model="busqueda.motor"
                  :items="motores"
                  :label="$t('specificSearch.motors')"
                  :menu-props="{
                    offsetX: true,
                    transition: 'slide-x-transition'
                  }"
                  dense
                  hide-details
                  outlined
                  clearable
                  @change="getCategories"
                />
              </v-list-item>
              <v-list-item>
                <v-autocomplete
                  v-model="busqueda.categoria"
                  :items="categorias"
                  :label="$t('specificSearch.category')"
                  :menu-props="{
                    offsetX: true,
                    transition: 'slide-x-transition'
                  }"
                  dense
                  hide-details
                  outlined
                  clearable
                  @change="getSubCategories"
                />
              </v-list-item>
              <v-list-item>
                <v-autocomplete
                  v-model="busqueda.subcategoria"
                  :items="subcategorias"
                  :label="$t('specificSearch.repair')"
                  :menu-props="{
                    offsetX: true
                  }"
                  dense
                  hide-details
                  outlined
                  clearable
                />
              </v-list-item>
              <v-list-item>
                <v-btn
                  color="primary"
                  block
                  depressed
                  :disabled="!busqueda.marca"
                  @click="search"
                >
                  {{ $t('specificSearch.cta') }}
                </v-btn>
              </v-list-item>
            </v-list>

          </v-menu>

          <div class="d-flex align-center">
            <nav class="menu">
              <ul class="menu--list">
                <li v-for="({ name, text })  in navigationLinks" :key="name">
                  <router-link
                    :to="{ name }"
                  >
                    {{ text }}
                  </router-link>
                </li>
              </ul>
            </nav>
            <lang-switcher/>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import LangSwitcher from '@/components/ui/LangSwitcher'
import Repository from '@/api/Repository'
const Productos = Repository.get('productos')

export default {
  name: 'NavMenu',
  components: {
    LangSwitcher
  },
  computed: {
    ...mapState({
      navigationLinks: 'navigationLinks'
      // categorias: storeModules => storeModules.products.categories
    }),
    ...mapGetters('auth', ['isLogged']),

    marcas () {
      return this.filters.filter(item => item.armadora.nombre !== '')
        .map(item => item.armadora.nombre)
        .sort()
    }
  },
  created () {
    // this.fetch()
  },
  data () {
    return {
      hideMenu: false,
      busqueda: {
        marca: '',
        modelo: '',
        anio: '',
        motor: '',
        categoria: '',
        subcategoria: ''
      },
      modelos: [],
      anios: [],
      motores: [],
      filters: [],
      categorias: [],
      subcategorias: []
    }
  },
  methods: {
    async fetch () {
      try {
        const { data } = await Productos.dataForSpecificSearch()
        // console.log(await data)
        this.filters = await data
      } catch (error) {
        console.log('error in feth:NavMenu', error)
      }
    },
    getModelos () {
      if (this.busqueda.marca) {
        const obj = this.getSingleItemFromFilters()
        this.modelos = obj?.armadora.autos
          .map(ob => ob.nombre)
          .sort()
      } else {
        this.modelos = []
        this.anios = []
        this.motores = []
        this.busqueda.modelo = ''
        this.busqueda.anio = ''
        this.busqueda.motor = ''
      }
      this.getCategories()
    },
    getAnios () {
      if (this.busqueda.modelo) {
        const obj = this.getSingleItemFromFilters()
        this.anios = obj?.armadora.autos
          .filter(item => item.nombre === this.busqueda.modelo)[0]?.anios
          .sort()
      } else {
        this.anios = []
        this.motores = []
        this.busqueda.anio = ''
        this.busqueda.motor = ''
      }
      this.getCategories()
    },
    getMotores () {
      if (this.busqueda.anio) {
        const obj = this.getSingleItemFromFilters()
        this.motores = obj?.armadora.autos
          .filter(item => item.nombre === this.busqueda.modelo)[0]?.motor
          .sort()
      } else {
        this.motores = []
        this.busqueda.motor = ''
      }
      this.getCategories()
    },
    async getCategories () {
      try {
        if (this.busqueda.marca) {
          const { data } = await Productos.getCategoriesForSpecificSearch({ armadora: this.busqueda.marca, ...this.busqueda })
          this.categorias = await data
        } else {
          this.busqueda.categoria = ''
          this.categorias = []
        }
      } catch (error) {
        console.log(error)
      }
    },
    async getSubCategories () {
      try {
        const sub = await Productos.subCategories(this.busqueda.categoria)
        this.subcategorias = await sub
      } catch (error) {
        console.log(error)
      }
    },
    getSingleItemFromFilters () {
      // console.log(this.filters.filter(item => item.armadora.nombre === this.busqueda.marca && this.busqueda.marca !== ''))
      return this.filters.filter(item => item.armadora.nombre === this.busqueda.marca && this.busqueda.marca !== '')[0]
    },
    search () {
      const query = `mc=${this.busqueda.marca}&md=${this.busqueda.modelo}&an=${this.busqueda.anio}&mt=${this.busqueda.motor}&cat=${this.busqueda.categoria}&scat=${this.busqueda.subcategoria}`
      this.$refs.menuButton.$el.click()
      this.resetSearchData()
      this.$router.push({
        path: `/productos?${query}`
      }).catch((err) => {
        console.log('err', err)
        this.$store.commit('NOTIFY', this.$t('specificSearch.errorMsg1'))
      })
    },
    resetSearchData () {
      this.busqueda = {
        marca: '',
        modelo: '',
        anio: '',
        motor: '',
        categoria: '',
        subcategoria: ''
      }
      this.categorias = []
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-search {
  font-size: 0.9em!important;
}
.menu {
  &--list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    a {
      color: #FFF;
      padding: 1.2em 1em;
      display: block;
      text-decoration: none;
      text-transform: capitalize;
      transition: all 0.2s ease;
      &:hover {
        color: $yellow;
      }
    }
    .router-link-exact-active {
      color: $yellow;
    }
  }
}
</style>
