<template>
  <div class="banner">
    <img :src="randomImage" :alt="title">
    <div class="content">
      <h2 class="title">
        {{ title }}
      </h2>
      <h4 class="subtitle">
        {{ subTitle }}
      </h4>
      <v-btn
        small
        color="primary mt-2"
        class="button"
        :to="{
          name: 'Productos',
          query
        }"
      >
        {{ buttonText }}
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    img: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subTitle: {
      type: String,
      default: ''
    },
    linkTo: {
      type: String,
      default: ''
    },
    buttonText: {
      type: String,
      default: 'Detalles'
    }
  },
  data () {
    return {
      background: [
        require('@/assets/img/banners/cat_01.png'),
        require('@/assets/img/banners/cat_02.png'),
        require('@/assets/img/banners/cat_03.png'),
        require('@/assets/img/banners/cat_04.png'),
        require('@/assets/img/banners/cat_05.png'),
        require('@/assets/img/banners/cat_06.png'),
        require('@/assets/img/banners/cat_07.png'),
        require('@/assets/img/banners/cat_08.png'),
        require('@/assets/img/banners/cat_09.png')
      ],
      query: {
        mc: '',
        md: '',
        an: '',
        mt: '',
        cat: this.title,
        scat: ''
      }
    }
  },
  computed: {
    randomImage () {
      return this.background[Math.floor(Math.random() * this.background.length)]
    }
  }
}
</script>

<style lang="scss" scoped>
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
    transform: scale(1.1);
    will-change: transform;
    transition: all 0.5s ease-in-out;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,0));
    z-index: 1;
  }
  &:hover img {
    transform: scale(1.1) translateX(-4.5%);
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    z-index: 2;
    padding: 20px 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-end;
    .title {
      color: #FFF;
      line-height: 1.2;
      text-transform: uppercase;
      @media ($lg) {
        font-size: 2em!important;
      }
    }
    .subtitle {
      color: #FFF;
      font-weight: 300;
      text-transform: uppercase;
    }
    .button {
      text-transform: capitalize;
      // position: absolute;
      // bottom: 45px;
      // left: 7%;
      @media ($mobile) {
        left: 10%;
      }
    }
    @media ($mobile) {
      padding: 5px 10%;
    }
  }
}
</style>
