<template>
  <v-row class="promo h-100" no-gutters>
    <v-col
      cols="12"
      :sm="vertical ? 12 : 6"
    >
      <router-link :to="{
        name: 'NoticiaDetalles',
        params: {
          noticia: content.titulo
        }
      }">
        <div class="image" :class="{'vertical' : vertical}">
          <img :src="content.ruta" alt="">
        </div>
      </router-link>
    </v-col>
    <v-col
      cols="12"
      :sm="vertical ? 12 : 6"
      class="d-flex flex-column justify-center align-start"
      :class=" vertical ? 'px-3 py-6 h-50' : 'px-4 py-3'"
    >
      <h5 class="date mb-1 mt-3 mt-sm-0">{{ content.fecha | dateString }}</h5>
      <h5 class="category mb-5">{{ content.categoria }}</h5>
      <h1 class="title mb-8">
        <router-link :to="`noticias/${content.titulo}`">
          {{ content.titulo }}
        </router-link>
      </h1>
      <p class="text mb-5">
        {{ content.contenido | truncate(preview) }}
      </p>
      <v-btn tile class="button" color="black" dark :to="`noticias/${content.titulo}`">
        {{ $t('general.newsSeeMore') }}
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'NewsCard',
  props: {
    content: {
      type: Object,
      default: () => {}
    },
    preview: {
      type: Number,
      default: 120
    },
    vertical: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.promo {
  font-weight: 400;
  .image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &.vertical {
      max-height: 250px;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.1);
      transition: $transition;
      z-index: 1;
    }
    &::after {
      transform: translateX(100%);
    }
    &::before {
      transform: translateX(-100%);
    }
    &:hover::before,
    &:hover::after {
      transform: translateX(0);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .date {
    color: $blue;
    font-weight: 400;
  }
  .title {
    line-height: 1.2;
    font-weight: 400;
    a {
      text-decoration: none;
      transition: $transition;
      color: $text-color;
      &:hover {
        color: $blue;
      }
    }
  }
  .category {
    font-weight: 400;
  }
  .text {
    flex: 1;
  }
  .button {
    transition: $transition;
    font-weight: 400;
    text-transform: capitalize;
    &:hover {
      background-color: darken($blue, 10%)!important;
    }
  }
}
.h-50 {
  height: 50%;
}
</style>
