<template>
  <div class="product product-card" :class="{ 'horizontal': horizontal, 'bordered': bordered }">
    <div class="product--wrapper">
      <div class="product--head">
        <router-link :to="productRoute">
          <img
            :src="`${$store.state.PAGE_URL}/replace-sys/imagenes/productos/${product.imagen[0]}`"
            onerror="this.onerror=null; this.src='https://via.placeholder.com/300x450/FAFAFA?text=°°°'"
            :alt="product.nombre"
          >
        </router-link>
      </div>
      <span
        v-if="product.id_promo && product.promocion && product.promocion[0].descuento && !label"
        class="product--label"
      >
        <span class="label-sale">
          {{ product.promocion[0].descuento }} %
        </span>
      </span>
      <span
        v-if="label"
        class="product--label"
      >
        <span class="label-sale">
          {{ label }}
        </span>
      </span>
      <div class="product--content">
        <div class="product--vendor">
          <h4 class="nombre mb-1">
            <router-link :to="productRoute">
              {{ product.nombre }}
            </router-link>
          </h4>
          <!-- <span>
            {{ product.nombre }}
          </span> -->
        </div>
        <div class="product--price">
          <div class="money-wrapper">
            <span
              v-if="product.id_promo && product.promocion && product.promocion.length && product.promocion[0].descuento"
              class="promo-price"
            >
              {{ product.precio | discount(product.promocion.length && product.promocion[0].descuento) | currency }}
            </span>
            <span v-else>
              {{ product.precio | currency }}
            </span>
            <span
              v-if="product.id_promo && product.promocion && product.promocion.length && product.promocion[0].descuento"
              class="regular-price"
            >
              {{ product.precio | currency }}
            </span>
          </div>
          <v-icon
            class="cart-icon"
            @click="$store.dispatch('products/showProductInModal', product)"
          >
            mdi-cart-outline
          </v-icon>
          <v-btn
            small
            color="primary"
            class="pl-5 pr-6 cart-icon--horizontal"
            depressed
            outlined
            @click="$store.dispatch('products/showProductInModal', product)"
          >
            <v-icon right class="ml-0" small>mdi-cart-outline</v-icon>
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductModel from '@/models/ProductModel'
export default {
  props: {
    product: {
      type: Object,
      default: () => ProductModel()
    },
    horizontal: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    }
  },
  computed: {
    textLenght () {
      return this.horizontal ? 50 : 20
    },
    productRoute () {
      return {
        name: 'ProductoDetalles',
        query: {
          ref: this.product.codigo
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.product {
  max-width: 100%;
  height: 100%;
  background: #FFF;
  transition: $transition ;
  &--wrapper {
    position: relative;
    height: 100%;
    padding: 20px 20px 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  &--head {
    width: 100%;
    height: 70%;
    margin-bottom: 20px;
    overflow: hidden;
    object, img {
      width: 100%;
      height: 100%;
      max-height: 250px;
      object-fit: contain;
    }
  }
  &--content {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  &--vendor {
    .nombre {
      text-transform: uppercase;
      font-weight: 500;
      a {
        text-decoration: none;
        color: #000;
        transition: $transition;
        &:hover {
          color: $blue;
        }
      }
    }
    .descripcion {
      cursor: default;
    }
  }
  &--price {
    font-size: 1.44em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .money-wrapper {
      font-weight: 500;
      padding-right: 10px;
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: baseline;
    }
    .cart-icon {
      color: #d4d4d4;
      cursor: pointer;
      &--horizontal {
        display: none;
      }
      &:hover {
        color: $blue;
      }
      // @media ($mobile) {
      //   display: none;
      // }
    }
    .promo-price {
      color: $blue;
      margin-right: 1em;
    }
    .regular-price {
      font-size: 0.65em;
      text-decoration: line-through;
      opacity: 0.6;
    }
    @media ($mobile) {
      font-size: 1.18em;
    }
  }
  &--label {
    position: absolute;
    display: block;
    top: 20px;
    left: -5px;
    font-size: 12px;
    .label-sale {
      display: block;
      text-align: center;
      padding: 4.5px 10px 4.5px 12px;
      background: $yellow;
      font-weight: 500;
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid black;
        position: absolute;
        display: block;
        left: 0;
        top: 100%;
        transform: rotate(45deg);
        margin-top: -1px;
      }
    }
  }
}
.product.horizontal {
  .product--wrapper{
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .product--head {
    width: 30%;
    margin-bottom: 0;
    height: 80px;
  }
  .product--price {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    // margin-bottom: 5px;
    .money-wrapper {
      margin-bottom: 0.4rem;
      // margin-bottom: 10px;
    }
  }
  .product--content {
    // justify-content: start;
    flex-direction: row;
  }
  .cart-icon {
    display: none;
    &--horizontal {
      display: block;
    }
  }
}
</style>
