<template>
  <v-row class="promo h-100" no-gutters>
    <v-col
      cols="12"
    >
      <router-link :to="route">
        <div class="image">
          <img :src="imgSrc" alt="">
        </div>
      </router-link>
    </v-col>
    <v-col
      cols="12"
      class="d-flex flex-column justify-center align-start px-3 py-6"
    >
      <h1 class="promo-title mb-1">
        <router-link :to="route">
          {{ content.nombre }}
        </router-link>
      </h1>
      <p class="text mb-5">
        {{ content.descripcion }}
      </p>
      <v-btn small tile class="button" color="black" dark :to="route">
        {{ $t('general.discountsSeeMore') }}
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'PromoCard',
  props: {
    content: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    imgSrc () {
      return process.env.NODE_ENV === 'development'
        ? process.env.VUE_APP_URL_PROMOCIONES
        : process.env.VUE_APP_URL_PROMOCIONES + this.content.ruta
    },
    route () {
      return {
        name: 'PromocionDetalles',
        params: {
          promocion: this.content.id_promo
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.promo {
  font-weight: 400;
  .image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 450px;
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.1);
      transition: $transition;
      z-index: 1;
    }
    &::after {
      transform: translateX(100%);
    }
    &::before {
      transform: translateX(-100%);
    }
    &:hover::before,
    &:hover::after {
      transform: translateX(0);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .promo-title {
    line-height: 1.2;
    font-weight: 400;
    a {
      color: $blue;
      text-decoration: none;
      transition: $transition;
      &:hover {
        color: $yellow;
      }
    }
  }
  .category {
    font-weight: 400;
  }
  .text {
    flex: 1;
  }
  .button {
    transition: $transition;
    font-weight: 400;
    text-transform: capitalize;
    &:hover {
      background-color: darken($blue, 10%)!important;
    }
  }
}
</style>
