<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <v-row class="pb-12">
      <v-col cols="12" class="d-flex justify-space-between">
        <h2 class="font-weight-regular mb-4 font--color d-inline-block">
          {{ $t('general.welcome') }} {{ userName }}
        </h2>
        <v-btn
          text
          small
          class="text-lowercase"
          color="primary"
          @click.prevent="logOut"
        >{{ $t('header.logOutSession') }}</v-btn>
      </v-col>
      <v-col cols="12">
        <v-alert
          v-model="alertMessage"
          color="cyan"
          border="left"
          elevation="2"
          colored-border
          icon="mdi-checkbox-marked-circle-outline"
          dismissible
        >
          ¡{{ $t('confirmation.successMessage') }}!
        </v-alert>
      </v-col>
      <v-col cols="12">
        <v-card class="transparent" outlined>
          <v-tabs class="custom-tabs d-none d-sm-block" v-model="active">
            <v-tab
              v-for="({text, icon}, index) in options" :key="index"
              :ripple="false"
            >
              <v-icon left>{{ icon }}</v-icon>
              {{ text }}
            </v-tab>
          </v-tabs>
          <div class="d-flex d-sm-none justify-content-center flex-wrap mb-4">
            <v-select
              v-model="active"
              :items="options"
              item-text="text"
              item-value="position"
              solo
              hide-details
              :value="options[1]"
            ></v-select>
          </div>
          <div class="white pa-5 bordered">
            <div v-if="active === 0">
              <user-profile/>
            </div>
            <div v-if="active === 1">
              <user-orders/>
            </div>
            <div v-if="active === 2">
              <payment-forms-instructions/>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import UserOrders from '@/components/user/Orders'
import UserProfile from '@/components/user/Profile'
import PaymentFormsInstructions from '@/components/user/PaymentFormsInstructions'
import { logoutMixin } from '@/mixins/logoutMixin'

export default {
  name: 'MiCuenta',
  mixins: [logoutMixin],
  components: {
    PaymentFormsInstructions,
    UserOrders,
    UserProfile
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('header.profile'),
          disabled: true,
          to: '/mi-cuenta'
        }
      ],
      options: [
        {
          text: this.$t('general.account'),
          icon: 'mdi-account-details',
          position: 0
        },
        {
          text: this.$t('general.orders'),
          icon: 'mdi-shopping-outline',
          position: 1
        },
        {
          text: this.$t('general.paymentInstructions'),
          icon: 'mdi-tooltip-text-outline',
          position: 2
        }
      ],
      active: 1
    }
  },
  computed: {
    // ...mapState({ user: 'auth.user' }),
    ...mapState({ userData: state => state.auth.user }),
    ...mapGetters({
      showBuyMessage: 'cart/getShowBuyMessage',
      paymentForm: 'cart/getPaymentForm'
    }),
    userName () {
      if (this.userData.datos_personales && this.userData.datos_personales.nombres) {
        return ', ' + this.userData.datos_personales.nombres
      }
      return ''
    },
    alertMessage: {
      get () {
        return this.showBuyMessage
      },
      set (val) {
        if (!val) this.$store.commit('cart/SET_BUY_MESSAGE', val)
        // console.log('set desde drawer')
      }
    }
  },
  created () {
    if (this.showBuyMessage) {
      if (this.paymentForm !== 'paypal') {
        this.active = 2
      }
      setTimeout(() => {
        this.alertMessage = false
      }, 4500)
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
</style>
