<template>
  <v-container class="pb-12">
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <!-- Sin productos -->
    <v-row v-if="!totalProducts" class="flex-column align-center py-12">
      <v-col cols="12" class="text-center">
        <h1 class="font-weight-regular">
          {{ $t('checkout.noProducts') }}
        </h1>
      </v-col>
      <v-col cols="4">
        <v-divider></v-divider>
      </v-col>
      <v-col class="text-center" cols="12" md="8">
        <p>
          {{ $t('checkout.emptyCart') }}
        </p>
      </v-col>
      <v-col cols="12" class="text-center">
        <v-btn
          class="ma-2"
          color="primary"
          depressed
          tile
          @click="$router.push({ name: 'Productos' })"
        >
          {{ $t('checkout.goShop') }}
        </v-btn>
      </v-col>
    </v-row>

    <v-row v-else>
      <v-col cols="12" md="8">
        <!-- Detalles / Login -->
        <template v-if="isLogged">
          <h2 class="font-weight-regular mb-5">{{ $t('checkout.details') }}</h2>
          <checkout-details ref="checkoutDetails" class="mb-8"/>
        </template>
        <v-card
          v-else
          outlined
          class="mb-5"
        >
          <v-card-text class="text-center">
            <p>
              {{ $t('checkout.headerMessage') }}
            </p>
            <login-form :redirect="false"/>
            {{ $t('checkout.loginFormBottomMessage') }} <router-link :to="{ name: 'Registro' }" class="btn-link-tel">{{ $t('checkout.loginFormBottomMessageLink') }}</router-link>
          </v-card-text>
        </v-card>

        <!-- Formas de pago -->
        <h2 class="font-weight-regular mb-5">
          {{ $t('checkout.payMethod') }}
        </h2>
        <payment-form class="mb-8"/>

        <!-- Cart items -->
        <h2 class="font-weight-regular mb-5">
          {{ $t('checkout.cart') }}
          <a @click.prevent="$store.commit('SET_CART_DRAWER', true)" class="btn-modify">
            ({{ $t('checkout.change') }})
          </a>
        </h2>
        <products-list :products="$store.state.cart.productos"/>
        <a @click.prevent="$store.dispatch('cart/unsetCart')" class="btn-link-tel mt-4 d-inline-block">{{ $t('checkout.flushCart') }}</a>
      </v-col>

      <!-- Aside card con monto y boton para continuar -->
      <v-col cols="12" md="4">
        <total-cart-resume @goToResume="goToResume" :loading="loadingButton"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import CheckoutDetails from '@/components/cart/CheckoutDetails'
import PaymentForm from '@/components/cart/PaymentForm'
import LoginForm from '@/components/forms/LoginForm'
import ProductsList from '@/components/cart/ProductsList'
import TotalCartResume from '@/components/cart/TotalCartResume'

export default {
  name: 'Checkout',
  components: {
    CheckoutDetails,
    LoginForm,
    PaymentForm,
    ProductsList,
    TotalCartResume
  },
  computed: {
    ...mapGetters({
      totalProducts: 'cart/totalProducts',
      isLogged: 'auth/isLogged'
    })
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: 'Checkout',
          disabled: true,
          to: '/cart/checkout'
        }
      ],
      loadingButton: false
    }
  },
  methods: {
    goToResume () {
      // console.log('go to resumen')
      /**
       * VerifyCheckout pone el loading en el boton de TotalCartResume
       */
      this.loadingButton = true
      /**
       * Poner a false(desactivar loading) si no pasa la validación
       */
      this.loadingButton = this.$refs.checkoutDetails.checkShippingForm()
    }
  }
}
</script>

<style lang="scss" scoped>
.payment-resume {
  color: $text-color!important;
}
.btn-modify {
  font-size: 0.8rem;
  // font-style: italic;
  text-decoration: none;
  margin-left: 8px;
}
</style>
