<template>
  <v-row class="flex-column align-center py-12">
    <v-col class="text-center">
      <v-icon class="check-icon" color="#366CB3">mdi-checkbox-marked-circle-outline</v-icon>
    </v-col>
    <v-col cols="12" class="text-center">
      <h1 class="font-weight-regular text-uppercase">
        ¡{{ $t('confirmation.successMessage') }}!
      </h1>
    </v-col>
    <v-col cols="4">
      <v-divider></v-divider>
    </v-col>
    <v-col cols="12" md="6">
      <div v-if="paymentForm !== 'paypal'">
        <p class="text-center mb-5">
          {{ $t('confirmation.paymentInstructions') }}:
        </p>
        <payment-instructions :paymentForm="paymentForm"/>
        <p class="mt-5 text-center">
          {{ $t('confirmation.paymentInstructions_2') }} <a href="javscript:;" @click.prevent="$store.dispatch('openChat')">{{ $t('confirmation.paymentInstructionsLink') }}</a>
        </p>
      </div>
      <p v-else class="text-center">
        <span v-html="$t('confirmation.successText')"></span> <router-link :to="{ name: 'MiCuenta' }">{{ $t('confirmation.successTextLink') }}</router-link> {{ $t('confirmation.successText_2') }}
      </p>
    </v-col>
    <v-col cols="12" class="text-center">
      <v-btn
        class="ma-2"
        color="primary"
        depressed
        tile
        @click="$router.push({ name: 'Productos' })"
      >
        {{ $t('confirmation.seeProducts') }}
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import PaymentInstructions from '@/components/ui/PaymentInstructions'
export default {
  name: 'PaymentConfirmation',
  components: {
    PaymentInstructions
  },
  computed: {
    ...mapGetters({
      paymentForm: 'cart/getPaymentForm'
    })
  }
}
</script>

<style lang="scss" scoped>
.check-icon::before {
  font-size: 100px;
}
</style>
