<template>
  <v-container class="pb-12">
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <v-row v-if="!totalProducts || !hasShippingInfo">
      <v-col cols="12" md="6">
        <v-skeleton-loader
          type="image"
        ></v-skeleton-loader>
      </v-col>
      <v-col cols="12" md="6">
        <v-skeleton-loader
          type="image"
        ></v-skeleton-loader>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="12" md="6">
        <v-alert
          type="error"
          outlined
          icon="mdi-exclamation"
          dense
          v-if="$store.state.cart.paymentError"
        >
          {{ $t('resume.paymentError') }}
        </v-alert>
        <order-resume :order="order" hide-comprobante-pago>
          <h2 class="font-weight-medium font--color">
            {{ $t('resume.orderResume') }}
          </h2>
          <p class="mb-6">
            <small><i>{{ $t('resume.orderResumeNote') }}</i></small>
          </p>
        </order-resume>
      </v-col>
      <v-col cols="12" md="6">
        <total-cart-resume payment/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import OrderResume from '@/components/user/OrderResume'
import TotalCartResume from '@/components/cart/TotalCartResume'

export default {
  name: 'CartResumen',
  components: {
    OrderResume,
    TotalCartResume
  },
  created () {
    if (!this.hasShippingInfo || !this.totalProducts) {
      console.log('no tiene shipping info o total products')
      this.$router.replace({ name: 'Checkout' })
    }
  },
  watch: {
    totalProducts (val) {
      console.log(val)
      if (!val) this.$router.replace({ name: 'Checkout' })
    }
  },
  computed: {
    ...mapGetters({
      hasShippingInfo: 'cart/hasShippingInfo',
      totalProducts: 'cart/totalProducts'
    }),
    order () {
      return {
        envio: this.$store.state.cart.envio,
        productos: this.$store.state.cart.productos,
        user: this.$store.state.auth.user.datos_personales,
        total: this.$store.getters['cart/total'],
        forma_pago: this.$store.state.cart.paymentForm
      }
    }
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: 'Checkout',
          disabled: false,
          to: { name: 'Checkout' }
        },
        {
          text: this.$t('navLinks.resume'),
          disabled: true,
          to: '/cart/resumen'
        }
      ]
    }
  }
}
</script>

<style>

</style>
