<template>
  <v-app>
    <menu-mobile/>
    <navbar/>
    <cart-drawer/>
    <v-main>
      <!-- Usamos $route.fullPath para que cargar componente siempre, independiente de rutas dinamicas y paso de parametros get -->
      <router-view :class="{'padding-app': fixedNav}" :key="$route.fullPath"/>
    </v-main>
    <footer-app/>
    <!-- <bottom-bar/> -->
    <notification-component/>
    <!-- <popoye-button/> -->
    <product-modal/>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
// import BottomBar from '@/components/layout/BottomBar'
import CartDrawer from '@/components/layout/CartDrawer'
import FooterApp from '@/components/layout/Footer'
import MenuMobile from '@/components/layout/MenuMobile'
import Navbar from '@/components/layout/Navbar'
import NotificationComponent from '@/components/ui/Notification'
// import PopoyeButton from '@/components/ui/PopoyeButton'
import ProductModal from '@/components/products/ProductModal'

import Repository from '@/api/Repository'
const Productos = Repository.get('productos')
const Utils = Repository.get('utils')

export default {
  name: 'App',

  components: {
    // BottomBar,
    CartDrawer,
    FooterApp,
    MenuMobile,
    Navbar,
    NotificationComponent,
    // PopoyeButton,
    ProductModal
  },

  created () {
    /**
     * Cargar info global
     */
    this.fetch()
    window.addEventListener('scroll', this.updateScroll)
    window.addEventListener('storage', () => {
      this.$store.dispatch('updateFromLocalStorage')
    })
    /**
     * Pedir datos de usuario si se hacer reload del sitio
     * (por seguridad los datos no se guardan en localStorage)
     */
    if (this.$store.getters['auth/isLogged']) {
      this.$store.dispatch('auth/me')
    }

    // console.log(this.$root.$i18n)
  },

  computed: {
    ...mapState(['fixedNav'])
  },

  data () {
    return {
      fixedNavFlag: Boolean
    }
  },

  watch: {
    fixedNavFlag (val) {
      this.$store.commit('SET_FIXED_NAV', val)
    }
  },

  methods: {
    async fetch () {
      try {
        const cat = await Productos.get('categorias')
        console.log(cat)
        const fPago = await Utils.getFormasPago()
        this.$store.commit('products/SET_CATEGORIES', cat.data)
        if (fPago.success) {
          this.$store.commit('cart/SET_FORMAS_PAGO', [{
            nombre: 'Paypal / Tarjeta de crédito o débito',
            type: 'paypal'
          }].concat(fPago.data))
        }
      } catch (error) {
        console.log('error in feth de app:', error)
      }
    },
    updateScroll () {
      if (window.scrollY > 150) {
        this.fixedNavFlag = true
      } else {
        this.fixedNavFlag = false
      }
      // this.scrollPosition = window.scrollY
    }
  }
}
</script>
