<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <div class="mb-12">
      <h1 class="font-weight-regular font--color mb-6">Aviso de privacidad</h1>
      <div class="white disclaimer-content pa-8">
        <h3>Refaccionaria Ceballos S. de R. L. de C.V.</h3>
        <p>
          Con domicilio en Avenida acueducto, numero 1989, colonia Matamoros, código postal 58240, de conformidad con lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares hace de su conocimiento el presente aviso de privacidad para los clientes y proveedores.
        </p>
        <h3>1.- SOBRE EL TRATAMIENTO DE SUS DATOS PERSONALES DE LOS CLIENTES Y PROVEEDORES.</h3>
        <p>
          Recabamos sus datos personales y datos personales sensibles para los efectos mencionados en el presente Aviso de Privacidad. En este sentido, hacemos de su conocimiento que sus datos personales serán tratados y resguardados con base en los principios de licitud, calidad, consentimiento, información, lealtad, proporcionalidad y responsabilidad, previstos en la Ley.
        </p>
        <h3>2- FINALIDAD EN EL TRATAMIENTO DE SUS DATOS PERSONALES.</h3>
        <ol class="alpha">
          <li>
            Para contactarlo y enviar la información relevante sobre nuestros productos.
          </li>
          <li>
            Identificarlo como cliente o proveedor de Nuestra Empresa.
          </li>
          <li>
            Para realizar todas las gestiones internas necesarias relacionadas con la relación comercial vigente, incluyendo cuestiones de crédito y pagos.
          </li>
        </ol>
        <h3>3. MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS PERSONALES.</h3>
        <p>
          Hacemos de su conocimiento que sus datos personales y datos personales sensibles serán resguardados bajo estrictas medidas de seguridad, administrativas, técnicas y físicas, las cuales han sido implementadas con el objeto de proteger sus datos personales contra daño, pérdida, alteración, destrucción, acceso o tratamiento no autorizados.
        </p>
        <h3>4. MEDIOS PARA EL EJERCICIO DE SUS DERECHOS COMO TITULAR DE LOS DATOS PERSONALES</h3>
        <p>
          Como titular de los datos personales objeto del presente Aviso de Privacidad, usted podrá ejercitar sus derechos de acceso, rectificación, cancelación u oposición, mismos que se consagran en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. Así mismo, podrá revocar el consentimiento otorgado para el uso de sus datos personales.
        </p>
        <p>
          En cualquiera de estos supuestos, puede realizar su solicitud mediante el envío de un correo electrónico a la dirección refaccionariaceballos@gmail.com.
        </p>
        <p>
          Con la finalidad de poder atender su solicitud, esta deberá satisfacer los requisitos estipulados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
        </p>
        <h3>
          5.- TRANSFERENCIA DE SUS DATOS PERSONALES.
        </h3>
        <p>
          Sus datos personales y/o datos personales sensibles, podrán ser transferidos a los terceros, que para el cumplimiento de las obligaciones que Refaccionaria Ceballos S. de R.L. de C.V., le ofrece, sea necesario. Lo anterior, sin perjuicio de las excepciones de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
        </p>
        <h3>6. CAMBIOS AL PRESENTE AVISO DE PRIVACIDAD.</h3>
        <p>
          El presente aviso de privacidad podrá ser modificado en el futuro. En todo caso, cualquier modificación al aviso de privacidad serán oportunamente informados a través de la publicación, correo electrónico o de nuestra página web.
        </p>
        <p>
          Por su seguridad, el Aviso de Privacidad vigente, estará disponible en todo momento en la página web antes señalada.
        </p>
        <p>REFACCIONARIA CEBALLOS S. DE R.L. DE C.V.</p>
      </div>
      <p class="pa-8 text-right"><small>ÚLTIMA ACTUALIZACION: 28/08/2018</small></p>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'AvisoDePrivacidad',
  data () {
    return {
      breadcrums: [
        {
          text: 'Inicio',
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: 'Aviso de privacidad',
          disabled: true,
          to: '/aviso-de-privacidad'
        }
      ]
    }
  }
}
</script>
