<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <div class="mb-12">
      <h1 class="font-weight-regular font--color mb-6">Garantías y devoluciones</h1>
      <div class="white disclaimer-content pa-8">
        <h3>Refaccionaria Ceballos S. de R. L. de C.V.</h3>
        <p>
          Todos nuestros productos ordenados a través de reface.com.mx están cubiertos por nuestra garantía Refece durante 30 días contados a partir de que te llegó tu pedido. Esta garantía cubre cualquier falla mecánica, eléctrica, daño durante el envío*, o defecto de fabricación. Así mismo cubre devoluciones por cualquier otro motivo (si no le quedó a tu auto, si no te gustó, etc.), siempre y cuando el producto sea devuelto en las mismas condiciones en las que se te mandó (incluyendo su empaque original, manuales, y accesorios) y sin marcas de uso.
        </p>
        <h3>En caso de fallas, daños, y defectos</h3>
        <p>
          Los costos de envío, tanto del retorno del producto dañado, como el del reemplazo que te enviaremos, corren totalmente por nuestra cuenta.
        </p>
        <p>
          Si por falta de inventario decides aceptar como reemplazo un producto diferente intercambiable y con un precio distinto al que habías comprado, en caso de que:
        </p>
        <ol class="alpha mb-5">
          <li>
            El reemplazo es más barato: podrás comprar algún accesorio que ajuste el costo de la primera compra.
          </li>
          <li>
            El reemplazo es más caro: necesitarás pagar la diferencia para que podamos mandártelo.
          </li>
        </ol>
        <p>
          El reemplazo tendrá esta misma garantía, corriendo a partir del día que lo recibas.
        </p>
        <p>
          En caso de devoluciones siempre y cuando nos lleguen en las mismas condiciones en las que se te mandó.
        </p>
        <p>
          En caso de que la devolución sea debido a información errónea ya sea en nuestra página, o que te hayamos proporcionado a través de email o de nuestro formulario de contacto, te regresaremos también la parte del monto del envío que correspondió a ese producto, y cubriremos el envío de vuelta a nuestro Centro de Distribuciones.
        </p>
        <p>
          En caso de que la devolución sea por cualquier otro motivo, el envío de vuelta a nuestro Centro de Distribuciones correrá por tu cuenta.
        </p>
        <p>
          Discrepancias de Stock.
        </p>
        <p>
          Si en algún momento nos percatamos de que tu producto no se encuentra en existencia, como se menciono en reface.com.mx se hará lo siguiente:
        </p>
        <ol class="alpha">
          <li>
            Nos comunicaremos contigo para mencionarte una nueva fecha de entrega de producto.
          </li>
          <li>
            Remplazo por otro producto, cambiando de marca encontrando una conversión útil para tus necesidades.
          </li>
          <li>
            Cancelación de la compra y tu dinero se regresa por el mismo medio en el que fue pagado.
          </li>
        </ol>
        <h3>
          Pasos para Devolver Mercancía recibida en domicilio (FedEx, DHL, Estafeta).
        </h3>
        <p>
          Si la Devolución procede por fallo, te enviaremos una guía virtual (FedEx, DHL, Estafeta) para que nos envíes la mercancía. Si no es por fallo, puedes enviarnos el producto cuando quieras, mandándonos por mail el código de rastreo.
        </p>
        <p>
          Hasta que recibamos el producto y confirmemos la devolución podremos proceder con el reemplazo o el reembolso que proceda.
        </p>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'Garantias',
  data () {
    return {
      breadcrums: [
        {
          text: 'Inicio',
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: 'Garantías y devoluciones',
          disabled: true,
          to: '/garantias-y-devoluciones'
        }
      ]
    }
  }
}
</script>
