<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <div class="mb-12">
      <h1 class="font-weight-regular font--color mb-6">Uso de cookies</h1>
      <div class="white disclaimer-content pa-8">
        <p>
          Normalmente, las cookies se clasifican en cookies”temporales“y cookies “permanentes“. Las cookies temporales suelen utilizarse únicamente para realizar la transmisión de comunicación en una red de comunicaciones electrónica y son estrictamente necesarias para un servicio solicitado explícitamente por el suscriptor o usuario.
        </p>
        <p>
          Las cookies de sesión son el tipo más habitual de cookies temporales y te ayudan a navegar de forma eficiente por nuestra web, realizando un seguimiento de tu recorrido página a página y teniendo en cuenta la información que has proporcionado durante la sesión actual. Las cookies temporales se guardan en la memoria temporal del navegador y se borran cuando éste se cierra. El uso de las cookies de sesión no requiere consentimiento explícito.
        </p>
        <p>
          Las cookies permanentes, en cambio, guardan las preferencias del usuario para la sesión actual y futuras visitas. Se incorporan a la memoria no volátil de tu dispositivo (normalmente, en el disco duro) y siguen siendo válidas cuando se reinicia el navegador. Las cookies permanentes suelen utilizarse para hacer un seguimiento del comportamiento del usuario y facilitar una publicidad personalizada. El uso de las cookies permanentes requiere un consentimiento explícito.
        </p>
        <p>
          Las cookies propias las establece el propietario de la página web, que es el responsable de informar al usuario del sitio sobre la finalidad del tratamiento de los datos y obtener su consentimiento. Las cookies de terceros se establecen mediante plug-ins de terceros, y tanto el propietario del sitio web como el tercero son conjuntamente responsables de notificar al usuario sobre la finalidad del tratamiento de los datos y obtener su consentimiento.
        </p>
        <h3>¿Qué uso hace la web de REFACE de las cookies?</h3>
        <p>
          La web de REFACE utiliza cookies propias solamente a través de cookies de sesión (principalmente para el inicio de sesión y las búsquedas). Estas cookies se borran al terminar la sesión. Si visitas nuestro sitio web, entendemos que autorizas el uso de las cookies de sesión. Ten en cuenta que es posible que determinadas características de nuestro sitio web no funcionen correctamente sin las cookies de sesión.
        </p>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'UsoDeCookies',
  data () {
    return {
      breadcrums: [
        {
          text: 'Inicio',
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: 'Uso de Cookies',
          disabled: true,
          to: '/uso-de-cookies'
        }
      ]
    }
  }
}
</script>

<style>

</style>
