<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <v-row class="justify-center mb-12">
      <v-col cols="12" sm="8" md="7" xl="6">
        <v-card
          key="login"
          class="text-center py-5"
          outlined
          tile
        >
          <v-card-title class="font--color pb-2">
            <h3 class="text-center w-100 text-uppercase">
              {{ $t('general.forgotPassword') }}
            </h3>
          </v-card-title>
          <v-card-text class="pb-0">
            <forgot-password-form/>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ForgotPasswordForm from '@/components/forms/ForgotPasswordForm'

export default {
  name: 'ForgotPassword',
  components: {
    ForgotPasswordForm
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('navLinks.customers'),
          disabled: false,
          to: { name: 'Login' }
        },
        {
          text: this.$t('general.forgotPassword'),
          disabled: true,
          to: '/password-reset'
        }
      ]
    }
  }
}
</script>
