<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <v-row class="justify-center mb-12">
      <v-col cols="12" sm="8" md="7" xl="6">
        <transition name="fade" mode="out-in">
          <v-card
            v-if="login"
            key="login"
            class="text-center py-5"
            outlined
            tile
          >
            <v-card-title class="font--color mb-2">
              <h3 class="text-center w-100 text-uppercase">
                {{ $t('forms.login') }}
              </h3>
            </v-card-title>
            <v-card-subtitle>
              {{ $t('general.needAccount') }} <a class="underlined" @click.prevent="login = false">{{ $t('general.createAccount') }}</a>
            </v-card-subtitle>
            <v-card-text class="pb-0">
              <login-form/>
            </v-card-text>
            <v-card-subtitle class="mb-5">
              <router-link :to="{ name: 'ForgotPassword' }">
                {{ $t('general.forgotPasswordQ') }}
              </router-link>
            </v-card-subtitle>
          </v-card>
          <v-card
            v-else
            key="register"
            class="text-center py-5"
            outlined
            tile
          >
            <v-card-title class="font--color mb-2">
              <h3 class="text-center w-100 text-uppercase">
                {{ $t('general.register') }}
              </h3>
            </v-card-title>
            <v-card-subtitle>
              {{ $t('general.haveAccount') }} <a class="underlined" @click.prevent="login = true">{{ $t('forms.login') }}</a>
            </v-card-subtitle>
            <v-card-text class="pb-0">
              <register-form/>
            </v-card-text>
          </v-card>
        </transition>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import LoginForm from '@/components/forms/LoginForm'
import RegisterForm from '@/components/forms/RegisterForm'

export default {
  name: 'LoginRegister',
  components: {
    LoginForm,
    RegisterForm
  },
  created () {
    // console.log('route: ', this.$router)
    this.login = this.$router.currentRoute.name.toLowerCase() === 'login' || false
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('navLinks.customers'),
          disabled: true,
          to: '/login'
        }
      ],
      login: true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
