<template>
  <v-container>
    <v-row>
      <v-col>
        <v-breadcrumbs
          :items="breadcrums"
          class="pl-1"
        />
      </v-col>
    </v-row>
    <div v-if="fetching" style="height: 405px;"></div>
    <div v-else>
      <v-row v-if="validToken" class="justify-center mb-12" >
        <v-col cols="12" sm="8" md="7" xl="6">
          <v-card
            key="login"
            class="text-center py-5"
            outlined
            tile
          >
            <v-card-title class="font--color pb-2">
              <h3 class="text-center w-100">CAMBIAR CONTRASEÑA</h3>
            </v-card-title>
            <v-card-text class="pb-0">
              <reset-password-form
                @passwordChange="goToLogin"
                :token="$route.params.token"
                :id="id"
              />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <not-found v-else title="Enlace no válido"/>
    </div>
  </v-container>
</template>

<script>
import ResetPasswordForm from '@/components/forms/ResetPasswordForm'
import NotFound from '@/components/ui/NotFound'
import Repository from '@/api/Repository'
const User = Repository.get('user')

export default {
  name: 'ResetPassword',
  components: {
    ResetPasswordForm,
    NotFound
  },
  created () {
    this.fetch()
  },
  data () {
    return {
      breadcrums: [
        {
          text: this.$t('navLinks.home'),
          disabled: false,
          exact: true,
          to: { name: 'Home' }
        },
        {
          text: this.$t('navLinks.customers'),
          disabled: false,
          to: { name: 'Login' }
        },
        {
          text: this.$t('forms.changePass'),
          disabled: true,
          to: '/password-reset'
        }
      ],
      id: '',
      fetching: true,
      validToken: false
    }
  },
  methods: {
    async fetch () {
      try {
        const { success, message, data } = await User.validatePasswordResetToken(this.$route.params.token)
        if (await success) {
          console.log('valido')
          this.id = await data._id
        } else {
          console.log('validar token', await message)
        }
        this.validToken = success
        this.fetching = false
      } catch (error) {
        console.log('error', error)
      }
    },
    goToLogin (message) {
      this.$store.commit('NOTIFY', message)
      setTimeout(() => {
        this.$router.push({ name: 'Login' })
      }, 500)
    }
  }
}
</script>
