<template>
  <div class="address mb-8" :class="{ 'text--white': dark }">
    <p>
      <v-icon>mdi-map-marker</v-icon>
      Av Acueducto #1969, Col Matamoros, CP 58240 Morelia, Michoacán
    </p>
    <p>
      <a href="tel:4433151689" class="link">
        <v-icon>mdi-phone</v-icon>
        443 3 15 16 89
      </a>
    </p>
    <v-divider></v-divider>
    <p class="mt-4">
      <v-icon>mdi-map-marker</v-icon>
      Perif. Paseo de la República 5300C, Sentimientos de la Nación, 58178 Morelia, Mich.
    </p>
    <p>
      <a href="tel:4433064205" class="link">
        <v-icon>mdi-phone</v-icon>
        443 3 06 42 05
      </a>
    </p>
    <v-divider></v-divider>
    <p class="mt-4">
      <v-icon>mdi-map-marker</v-icon>
      Boulevard Uriangato 259, Col. La Joyita, Uriangato, Gto.
    </p>
    <!-- <p>
      <a href="tel:4433064205" class="link">
        <v-icon>mdi-phone</v-icon>
        443 3 06 42 05
      </a>
    </p> -->
    <v-divider></v-divider>
    <p class="mt-4">
      <a href="mailto:atencionclientes@reface.com.mx" class="link">
        <v-icon>mdi-email</v-icon>
        atencionclientes@reface.com.mx
      </a>
    </p>
  </div>
</template>

<script>
export default {
  name: 'AddressInfo',
  props: {
    dark: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.address {
  p {
    position: relative;
    padding-left: 35px;
    .v-icon {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.55;
    }
  }
  &.text--white p {
    color: #FFF;
  }
  .link {
    text-decoration: none;
    color: currentColor;
  }
}
</style>
