<template>
  <div class="lang d-flex align-center" :class="{ 'mobile': mobile }">
    <div
      v-for="item in langs"
      :key="item"
      class="lang__btn"
    >
      <v-btn
        text
        small
        icon
        :color=" $i18n.locale === item ? btnActiveColor : btnColor "
        @click="changeLang(item)"
      >
        {{ item }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import { langs } from '@/locales'
export default {
  name: 'LangSwitcher',
  props: {
    mobile: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      langs: langs,
      btnColor: this.mobile ? '#333e48' : '#FFF',
      btnActiveColor: this.mobile ? '#366CB3' : '#fdb819'
    }
  },
  methods: {
    changeLang (locale) {
      /**
       * Si se quiere ir a un lang diferente del actual
       */
      if (this.$i18n.locale !== locale) {
        locale !== 'es'
          ? window.location.href = `/${locale}${this.$route.fullPath}`
          : window.location.href = this.$route.fullPath
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.lang {
  $bc: rgba(255,255,255,0.2);
  border: 1px solid $bc;
  border-radius: 6px;
  color: #FFF;
  padding: 0 0.2em;
  &__btn:not(:last-child) {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0.5em;
      right: 0px;
      width: 1px;
      height: 1em;
      background: $bc;
    }
  }
  &.mobile {
    border: none;
    .lang__btn {
      padding: 0 0.4em;
      &:not(:last-child)::before {
        background: rgba(0,0,0,0.3);
      }
    }
  }
}
</style>
