<template>
  <v-row class="flex-column align-center py-12">
    <v-col cols="12" class="text-center">
      <h1 class="font-weight-regular">
        {{ $attrs.title.toUpperCase() }}
      </h1>
    </v-col>
    <v-col cols="4">
      <v-divider></v-divider>
    </v-col>
    <v-col class="text-center" cols="12" md="8">
      <p>
        {{ $t('general.notFound.text') }}
      </p>
    </v-col>
    <v-col cols="12" class="text-center">
      <v-btn
        class="ma-2"
        color="primary"
        depressed
        tile
        @click="$router.push({ name: 'Productos' })"
      >
        {{ $t('general.notFound.goShop') }}
      </v-btn> <br>
      <v-btn
        class="ma-2 btn-send-message"
        color="primary"
        depressed
        tile
        text
        @click="$store.dispatch('openChat')"
      >
        {{ $t('general.notFound.openChat') }}
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'NotFound',
  inheritAttrs: false // No cargar el attr al root del componente
}
</script>
