<template>
  <v-snackbar
    v-model="$store.state.showNotification"
    color="primary"
    :timeout="4000"
  >
    {{ $store.state.notification }}

    <template v-slot:action="{ attrs }">
      <v-btn
        color="white"
        text
        icon
        v-bind="attrs"
        @click="$store.commit('SHOW_NOTIFICATION', false)"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: 'Notification'
}
</script>
