<template>
  <v-card v-if="items.length" outlined tile class="mb-5 no-border">
    <v-card-text>
      <h4 class="font-weight-regular text-uppercase">
        {{ $t('general.outlet') }}
      </h4>
      <v-divider class="mt-4"></v-divider>
    </v-card-text>
    <outlet-slider sidebar :items="items"/>
  </v-card>
</template>

<script>
import OutletSlider from '@/components/sliders/OutletSlider'
import Repository from '@/api/Repository'
const Productos = Repository.get('productos')

export default {
  name: 'OutletSection',
  components: {
    OutletSlider
  },
  mounted () {
    this.fetch()
  },
  data () {
    return {
      items: []
    }
  },
  methods: {
    async fetch () {
      try {
        const { data } = await Productos.outlet()
        this.items = await data
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
