<template>
  <div>
    <ol v-if="paymentForm === 'oxxo'" class="step_list">
      <li>
        {{ $t(`payments['${paymentForm}']._1`) }} {{ reference }}.
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._2`) }}
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._3`) }} <router-link :to="{ name: 'MiCuenta' }">{{ $t(`payments['${paymentForm}']._3_1`) }}</router-link> {{ $t(`payments['${paymentForm}']._3_2`) }} <span class="font-weight-medium">"{{ $t(`payments['${paymentForm}']._3_3`) }}"</span> {{ $t(`payments['${paymentForm}']._3_4`) }}
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._4`) }}
      </li>
    </ol>
    <ol v-if="paymentForm === 'transferencia'" class="step_list">
      <li>
        {{ $t(`payments['${paymentForm}']._1`) }} {{ banco }} {{ $t(`payments['${paymentForm}']._1_1`) }}: {{ reference }}
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._2`) }}
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._3`) }} <router-link :to="{ name: 'MiCuenta' }">{{ $t(`payments['${paymentForm}']._3_1`) }}</router-link> {{ $t(`payments['${paymentForm}']._3_2`) }} <span class="font-weight-medium">"{{ $t(`payments['${paymentForm}']._3_3`) }}"</span> {{ $t(`payments['${paymentForm}']._3_4`) }}
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._4`) }}
      </li>
    </ol>
    <ol v-if="paymentForm === 'deposito'" class="step_list">
      <li v-html="$t(`payments['${paymentForm}']._1`, { bank: banco, ref: reference })">
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._2`) }}
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._3`) }} <router-link :to="{ name: 'MiCuenta' }">{{ $t(`payments['${paymentForm}']._3_1`) }}</router-link> {{ $t(`payments['${paymentForm}']._3_2`) }} <span class="font-weight-medium">"{{ $t(`payments['${paymentForm}']._3_3`) }}"</span> {{ $t(`payments['${paymentForm}']._3_4`) }}
      </li>
      <li>
        {{ $t(`payments['${paymentForm}']._4`) }}
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: 'PaymentInstructions',
  props: {
    paymentForm: {
      type: String,
      default: ''
    },
    banco: {
      type: String,
      default: ''
    },
    reference: {
      type: String,
      default: ''
    }
  },
  computed: {
    // banco () {
    //   return this.$store.state.cart.formasPago.length
    //     ? this.$store.state.cart.formasPago.filter(fPago => fPago.type === this.$store.state.cart.paymentForm)[0].banco
    //     : ''
    // },
    // ref () {
    //   return this.$store.state.cart.formasPago.length
    //     ? this.$store.state.cart.formasPago.filter(fPago => fPago.type === this.$store.state.cart.paymentForm)[0].ref
    //     : ''
    // }
  }
}
</script>
<style lang="scss" scoped>
.step_list li {
  padding: 4px 0;
}
</style>
