<template>
  <div class="policy">
    <div class="policy--icon">
      <img :src="content.icon" alt="">
    </div>
    <div class="policy--text">
      <h6 class="policy--title">{{ content.title }}</h6>
      <span class="policy--subtitle">{{ content.subtitle }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.policy {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  &--icon {
    flex: 0 0 20%;
    padding-right: 10px;
    img {
      width: 100%;
    }
  }
  &--text {
    padding-left: 10px;
  }
  &--title {
    margin-bottom: 3px;
    font-size: 1em;
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;
  }
  &--subtitle {
    display: block;
    color: #333e48;
  }

  &:hover .policy--icon {
    animation-name: hvr-icon-bob-float, hvr-icon-bob;
    animation-duration: .3s, 0.75s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
  }
}
@keyframes hvr-icon-bob-float {
  100% {
    transform: translateY(-8px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>
