<template>
  <div class="popoye">
    <router-link :to="{ name: 'Promociones' }">
      <div class="popoye__img">
        <img src="@/assets/img/popoye_600x495.png" alt="Popoye">
      </div>
      <!-- <span>POPOYE</span> -->
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'PopoyeButton'
}
</script>

<style lang="scss" scoped>
.popoye {
  position: relative;
  display: inline-block;
  text-align: center;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: all 0.3s ease-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      // background: rgba(255, 255, 255, 1);
      // box-shadow: $border-box-shadow;
      // border: 1px solid #e9e9e9;
      // border-radius: 50%;
      display: block;
      // padding: 3px 3px 0px 6px;
      will-change: box-shadow;
      transform: scale3d(0,0,1);
      transition: all 0.3s ease-out;
      animation: appear 0.8s linear 0.8s forwards;
    }
  }
  span {
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    padding-bottom: 5px;
    color: $yellow;
    letter-spacing: 2px;
    font-size: 0.9em;
    // opacity: 0;
    transition: all 0.3s ease-out;
    // animation: showText 0.5s linear 1.6s forwards;
  }
  a {
    transition: all 0.3s ease-out;
  }
  a:hover {
    transform: translateY(-5px);
    .popoye__img {
      // img {
      //   box-shadow: $box-shadow;
      // }
      // transform: translateY(-20px);
    }
    // span {
    //   color: $yellow;
    //   opacity: 1;
    // }
  }
  @keyframes appear {
    0% {
      transform: scale3d(1,1,1);
    }
    30% {
      transform: scale3d(1.2,1.2,1);
    }
    50% {
      transform: scale3d(0.8,0.8,1);
    }
    80% {
      transform: scale3d(1.1,1.1,1);
    }
    100% {
      transform: scale3d(1,1,1);
    }
  }
  @keyframes showText {
    to {
      opacity: 1;
    }
  }
}
</style>
