<template>
  <div :class="{ 'mb-12': !sidebar }">
    <v-row v-if="!sidebar && !promociones.length">
      <v-col cols="12">
        <img src="@/assets/img/banners/promo_bg.jpg" alt="" class="w-100">
      </v-col>
    </v-row>
    <v-card
      v-if="sidebar && promociones.length"
      outlined
      tile
      class="no-border"
    >
      <v-card-text>
      <h4 class="font-weight-regular">
        {{ $t('general.discounts') }}
      </h4>
      <v-divider class="mt-4"></v-divider>
      </v-card-text>
      <div class="px-4 py-2">
        <promo-slider :items="promociones" sidebar/>
      </div>
    </v-card>
    <v-row v-if="!sidebar && promociones.length">
      <v-col cols="12">
        <promo-slider :items="promociones"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import PromoSlider from '@/components/sliders/PromoSlider'
import Repository from '@/api/Repository'
const Promociones = Repository.get('promociones')

export default {
  name: 'PromoSection',
  components: {
    PromoSlider
  },
  props: {
    sidebar: {
      type: Boolean,
      default: false
    }
  },
  created () {
    this.fetch()
  },
  data () {
    return {
      promociones: []
    }
  },
  methods: {
    async fetch () {
      try {
        const { data } = await Promociones.get()
        this.promociones = await data
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// .promo-container {
//   height: 452px;
//   &.sidebar {
//     height: auto;
//   }
// }
</style>
