<template>
  <v-dialog v-model="dialog">
    <template #activator="{ on, attrs }">
      <v-btn
        icon
        color="#626367"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </template>
    <div>
      <search-form @search="dialog = false" modal/>
    </div>
  </v-dialog>
</template>

<script>
import SearchForm from '@/components/forms/GeneralSearchForm'
export default {
  name: 'SearchModal',
  components: {
    SearchForm
  },
  data () {
    return {
      dialog: false
    }
  }
}
</script>
