<template>
  <span>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px"
      viewBox="0 0 20 20"
      style="enable-background:new 0 0 20 20;"
      xml:space="preserve"
    >
      <g>
        <polyline
          v-if="name=='chevron-left'"
          points=" 15 2 5 10 15 18"
          fill="none"
          stroke="#5d5e5e"
          stroke-width="1.5"
          stroke-linejoin="round"
          class="stroke-on-hover"
        />
        <polyline
          v-if="name=='chevron-right'"
          points=" 5 2 15 10 5 18"
          fill="none"
          stroke="#5d5e5e"
          stroke-width="1.5"
          stroke-linejoin="round"
          class="stroke-on-hover"
        />
      </g>
    </svg>
  </span>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
span {
  display: block;
}
svg {
  width: 2em;
  height: 2em;
}
</style>
