<template>
  <form @submit.prevent="changePassword" class="white pa-5">
    <h3 class="font-weight-regular mb-6 text-center text-uppercase">
      {{ $t('forms.changePass') }}
    </h3>
    <v-text-field
      v-model.trim="form.password"
      :label="$t('forms.curPass')"
      outlined
      hide-details="auto"
      dense
      :error-messages="passwordError"
      error-count="2"
      :class="{ 'mb-6': !!!passwordError.length }"
      :append-icon="showPass ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
      :type="showPass ? 'password' : 'text'"
      @blur="$v.form.password.$touch()"
      @click:append="() => (showPass = !showPass)"
    />
    <v-divider class="mb-6"></v-divider>
    <v-text-field
      v-model.trim="form.newPassword"
      :label="$t('forms.newPass')"
      outlined
      error-count="2"
      :hint="$t('forms.nPassHint', { len: 6 })"
      hide-details="auto"
      dense
      :error-messages="errors('newPassword')"
      :class="{ 'mb-3': !!!errors('newPassword').length }"
      :append-icon="showNewPass ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
      :type="showNewPass ? 'password' : 'text'"
      @blur="$v.form.newPassword.$touch()"
      @click:append="() => (showNewPass = !showNewPass)"
    />
    <v-text-field
      v-model.trim="form.passwordConfirm"
      :label="$t('forms.confNewPass')"
      outlined
      error-count="2"
      hide-details="auto"
      dense
      :error-messages="errors('passwordConfirm')"
      :append-icon="showConfirmPass ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
      :type="showConfirmPass ? 'password' : 'text'"
      @blur="$v.form.passwordConfirm.$touch()"
      @click:append="() => (showConfirmPass = !showConfirmPass)"
    />
    <v-btn
      type="submit"
      color="primary"
      block
      class="button--form mt-4 right"
      :loading="loading"
    >
      {{ $t('forms.update') }}
    </v-btn>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, sameAs, not } from 'vuelidate/lib/validators'

export default {
  name: 'ChangePasswordForm',
  validations: {
    form: {
      password: { required },
      newPassword: { required, minLength: minLength(6), differentToCurrent: not(sameAs('password')) },
      passwordConfirm: { required, sameAsNewPassword: sameAs('newPassword') }
    }
  },
  mixins: [validationMixin],
  computed: {
    errors () {
      /**
       * Regresa una funcion
       * La funcion recibe un parametro el cual se pasa en el v-text-field error-message
       */
      return (input) => {
        const errors = []
        // verificar si ya se ingreso al input, sino regresar array vacio
        if (!this.$v.form[input].$dirty) return errors
        !this.$v.form[input].required && errors.push(this.$t('validations.req'))
        if (input === 'newPassword') {
          !this.$v.form[input].minLength && errors.push(this.$t('validations.newPassMinLen'))
          !this.$v.form[input].differentToCurrent && errors.push(this.$t('validations.newPassDif'))
        }
        if (input === 'passwordConfirm') {
          !this.$v.form[input].sameAsNewPassword && errors.push(this.$t('validations.passConfirmNotMatch'))
        }
        return errors
      }
    },
    passwordError () {
      return [...this.errors('password'), ...this.errorText]
    }
  },
  data () {
    return {
      form: {
        password: '',
        newPassword: '',
        passwordConfirm: ''
      },
      errorText: [],
      loading: false,
      showPass: Boolean,
      showConfirmPass: Boolean,
      showNewPass: Boolean
    }
  },
  methods: {
    async changePassword () {
      console.log(this.form)
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.loading = true
        try {
          const { success, message } = await this.$store.dispatch('auth/changePassword', this.form)
          if (!await success) {
            console.log('not success', await message)
            this.errorText.push(await message)
            this.loading = false
            return
          }
          // Emitir para v-model cierre modal
          console.log('success', await message)
          this.$emit('passwordChange')
          this.loading = false
        } catch (error) {
          this.loading = false
          console.log('error', error)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
