<template>
  <form>
    <v-row>
      <v-col cols="12" md="6" class="first-column">
        <h4 class="font-weight-medium mb-6 card-text-color">{{ $t('forms.quotationDetails') }}:</h4>
        <v-text-field
          v-model.trim="form.pieza"
          :label="`${$t('forms.productReq')}*`"
          placeholder="ej: bujía"
          outlined
          hide-details="auto"
          :error-messages="errors('pieza')"
          :class="{ 'mb-5': !!!errors('pieza').length }"
           @blur="$v.form.pieza.$touch()"
        />
        <v-text-field
          v-model.trim="form.marca"
          :label="`${$t('forms.brand')}*`"
          placeholder="ej: BMV"
          outlined
          hide-details="auto"
          :error-messages="errors('marca')"
          :class="{ 'mb-5': !!!errors('marca').length }"
          @blur="$v.form.marca.$touch()"
        />
        <v-text-field
          v-model.trim="form.modelo"
          :label="$t('forms.model')"
          placeholder="ej: 325xl"
          class="mb-5"
          hide-details
          outlined
        />
        <div class="d-flex mb-5">
          <v-text-field
            v-model.trim="form.motor"
            :label="$t('forms.motor')"
            placeholder="ej: 2.5l"
            outlined
            class="mr-2"
            hide-details
          />
          <v-select
            v-model="form.anio"
            :items="years"
            :label="$t('forms.year')"
            :placeholder="(new Date().getFullYear()).toString()"
            outlined
            hide-details
          />
        </div>
        <v-text-field
          v-model.trim="form.numparte"
          :label="$t('forms.piece')"
          placeholder="ej: 354897"
          outlined
          hide-details
          class="mb-5"
        />
        <v-divider class="mb-5"></v-divider>
        <h4 class="font-weight-regular mb-5 text--secondary">*<i>{{ $t('forms.quotationImageDetails') }}</i></h4>
        <v-file-input
          v-model="form.file"
          show-size
          counter
          outlined
          accept="image/png, image/jpeg"
          prepend-icon="mdi-image-outline"
          :label="$t('payments.selectPic')"
        />
        <v-divider class="d-block d-md-none"></v-divider>
      </v-col>
      <v-col cols="12" md="6">
        <h4 class="font-weight-medium mb-6 card-text-color">{{ $t('forms.customerDetails') }}:</h4>
        <v-text-field
          v-model.trim="form.nombre"
          :label="`${$t('forms.name')}*`"
          placeholder=" "
          outlined
          hide-details="auto"
          :error-messages="errors('nombre')"
          :class="{ 'mb-5': !!!errors('nombre').length }"
          @blur="$v.form.nombre.$touch()"
        />
        <v-text-field
          v-model.trim="form.email"
          :label="`${$t('forms.email')}*`"
          placeholder=" "
          outlined
          type="email"
          hide-details="auto"
          :error-messages="errors('email')"
          :class="{ 'mb-5': !!!errors('email').length }"
          @blur="$v.form.email.$touch()"
        />
        <v-text-field
          v-model.trim="form.telefono"
          :label="$t('forms.phone')"
          placeholder="ej: 443 35 85 95"
          outlined
          type="tel"
          hide-details
          class="mb-5"
        />
        <v-textarea
          v-model.trim="form.extra"
          :label="$t('forms.addInfo')"
          placeholder=" "
          outlined
          row-height="30"
          rows="4"
          auto-grow
          hide-details
        />
      </v-col>
      <v-col cols="12">
        <v-btn
          color="primary"
          dark
          class="button--form"
          :loading="loading"
          @click="save"
        >
          {{ $t('forms.send') }}
          <v-icon right small>mdi-send</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </form>
</template>

<script>
import _ from 'lodash'
import { mapState } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'CotizacionForm',
  validations: {
    form: {
      pieza: { required },
      marca: { required },
      nombre: { required },
      email: { required, email }
    }
  },
  mixins: [validationMixin],
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  created () {
    this.fillUserData()
  },
  computed: {
    ...mapState('auth', ['user']),
    years () {
      return _.rangeRight(1970, new Date().getFullYear() + 1)
    },
    errors () {
      return (input) => {
        const errors = []
        // verificar si ya se ingreso al input, sino regresar array vacio
        if (!this.$v.form[input].$dirty) return errors
        !this.$v.form[input].required && errors.push(this.$t('validations.req'))
        if (input === 'email') {
          !this.$v.form[input].email && errors.push(this.$t('validations.validEmail'))
        }
        return errors
      }
    }
  },
  data () {
    return {
      form: {
        pieza: '',
        marca: '',
        modelo: '',
        motor: '',
        anio: '',
        numpart: '',
        nombre: '',
        email: '',
        telefono: '',
        extra: '',
        file: null
      },
      loading: false
    }
  },
  methods: {
    async save () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.loading = true
        const formData = new FormData()
        Object.keys(this.form).forEach(key => {
          if (key !== 'file') {
            formData.append(key, this.form[key])
          } else if (this.form.file) {
            formData.append(key, this.form[key], Date.now() + this.form.file.name)
          }
        })
        try {
          const { success, message } = await this.$store.dispatch('solicitarCotizacion', formData)
          if (success) {
            this.$emit('input', true)
          } else {
            this.$store.commit('NOTIFY', message)
          }
          this.loading = false
        } catch (error) {
          this.loading = false
          console.log('error', error)
        }
      }
    },
    // save () {
    //   this.$emit('input', true)
    // },
    fillUserData () {
      if (this.user.datos_personales) {
        const { nombres, email, telefono } = this.user.datos_personales
        this.form.nombre = nombres
        this.form.email = email
        this.form.telefono = telefono
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.card-text-color {
  color: rgba(0, 0, 0, 0.7);
}
.first-column {
  @media ($desktop) {
    border-right: 1px solid $border-color;
  }
}
</style>
