<template>
  <div>
    <div v-if="emailSent" class="px-6 card-subtitle-color">
      <h2 class="font-weight-regular pt-5 pb-3 text-uppercase">¡{{ $t('forms.forgotPassForm.done') }}!</h2>
      <p>
        {{ $t('forms.forgotPassForm.doneText') }}
      </p>
      <p>
        {{ $t('forms.forgotPassForm.doneText_1') }}
      </p>
    </div>
    <form v-else @submit.prevent="send">
      <p class="text--secondary">{{ $t('forms.forgotPassForm.title') }}</p>
      <v-row class="justify-center">
        <v-col v-if="error" cols="10" md="8" class="py-0">
          <p v-if="error" class="error--text mb-0"><small>{{ errorMessage }}</small></p>
        </v-col>
        <v-col cols="10" md="8">
          <v-text-field
            v-model.trim="form.email"
            label="Email"
            :error="error"
            :error-messages="errors"
            outlined
            type="email"
          />
        </v-col>
        <v-col cols="12" class="pt-0">
          <v-btn
            dark
            depressed
            :loading="loading"
            color="primary"
            class="button--form"
            type="submit"
          >
            {{ $t('forms.forgotPassForm.send') }}
          </v-btn>
        </v-col>
      </v-row>
    </form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import Repository from '@/api/Repository'
const User = Repository.get('user')

export default {
  name: 'ForgotPasswordForm',
  validations: {
    form: {
      email: {
        required,
        email
      }
    }
  },
  mixins: [validationMixin],
  data () {
    return {
      form: {
        email: ''
      },
      loading: false,
      error: false,
      errorMessage: '',
      emailSent: false
    }
  },
  computed: {
    errors () {
      const errors = []
      // verificar si ya se ingreso al input, sino regresar array vacio
      if (!this.$v.form.email.$dirty) return errors
      !this.$v.form.email.required && errors.push(this.$t('validations.req'))
      !this.$v.form.email.email && errors.push(this.$t('validations.noValidEmail'))
      return errors
    }
  },
  methods: {
    async send () {
      console.log('send')
      // Mostrar errores de todos los campos todos los campos si los hay
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.loading = true
        try {
          const { success, message, data } = await User.sendResetPassword(this.form)
          if (await success) {
            this.loading = false
            this.emailSent = true
            console.log('success', await message)
          } else {
            if (data.type === 'email') {
              this.error = true
              this.errorMessage = message
            }
            console.log(message)
          }
          this.loading = false
        } catch (error) {
          console.log('error', error)
          this.loading = false
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.card-subtitle-color * {
  color: rgba(0, 0, 0, 0.75);
}
</style>
