<template>
  <form class="w-100" :class="{ 'd-flex': !modal }" @submit.prevent="search">
    <v-text-field
      v-model.trim="searchInput"
      hide-details
      :placeholder="$t('forms.typeYourSearch')"
      outlined
      dense
      flat
      :class="{ 'grey lighten-3': modal }"
    />
    <v-btn
      type="submit"
      depressed
      small
      tile
      height="39"
      color="primary"
      class="btn-submit"
      :block="modal"
    >
      {{ $t('general.search') }}
    </v-btn>
  </form>
</template>

<script>
export default {
  name: 'GeneralSearchForm',
  props: {
    modal: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      searchInput: ''
    }
  },
  methods: {
    search () {
      if (this.searchInput.length < 4) {
        this.$store.commit('NOTIFY', 'Ingrese al menos 4 caracteres para su busqueda')
      } else {
        // console.log('search', this.searchInput)
        // const query = `search=${this.searchInput}`
        this.$router.push({
          name: 'Productos',
          query: {
            search: this.searchInput
          }
          // path: `/productos?${query}`
        }).catch((err) => {
          console.log('err', err)
          this.$store.commit('NOTIFY', 'Su busqueda es similar a la actual')
        })
        this.searchInput = ''
        this.$emit('search')
      }
    }
  }
}
</script>
