<template>
  <form @submit.prevent="login">
    <v-row class="justify-center">
      <v-col cols="10" md="8">
        <v-text-field
          v-model.trim="form.email"
          label="Email"
          :error="error"
          :error-messages="errors('email')"
          :hide-details="!!!errors('email').length"
          :class="{ 'mb-3': !!!errors('email').length }"
          outlined
          type="email"
        />
        <v-text-field
          v-model.trim="form.password"
          :label="$t('forms.password')"
          :error="error"
          :error-messages="errors('password')"
          :hide-details="!!!errors('password').length"
          :class="{ 'mb-3': !!!errors('password').length }"
          outlined
          :append-icon="showPass ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
          :type="showPass ? 'password' : 'text'"
          @click:append="() => (showPass = !showPass)"
        />
      </v-col>
      <v-col cols="12" class="pt-0">
        <v-btn
          dark
          depressed
          :loading="loading"
          color="primary"
          class="button--form"
          type="submit"
        >
          {{ $t('forms.login') }}
        </v-btn>
      </v-col>
    </v-row>
    <p class="text-center">
      <small><i>{{ $t('forms.requiredHintBottom') }}</i></small>
    </p>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'LoginForm',
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: { required }
    }
  },
  mixins: [validationMixin],
  props: {
    redirect: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    errors () {
      /**
       * Regresa una funcion
       * La funcion recibe un parametro el cual se pasa en el v-text-field error-message
       */
      return (input) => {
        const errors = []
        // verificar si ya se ingreso al input, sino regresar array vacio
        if (!this.$v.form[input].$dirty) return errors
        !this.$v.form[input].required && errors.push(this.$t('validations.req'))
        if (input === 'email') {
          !this.$v.form[input].email && errors.push(this.$t('validations.noValidEmail'))
        }
        return errors
      }
    }
  },
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      showPass: Boolean,
      error: false,
      loading: false
    }
  },
  methods: {
    async login () {
      console.log('login')
      // Mostrar errores de todos los campos todos los campos si los hay
      this.$v.$touch()
      // form valido, loguear
      if (!this.$v.$invalid) {
        this.loading = true
        try {
          const { success, message } = await this.$store.dispatch('auth/login', this.form)
          if (await success) {
            this.loading = false
            this.error = false
            console.log('success', await message)
            if (this.redirect) {
              this.$router.replace({ name: 'MiCuenta' })
            }
          } else if (await message === 'credentials') {
            this.error = true
          }
          this.loading = false
        } catch (error) {
          this.loading = false
          console.log('error', error)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
