<template>
  <form @submit.prevent="save">
    <v-row class="justify-center">
      <v-col cols="10" md="8">
        <v-alert
          v-model="alert"
          type="error"
          dense
          outlined
          class="text-left"
          icon="mdi-exclamation"
        >
          <small>{{ errorMessage }}</small>
        </v-alert>
        <v-text-field
          v-model.trim="form.nombre"
          :label="`${$t('forms.name')}(s)`"
          outlined
          hide-details="auto"
          :error-messages="errors('nombre')"
          :class="{ 'mb-3': !!!errors('nombre').length }"
          @blur="$v.form.nombre.$touch()"
        />
        <v-text-field
          v-model.trim="form.apellido"
          :label="$t('forms.lastName')"
          outlined
          hide-details="auto"
          :error-messages="errors('apellido')"
          :class="{ 'mb-3': !!!errors('apellido').length }"
          @blur="$v.form.apellido.$touch()"
        />
        <v-text-field
          v-model.trim="form.email"
          label="Email"
          type="email"
          outlined
          hide-details="auto"
          :error="error"
          :error-messages="errors('email')"
          :class="{ 'mb-3': !!!errors('email').length }"
          @blur="$v.form.email.$touch()"
        />
        <v-text-field
          v-model.trim="form.telefono"
          outlined
          type="tel"
          error-count="2"
          :hint="$t('forms.phoneHint')"
          hide-details="auto"
          :error-messages="errors('telefono')"
          :class="{ 'mb-3': !!!errors('telefono').length }"
          @blur="$v.form.telefono.$touch()"
        >
          <template v-slot:label>
            {{ $t('forms.phone') }}
            <small class="pr-1">({{ $t('forms.optional') }})</small>
          </template>
        </v-text-field>
        <v-text-field
          v-model.trim="form.password"
          :label="$t('forms.password')"
          outlined
          :hint="$t('forms.nPassHint', { len: 6 })"
          hide-details="auto"
          :error-messages="errors('password')"
          :class="{ 'mb-3': !!!errors('password').length }"
          :append-icon="showPass ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
          :type="showPass ? 'password' : 'text'"
          @blur="$v.form.password.$touch()"
          @click:append="() => (showPass = !showPass)"
        />
        <v-text-field
          v-model.trim="form.passwordConfirm"
          :label="$t('forms.passwordConfirm')"
          outlined
          error-count="2"
          hide-details="auto"
          :error-messages="errors('passwordConfirm')"
          :append-icon="showConfirmPass ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
          :type="showConfirmPass ? 'password' : 'text'"
          @blur="$v.form.passwordConfirm.$touch()"
          @click:append="() => (showConfirmPass = !showConfirmPass)"
        />
      </v-col>
      <v-col cols="12">
        <v-btn
          color="primary"
          dark
          class="button--form"
          type="submit"
          :loading="loading"
        >
          {{ $t('forms.signIn') }}
        </v-btn>
      </v-col>
    </v-row>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, numeric, minLength, maxLength, sameAs, helpers } from 'vuelidate/lib/validators'

const alpha = helpers.regex('alpha', /^(?!\s)+([A-Za-zÑñáéíóúÁÉÍÓÚ]{1,})+([\s{1}]+([A-Za-zÑñáéíóúÁÉÍÓÚ]{1,}))*$/)

export default {
  name: 'RegisterForm',
  validations: {
    form: {
      nombre: { required, alpha },
      apellido: { required, alpha },
      email: { required, email },
      telefono: { numeric, minLength: minLength(10), maxLength: maxLength(10) },
      password: { required, minLength: minLength(6) },
      passwordConfirm: { required, sameAsPassword: sameAs('password') }
    }
  },
  mixins: [validationMixin],
  computed: {
    alert () {
      return !!this.errorMessage
    },
    errors () {
      /**
       * Regresa una funcion
       * La funcion recibe un parametro el cual se pasa en el v-text-field error-message
       */
      return (input) => {
        const errors = []
        // verificar si ya se ingreso al input, sino regresar array vacio
        if (!this.$v.form[input].$dirty) return errors
        if (input !== 'telefono') {
          !this.$v.form[input].required && errors.push(this.$t('validations.req'))
        }
        if (input === 'nombre' || input === 'apellido') {
          !this.$v.form[input].alpha && errors.push(this.$t('validations.typeOnlyLetters'))
        }
        if (input === 'email') {
          !this.$v.form[input].email && errors.push(this.$t('validations.validEmail'))
        }
        if (input === 'telefono') {
          !this.$v.form[input].numeric && errors.push(this.$t('validations.onlyNumbers'))
          if (!this.$v.form[input].minLength || !this.$v.form[input].maxLength) errors.push(this.$t('validations.tenDigitsFormat'))
        }
        if (input === 'password') {
          !this.$v.form[input].minLength && errors.push(this.$t('validations.minLength'))
        }
        if (input === 'passwordConfirm') {
          !this.$v.form[input].sameAsPassword && errors.push(this.$t('validations.passConfirmNotMatch'))
        }
        return errors
      }
    }
  },
  data () {
    return {
      form: {
        nombre: '',
        apellido: '',
        email: '',
        telefono: '',
        password: '',
        passwordConfirm: ''
      },
      error: false,
      errorMessage: '',
      loading: false,
      showPass: Boolean,
      showConfirmPass: Boolean
    }
  },
  methods: {
    async save () {
      console.log(this.form)
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.loading = true
        try {
          const { success, message, data } = await this.$store.dispatch('auth/register', this.form)
          if (await success) {
            this.loading = false
            this.error = false
            console.log('success', await message)
            this.$router.replace({ name: 'MiCuenta' })
          } else if (await data === 'email') {
            this.error = true
            this.errorMessage = await message
          }
          this.loading = false
        } catch (error) {
          this.loading = false
          console.log('error', error)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
form {
  width: 100%;
}
</style>
