<template>
  <form @submit.prevent="changePassword" class="white pa-5">
    <p class="my-0">Ingresa la nueva contraseña para tu cuenta.</p>
    <v-row class="justify-center">
      <v-col cols="10" md="8">
        <v-text-field
          v-model.trim="form.password"
          :label="$t('forms.newPass')"
          outlined
          error-count="2"
          :hint="$t('forms.nPassHint', { len: 6 })"
          hide-details="auto"
          dense
          :error-messages="errors('password')"
          :class="{ 'mb-3': !!!errors('password').length }"
          :append-icon="showPass ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
          :type="showPass ? 'password' : 'text'"
          @blur="$v.form.password.$touch()"
          @click:append="() => (showPass = !showPass)"
        />
        <v-text-field
          v-model.trim="form.passwordConfirm"
          :label="$t('forms.confNewPass')"
          outlined
          error-count="2"
          hide-details="auto"
          dense
          :error-messages="errors('passwordConfirm')"
          :append-icon="showConfirmPass ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
          :type="showConfirmPass ? 'password' : 'text'"
          @blur="$v.form.passwordConfirm.$touch()"
          @click:append="() => (showConfirmPass = !showConfirmPass)"
        />
      </v-col>
      <v-col cols="12">
        <v-btn
          dark
          depressed
          :loading="loading"
          color="primary"
          class="button--form"
          type="submit"
        >
          {{ $t('forms.update') }}
        </v-btn>
      </v-col>
    </v-row>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, sameAs } from 'vuelidate/lib/validators'
import Repository from '@/api/Repository'
const User = Repository.get('user')

export default {
  name: 'ResetPasswordForm',
  validations: {
    form: {
      password: { required, minLength: minLength(6) },
      passwordConfirm: { required, sameAspassword: sameAs('password') }
    }
  },
  mixins: [validationMixin],
  props: {
    token: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: ''
    }
  },
  computed: {
    errors () {
      /**
       * Regresa una funcion
       * La funcion recibe un parametro el cual se pasa en el v-text-field error-message
       */
      return (input) => {
        const errors = []
        // verificar si ya se ingreso al input, sino regresar array vacio
        if (!this.$v.form[input].$dirty) return errors
        !this.$v.form[input].required && errors.push(this.$t('validations.req'))
        if (input === 'password') {
          !this.$v.form[input].minLength && errors.push(this.$t('validations.minLength'))
        }
        if (input === 'passwordConfirm') {
          !this.$v.form[input].sameAspassword && errors.push(this.$t('validations.passConfirmNotMatch'))
        }
        return errors
      }
    }
  },
  data () {
    return {
      form: {
        password: '',
        passwordConfirm: ''
      },
      loading: false,
      showPass: Boolean,
      showConfirmPass: Boolean
    }
  },
  methods: {
    async changePassword () {
      console.log(this.form)
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.loading = true
        try {
          const { success, message } = await User.changePasswordReset({
            id: this.id,
            password: this.form.password
          })
          if (!await success) {
            console.log('not success', await message)
            this.loading = false
            return
          } else {
            // Emitir para v-model cierre modal
            console.log('success', await message)
            this.$emit('passwordChange', await message)
            this.loading = false
          }
        } catch (error) {
          this.loading = false
          console.log('error', error)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
