<template>
  <v-row>
    <v-col cols="12">
      <v-checkbox
        v-model="updateShippingInfo"
        :label="$t('forms.updateShippingForm')"
        class="mt-0 d-inline-block"
        hide-details
      />
    </v-col>
    <v-col cols="12" sm="9">
      <v-text-field
        v-model.trim="form.calle"
        :label="$t('profile.street')"
        outlined
        dense
        hide-details="auto"
        :error-messages="errors('calle')"
        @blur="$v.form.calle.$touch()"
        :loading="loading"
        :disabled="loading"
      />
    </v-col>
    <v-col cols="12" sm="3">
      <v-text-field
        v-model.trim="form.num"
        :label="$t('profile.number')"
        outlined
        dense
        hide-details="auto"
        :error-messages="errors('num')"
        @blur="$v.form.num.$touch()"
        :loading="loading"
        :disabled="loading"
      />
    </v-col>
    <v-col cols="12" sm="9">
      <v-text-field
        v-model.trim="form.colonia"
        :label="$t('profile.suburb')"
        outlined
        dense
        hide-details="auto"
        :error-messages="errors('colonia')"
        @blur="$v.form.colonia.$touch()"
        :loading="loading"
        :disabled="loading"
      />
    </v-col>
    <v-col cols="12" sm="3">
      <v-text-field
        v-model.trim="form.codigo_postal"
        :label="$t('profile.cp')"
        outlined
        dense
        hide-details="auto"
        :error-messages="errors('codigo_postal')"
        error-count="2"
        @blur="$v.form.codigo_postal.$touch()"
        :loading="loading"
        :disabled="loading"
      />
    </v-col>
    <v-col cols="12" sm="6">
      <v-autocomplete
        v-model="form.estado"
        :items="$store.state.estados || []"
        :label="$t('profile.state')"
        autocomplete="none"
        dense
        hide-details="auto"
        outlined
        clearable
        :error-messages="errors('estado')"
        @blur="$v.form.estado.$touch()"
        @click:clear="estadoCleared"
        @change="$store.dispatch('getMunicipios', $event)"
        :loading="loading"
        :disabled="loading"
      />
    </v-col>
    <v-col cols="12" sm="6">
      <v-autocomplete
        v-model="form.municipio"
        :items="$store.state.municipios || []"
        :label="$t('profile.city')"
        autocomplete="none"
        dense
        hide-details="auto"
        outlined
        clearable
        :error-messages="errors('municipio')"
        @blur="$v.form.municipio.$touch()"
        :disabled="!$store.state.municipios.length || loading"
        :loading="loading"
      />
    </v-col>
    <v-col cols="12">
      <v-checkbox
        v-model="showLocalidad"
        :label="$t('forms.addTown')"
        class="mt-0 mb-6 d-inline-block"
        hide-details
      />
      <v-text-field
        v-if="showLocalidad"
        v-model.trim="form.localidad"
        :label="$t('profile.town')"
        outlined
        dense
        hide-details="auto"
        class="mb-6"
        :loading="loading"
        :disabled="loading"
      />
      <v-textarea
        v-model="form.referencias"
        :label="$t('profile.details')"
        :placeholder="$t('forms.detailsPlaceholder')"
        outlined
        :hint="$t('forms.detailsHint')"
        dense
        rows="2"
        row-height="35"
        auto-grow
        hide-details="auto"
        :loading="loading"
      />
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, numeric, minLength, maxLength } from 'vuelidate/lib/validators'
import Repository from '@/api/Repository'
const User = Repository.get('user')

export default {
  name: 'ShippingForm',
  validations: {
    form: {
      calle: { required },
      num: { required, numeric },
      colonia: { required },
      codigo_postal: { required, numeric, minLength: minLength(5), maxLength: maxLength(5) },
      estado: { required },
      municipio: { required }
    }
  },
  mixins: [validationMixin],
  props: {
    hasShippingInfo: {
      type: Boolean,
      default: false
    }
  },
  created () {
    /**
     * Verificar listado de estados para setear data
     */
    if (!this.$store.state.estados.length) this.$store.dispatch('getEstados')
  },
  mounted () {
    /**
     * Setear opcion para actualizar info de envio a true si no se tiene info completa de envio
     */
    this.updateShippingInfo = !this.hasShippingInfo
    this.getUser()
  },
  watch: {
    // Verificar nested value, si no esta check agregar localidad setear a ''
    showLocalidad (val) {
      if (!val) this.form.localidad = ''
    }
  },
  computed: {
    errors () {
      /**
       * Regresa una funcion
       * La funcion recibe un parametro el cual se pasa en el v-text-field error-message
       */
      return (input) => {
        const errors = []
        // verificar si ya se ingreso al input, sino regresar array vacio
        if (!this.$v.form[input].$dirty) return errors
        if (input === 'codigo_postal') {
          !this.$v.form[input].numeric && errors.push(this.$t('validations.onlyNumbers'))
          if (!this.$v.form[input].minLength || !this.$v.form[input].maxLength) errors.push(this.$t('validations.cpFormat'))
        }
        if (input === 'num') {
          !this.$v.form[input].numeric && errors.push(this.$t('validations.onlyNumbers'))
        }
        !this.$v.form[input].required && errors.push(this.$t('validations.req'))
        return errors
      }
    },
    ...mapState({
      token: state => state.auth.token,
      userData: state => state.auth.user // Se utiliza en watch
    })
  },
  data () {
    return {
      form: {
        nombre: '',
        apellido: '',
        telefono: '',
        calle: '',
        num: '',
        colonia: '',
        codigo_postal: '',
        estado: '',
        localidad: '',
        municipio: '',
        referencias: ''
      },
      showLocalidad: false,
      updateShippingInfo: false,
      loading: false
    }
  },
  methods: {
    async check () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        /**
         * Si quiere actualizar info de envio se ejecuta update y solo en caso de fallar se envia respuesta de error
         */
        if (this.updateShippingInfo && !await this.updateUser()) {
          return Promise.resolve({
            valid: false,
            form: {}
          })
        }
        this.$store.dispatch('cart/setShippingInfo', this.form)
        this.$router.push({ name: 'CartResumen' })
      }
      return Promise.resolve({
        valid: false,
        form: {}
      })
    },
    estadoCleared () {
      this.$store.commit('SET_MUNICIPIOS', [])
      this.form.estado = ''
      this.form.municipio = ''
    },
    async getUser () {
      if (!this.token) {
        this.$router.replace({
          name: 'Login'
        })
      } else {
        try {
          const { success, data } = await User.info(this.token)
          /**
           * Completar datos solo si no tiene info nada de de envio
           */
          if (success) {
            /**
             * No tiene info de evnio, se completan inputs con los datos que tenga
             */
            if (!this.hasShippingInfo) {
              this.form = data.domicilio
              this.form.nombre = data.datos_personales.nombres
              this.form.apellido = data.datos_personales.apellidos
              this.form.telefono = data.datos_personales.telefono
              /**
               * Autocompletar listade municipios relativos al estado
               */
              if (data.domicilio.estado) {
                this.$store.dispatch('getMunicipios', data.domicilio.estado)
              }
            } else {
              /**
               * Si tiene info de envio pero quiere agregar una nueva
               * Setear datos de usuario para caso en que quiera actualizar su info
               */
              this.form.nombre = data.datos_personales.nombres
              this.form.apellido = data.datos_personales.apellidos
              this.form.telefono = data.datos_personales.telefono
            }
          }
        } catch (error) {
          this.$store.commit('NOTIFY', error)
          console.log(error)
        }
      }
    },
    async updateUser () {
      if (this.form.nombre && this.form.apellido && this.form.telefono) {
        this.loading = true
        try {
          this.form.cp = this.form.codigo_postal
          const { success } = await this.$store.dispatch('auth/updateUser', this.form)
          this.loading = false
          return success
        } catch (error) {
          this.loading = false
          console.log('error', error)
          return false
        }
      } else {
        this.$store.commit('NOTIFY', 'No se pudo actualizar información de envio')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.button--form {
  text-transform: initial;
}
.cp-width {
  width: 20%;
}
</style>
