<template>
  <form :class="{ 'loading-opacity' : loading }">
    <v-row>
      <v-col cols="12" md="6" class="border-right">
        <div class="user-info">
          <h4 class="font-weight-regular mb-3"><small>CONTACTO:</small></h4>
          <v-row>
            <v-col cols="12" sm="6">
              <v-text-field
                v-model.trim="form.nombre"
                :label="`${$t('forms.name')}(s)`"
                hide-details="auto"
                outlined
                dense
                :error-messages="errors('nombre')"
                @blur="$v.form.nombre.$touch()"
              />
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field
                v-model.trim="form.apellido"
                :label="$t('forms.lastName')"
                hide-details="auto"
                outlined
                dense
                :error-messages="errors('apellido')"
                @blur="$v.form.apellido.$touch()"
              />
            </v-col>
            <v-col cols="12">
              <p class="pt-1 px-3 grey lighten-4 text--secondary rounded">
              <span>Email:</span> <br>
                {{ user.email }}
              </p>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model.trim="form.telefono"
                :label="$t('forms.phone')"
                outlined
                dense
                hide-details="auto"
                :hint="$t('forms.phoneHint')"
                type="tel"
                :error-messages="errors('telefono')"
                @blur="$v.form.telefono.$touch()"
              />
            </v-col>
          </v-row>
          <!-- <div class="d-flex">
          </div> -->
          <h4 class="font-weight-regular mt-5">
            <a @click.prevent="passwordModal = true" class="text-uppercase">
              <small>{{ $t('forms.changePass') }}</small>
            </a>
          </h4>
        </div>
      </v-col>
      <v-col cols="12" md="6">
        <div class="user-info">
          <h4 class="font-weight-regular text-uppercase mb-3">
            <small>{{ $t('profile.shipping') }}</small>
          </h4>
          <v-row>
            <v-col cols="12" sm="9">
              <v-text-field
                v-model.trim="form.calle"
                :label="$t('profile.street')"
                outlined
                dense
                hide-details="auto"
              />
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field
                v-model.trim="form.num"
                :label="$t('profile.number')"
                outlined
                dense
                hide-details="auto"
              />
            </v-col>
            <v-col cols="12" sm="9">
              <v-text-field
                v-model.trim="form.colonia"
                :label="$t('profile.suburb')"
                outlined
                dense
                hide-details="auto"
              />
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field
                v-model.trim="form.cp"
                :label="$t('profile.cp')"
                outlined
                dense
                :error-messages="errors('cp')"
                error-count="2"
                hide-details="auto"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="6">
              <v-autocomplete
                v-model="form.estado"
                :items="$store.state.estados || []"
                :label="$t('profile.state')"
                autocomplete="none"
                dense
                hide-details
                outlined
                clearable
                @click:clear="estadoCleared"
                @change="$store.dispatch('getMunicipios', $event)"
              />
            </v-col>
            <v-col cols="12" sm="6">
              <v-autocomplete
                v-model="form.municipio"
                :items="$store.state.municipios || []"
                :label="$t('profile.city')"
                autocomplete="none"
                dense
                hide-details
                outlined
                clearable
                :disabled="!$store.state.municipios.length"
              />
            </v-col>
          </v-row>
          <!-- <v-text-field
            v-model.trim="form.direccion"
            :label="$t('profile.address')"
            outlined
            dense
            hide-details="auto"
            class="mb-5"
          /> -->
          <v-checkbox
            v-model="showLocalidad"
            :label="$t('forms.addTown')"
            class="mt-0 mb-5 d-inline-block"
            hide-details
          />
          <v-text-field
            v-if="showLocalidad"
            v-model.trim="form.localidad"
            :label="$t('profile.town')"
            outlined
            dense
            hide-details="auto"
            class="mb-5"
          />
          <v-textarea
            v-model="form.referencias"
            :label="$t('profile.details')"
            :placeholder="$t('forms.detailsPlaceholder')"
            outlined
            :hint="$t('forms.detailsHint')"
            dense
            rows="2"
            row-height="35"
            auto-grow
          />
        </div>
        <div class="text-right">
          <v-btn
            type="button"
            color="primary"
            depressed
            :ripple="false"
            class="button--form"
            :loading="loading"
            @click="save"
          >
            {{ $t('forms.saveChanges') }}
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-dialog
      v-model="passwordModal"
      max-width="350"
      overlay-opacity="0.35"
    >
      <!-- Destruir componente on close modal (no mantener datos en input) -->
      <div class="relative">
        <v-btn
          icon
          small
          class="modal-close"
          @click="passwordModal = false"
        >
          <v-icon small>mdi-close</v-icon>
        </v-btn>
        <change-password-form v-if="passwordModal" @passwordChange="passwordChange"/>
      </div>
    </v-dialog>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, numeric, minLength, maxLength, helpers } from 'vuelidate/lib/validators'
import ChangePasswordForm from '@/components/forms/ChangePasswordForm'

const alpha = helpers.regex('alpha', /^(?!\s)+([A-Za-zÑñáéíóúÁÉÍÓÚ]{1,})+([\s{1}]+([A-Za-zÑñáéíóúÁÉÍÓÚ]{1,}))*$/)

export default {
  name: 'UserProfileForm',
  validations: {
    form: {
      nombre: { required, alpha },
      apellido: { required, alpha },
      telefono: { numeric, minLength: minLength(10), maxLength: maxLength(10) },
      cp: { numeric, minLength: minLength(5), maxLength: maxLength(5) }
    }
  },
  mixins: [validationMixin],
  components: {
    ChangePasswordForm
  },
  props: {
    userData: {
      type: Object,
      default: () => {}
    },
    value: { // Parametro para avisar cuando se realiza el update: pasa variable edit
      type: Boolean,
      default: false
    }
  },
  created () {
    const estado = this.$store.state.auth.user.domicilio.estado
    if (!this.$store.state.estados.length) this.$store.dispatch('getEstados')
    if (estado) this.$store.dispatch('getMunicipios', estado)
  },
  computed: {
    errors () {
      /**
       * Regresa una funcion
       * La funcion recibe un parametro el cual se pasa en el v-text-field error-message
       */
      return (input) => {
        const errors = []
        // verificar si ya se ingreso al input, sino regresar array vacio
        if (!this.$v.form[input].$dirty) return errors
        if (input !== 'telefono' && input !== 'cp') {
          !this.$v.form[input].required && errors.push(this.$t('validations.req'))
        }
        if (input === 'nombre' || input === 'apellido') {
          !this.$v.form[input].alpha && errors.push(this.$t('validations.typeOnlyLetters'))
        }
        if (input === 'telefono') {
          !this.$v.form[input].numeric && errors.push(this.$t('validations.onlyNumbers'))
          if (!this.$v.form[input].minLength || !this.$v.form[input].maxLength) errors.push(this.$t('validations.tenDigitsFormat'))
        }
        if (input === 'cp') {
          !this.$v.form[input].numeric && errors.push(this.$t('validations.onlyNumbers'))
          if (!this.$v.form[input].minLength || !this.$v.form[input].maxLength) errors.push(this.$t('validations.cpFormat'))
        }
        return errors
      }
    },
    user () {
      return this.userData.datos_personales || {}
    }
  },
  watch: {
    // Verificar nested value, si no esta check agregar localidad setear a ''
    showLocalidad (val) {
      if (!val) this.form.localidad = ''
    }
  },
  data () {
    return {
      form: {
        nombre: this.userData.datos_personales.nombres || '',
        apellido: this.userData.datos_personales.apellidos || '',
        telefono: this.userData.datos_personales.telefono || '',
        calle: this.userData.domicilio.calle || '',
        num: this.userData.domicilio.num || '',
        colonia: this.userData.domicilio.colonia || '',
        cp: this.userData.domicilio.codigo_postal || '',
        estado: this.userData.domicilio.estado || '',
        localidad: this.userData.domicilio.localidad || '',
        municipio: this.userData.domicilio.municipio || '',
        referencias: this.userData.domicilio.referencias || ''
      },
      showLocalidad: false,
      loading: false,
      passwordModal: false
    }
  },
  methods: {
    async save () {
      console.log(this.form)
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.loading = true
        try {
          const { success, message } = await this.$store.dispatch('auth/updateUser', this.form)
          if (await success) {
            this.loading = false
            // limpiar data de municipios
            this.$store.commit('SET_MUNICIPIOS', [])
            // Sync mediante v-modal para cambiar de form a listado de info
            this.$emit('input', false)
            console.log('success', await message)
          }
          this.loading = false
        } catch (error) {
          this.loading = false
          console.log('error', error)
        }
      }
    },
    estadoCleared () {
      this.$store.commit('SET_MUNICIPIOS', [])
      this.form.estado = ''
      this.form.municipio = ''
    },
    passwordChange () {
      this.passwordModal = false
      this.$emit('input', false)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/editable-form.scss';
</style>
